﻿@model API.Areas.Admin.Models.CategoriesArticles.CategoriesArticlesModel
@{
    ViewData["Title"] = Model.Item.Title;
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }

    ViewData["Title"] = (Model.Item.Title);
    ViewData["Description"] = (Model.Item.Metadesc);
    ViewData["Keywords"] = (Model.Item.Metakey);
    ViewData["Url"] = "";
    ViewData["Images"] = Domain + Model.Item.Images;

}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb pl-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-dark" href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@(Model.Item.Title)</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row categoryList">
    @if (Model.ListItems == null || Model.ListItems.Count() == 0)
    {
        <div class="col-lg-12">
            <p class="text-center">Chưa có bài đăng</p>
        </div>

    }
    else
    {
        for (int i = 0; i < Model.ListItems.Count(); i++)
        {

            <div class="col-md-4 col-6 ">
                <div class="card-cat">
                    <div class="card-cat-img">
                        @if (Model.ListItems[i].Images == null || @Model.ListItems[i].Images == "" || Model.ListItems[i].Images.ToLower() == "/cms/content/tintuc/")
                        {
                            <img style="width:50px;height:50px;" src="~/uploads/categories/no-img.png" alt="@Model.ListItems[i].Title">
                        }
                        else
                        {

                            <img style="width:50px;height:50px;" src="@Model.ListItems[i].Images" alt="@Model.ListItems[i].Title">
                        }
                        
                    </div>
                    <div class="card-cat-title"><a asp-controller="Articles" asp-action="GetByCat" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></div>
                </div>
                
            </div>

        }
    }
</div>
