﻿@model API.Areas.Admin.Models.CategoriesArticles.CategoriesArticlesModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Danh Mục";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Danh Mục";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string Link = "/categories/" + Model.Item.Alias + "-" + Model.Item.Id + ".html";

    string ClsCulturVI = "active show";
    string ClsCulturEN = "";
    if (Model.Item.Culture == "en")
    {
        ClsCulturVI = "";
        ClsCulturEN = "active show";
    }
    else
    {
        ClsCulturVI = "active show";
        ClsCulturEN = "";

    }
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_PartialMsgInfoAdmin" />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @ClsCulturVI" id="config-vi-tab" onclick="ChangeLanguage('@Model.Item.Culture','vi','/Admin/@ControllerName/SaveItem?Culture=vi&Id=@Model.Item.Ids')">Tiếng Việt</a>
            </li>
            
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade @ClsCulturVI" id="config-vi" role="tabpanel" aria-labelledby="config-vi-tab">
                <form asp-controller="@ControllerName" asp-action="SaveItem" enctype="multipart/form-data" method="post">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Item.Title" class="control-label">Tên</label>
                                <input asp-for="Item.Title" class="form-control Changetitle namepr" />
                                <span asp-validation-for="Item.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Link Danh mục tin tức</label>
                                <input readonly class="form-control" value="@Link" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label asp-for="Item.ParentId">Danh mục cha <sup class="text-danger"> (*)</sup></label>
                                <select asp-for="Item.ParentId" class="form-control" asp-items="Model.ListItemsDanhMuc"></select>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">&nbsp;</label>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input asp-for="Item.Status" class="custom-control-input" />
                                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                                        </div>

                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            <input asp-for="Item.FeaturedHome" class="custom-control-input" />
                                            <label class="custom-control-label" asp-for="Item.FeaturedHome">Hiện trang chủ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Item.Ordering" class="control-label"> Sắp Xếp</label>
                                        <input asp-for="Item.Ordering" class="form-control" />
                                        <span asp-validation-for="Item.Ordering" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label asp-for="Item.Hits" class="control-label">Lượt truy cập</label>
                                        <input asp-for="Item.Hits" class="form-control" />
                                        <span asp-validation-for="Item.Hits" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group images-main">
                                <label>Hình đại diện</label>
                                <img src="@Model.Item.Images" class="Item_Images_Main_Preview" style="max-height:200px;">
                                <input type="hidden" id="Item_Images_Main" class="form-control" asp-for="Item.Images">
                                <a onclick="ShowManagerFile('Item_Images_Main')" class="btn btn-primary">Chọn hình</a>
                                <a onclick="ViewImageMain('Item_Images_Main')"> <i class="fas fa-eye"></i> Xem ảnh</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Item.Description" class="control-label">Mô tả</label>
                                <textarea asp-for="Item.Description" class="form-control"></textarea>
                            </div>
                        </div>


                    </div>

                   
                    <div class="row">

                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaTitle">Meta Title</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaTitle">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaH1">Meta H1</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="Item.MetadataCV.MetaH3">Meta H3</label>
                                <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH3">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metadesc" class="control-label"></label>
                                <textarea asp-for="Item.Metadesc"  class="form-control"></textarea>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Item.Metakey" class="control-label"></label>
                                <textarea asp-for="Item.Metakey"  class="form-control"></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary" id="SaveItem_vi" name="SaveItem" value="Lưu">
                                <i class="fas fa-save"></i> Lưu lại
                            </button>
                            <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                        </div>
                    </div>

                    <input type="hidden" class="form-control" asp-for="Item.Id">
                    <input type="hidden" class="form-control" asp-for="Item.Ids">
                    <input type="hidden" class="form-control" name="Item.Culture" id="Culture_vi" value="vi">
                    <input type="hidden" class="form-control" name="Item.Link" id="Link_vi" value="">

                </form>
            </div>
          
        </div>
        
    </div>
</div>

<partial name="_PartialTinymce" />
@section Scripts{
    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>
}