﻿@using Microsoft.AspNetCore.Http
@using API.Areas.Admin.Models.Articles;
@using API.Areas.Admin.Models.Menus;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_LayoutHome";
    API.Areas.Admin.Models.SYSParams.SYSConfig ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }
    ViewData["Title"] = ItemConfig.WebsiteName;
    ViewData["Description"] = ItemConfig.SEODescription;
    ViewData["Keywords"] = ItemConfig.SEOKeyword;
    ViewData["Url"] = Domain;
    ViewData["Images"] = Domain + "/uploads/tin-tuc/4_3.jpg";

}


@await Html.PartialAsync("_PartialFeaturedArticles", new API.Areas.Admin.Models.Articles.ArticlesModel { ListItems = Model.ListFeaturedArticles })


@* @if (ItemConfig.FlagProductNewHomeSLS == "1")
{
    <!--====================  End of icon feature area  ====================-->
    @await Html.PartialAsync("_PartialProductsNew_SLS", new API.Areas.Admin.Models.Products.ProductsModel { ListItems = Model.ListFeaturedProducts })
} *@

@if (ItemConfig.FlagCatHome == "1")
{
    <!--====================  End of icon feature area  ====================-->
    @await Html.PartialAsync("_PartialProductsByCat", new API.Areas.Admin.Models.Products.ProductsModel { ListCat = Model.ListCatProduct, ListItems = Model.ListProductsByCat })
}

@if (ItemConfig.FlagCatHomeSLS == "1")
{
    <!--====================  End of icon feature area  ====================-->
    @await Html.PartialAsync("_PartialProductsByCat_SLS", new API.Areas.Admin.Models.Products.ProductsModel { ListCat = Model.ListCatProduct, ListItems = Model.ListProductsByCat })
}

<!--====================  icon feature area ====================-->
@*@await Html.PartialAsync("_PartialFeatureIcon", ItemConfig)*@
<!--==================== End icon feature area ====================-->

@await Html.PartialAsync("_PartialPartner", new API.Areas.Admin.Models.Banners.BannersModel { ListItems = Model.ListPartner })

<!--====================  Featured Categories area ====================-->
@* @await Html.PartialAsync("_PartialCategoriesProductFeatured", new API.Areas.Admin.Models.CategoriesProducts.CategoriesProductsModel { ListItems = Model.ListCatProduct }) *@
<!--==================== End Featured Categories area ====================-->


@if (ItemConfig.FlagNewsletter == "1") 
{ 
    <partial name="_PartialNewsletter" />

}
@* @section Scripts {

}
    <script>
        function increaseQuantity(id) {
            var value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById(id).value = value;
        }

        function decreaseQuantity(id) {
            var value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById(id).value = value;
        }
    </script> *@

@section Scripts{

    <script>
        function addToCartWithQuantity(ids, id) {
            var quantity = parseInt(document.getElementById(id).value, 10);
            console.log(ids);
            console.log(document.getElementById(id));
            AddToCart(ids, quantity);
        }

        function increaseQuantity(id) {
            var value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById(id).value = value;
            // var input = document.getElementById(id);
            // input.value = parseInt(input.value) + 1;
            console.log(id);
            console.log(document.getElementById(id));
        }

        function decreaseQuantity(id) {
            var value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById(id).value = value;
            // var input = document.getElementById(id);
            // input.value = parseInt(input.value) -1;
            console.log(id);
            console.log(document.getElementById(id));
        }
    </script>

    @if (ItemConfig.FlagCatHomeSLS == "1")
    {
        <script>
            $('.products-by-cat-home').owlCarousel({
                loop: false,
                margin: 6,
                nav: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            });


        </script>
    }

    @if (ItemConfig.FlagProductNewHomeSLS == "1")
    {
        <script>
            $('.products-new-home').owlCarousel({
                loop: true,
                margin: 6,
                nav: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        </script>
    }

}