﻿@model API.Areas.Admin.Models.Products.ProductsModel
@{
    // Layout = "_LayoutProductLeft";
    // ViewData["Title"] = "Tìm kiếm sản phẩm";

    // string Domain = "";
    // if (Context.Request.IsHttps)
    // {
    //     Domain = "https://" + Context.Request.Host;
    // }
    // else
    // {
    //     Domain = "http://" + Context.Request.Host;
    // }
  
  
    // string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb content  =======-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white pl-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
                <!--=======  End of breadcrumb content  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<div class="page-section">

    <div class="row">

        <div class="col-lg-12 order-1 order-lg-2">
            <!--=======  shop banner  =======-->

            <div class="shop-banner mb-30">
                <img src="~/Templates/Default/img/banners/shop-banner.jpg" class="img-fluid" alt="">
            </div>

            <!--=======  End of shop banner  =======-->
            @if (Model.ListItems != null && Model.ListItems.Count() > 0)
            {

                <!--=======  shop page content  =======-->

                <div class="row shop-product-wrap list mb-10">
                    @for (int i = 0; i < Model.ListItems.Count(); i++)
                    {
                        <div class="col-12 col-lg-4 col-md-6 col-sm-6 mb-20">
                            <!--=======  grid view product  =======-->

                            <div class="single-slider-product grid-view-product">
                                <div class="single-slider-product__image">
                                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                                        <img src="@Model.ListItems[i].Image" class="img-fluid" alt="@Model.ListItems[i].Title">
                                    </a>

                                    <div class="hover-icons" style="display:none;">
                                        <ul>
                                            <li><a data-toggle="modal" data-target="#quick-view-modal-container" href="javascript:void(0)"><i class="icon-eye"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="icon-sliders"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="single-slider-product__content">
                                    <p class="product-title"><a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></p>
                                   @*  <div class="rating">
                                        @for (int s = 1; s <= 5; s++)
                                        {
                                            if (s <= Model.ListItems[i].Star)
                                            {
                                                <i class="bx bxs-star"></i>
                                            }
                                            else
                                            {
                                                <i class="bx bx-star"></i>
                                            }

                                        }
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 9px 0px 0px 9px; border: none; height: 44px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                                </svg>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control" id="@Model.ListItems[i].Id" value="1">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 0px 9px 9px 0px; border: none; height: 44px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="product-price">
                                        <span class="discounted-price">@Model.ListItems[i].PriceDisplay</span>
                                        @if (Model.ListItems[i].PriceDeal > 0)
                                        {
                                            <span class="main-price discounted">@Model.ListItems[i].PriceDealDisplay</span>
                                        }
                                    </p>
                                    <span class="cart-icon"><a href="javascript:void(0)" onclick="addToCartWithQuantity(@Model.ListItems[i].Id,'@Model.ListItems[i].Id')" data-ids="@Model.ListItems[i].Ids"><i class="icofont-shopping-cart"></i></a></span>
                                     <span class="cart-icon"><a href="javascript:void(0)" onclick="AddToCart('@Model.ListItems[i].Ids',1)" data-ids="@Model.ListItems[i].Ids"><i class="icofont-shopping-cart"></i></a></span>  *@
                                </div>
                                @if (Model.ListItems[i].Discount != 0)
                                {
                                    <span class="discount-label discount-label--static discount-label--red mb-10">@Model.ListItems[i].Discount@("%")</span>
                                }
                            </div>



                        </div>
                    }
                </div>

                <!--=======  End of shop page content  =======-->
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)

            }
            else
            {
                <div class="text-center">Sản phẩm đang được cập nhật</div>
            }
        </div>


    </div>
</div>

@section Scripts {

}
<script>

    function AddToCart2(Id, Quantity) {
        $.ajax({
            url: "/Products/AddCartSearch?Id=" + Id + "&Quantity=" + Quantity,
            method: 'GET',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                window.location.replace("/gio-hang.html");
                $(".cart-counter").html(result.Data);
            },
            error: function () {

            }
        });
    }

    function addToCartWithQuantity(ids, id) {
        var quantity = parseInt(document.getElementById(id).value, 10);
        console.log(id);
        console.log(ids);
        console.log(document.getElementById(id).value);
        AddToCart2(ids, quantity);
    }

    function increaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(id).value = value;
        console.log(document.getElementById(id).value);
    }

    function decreaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById(id).value = value;
        console.log(document.getElementById(id).value);
    }
</script>


