﻿@model API.Areas.Admin.Models.Search.SearchAllModel

@{
    ViewData["Title"] = "Tìm Kiếm";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@(ViewData["Title"])</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row categoryList">
    @if (Model.ListItems == null || Model.ListItems.Count() == 0)
    {
        <div class="col-lg-12">
            <p class="text-center">Chưa có bài đăng</p>
        </div>

    }
    else
    {
        for (int i = 0; i < Model.ListItems.Count(); i++)
        {

            <div class="col-md-12 col-sm-12 col-xs-12 ">

                <div class="article-item">
                    <a class="img" asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                        @if (Model.ListItems[i].Images == null || @Model.ListItems[i].Images == "" || Model.ListItems[i].Images.ToLower() == "/cms/content/tintuc/")
                        {
                            <img src="/Home/ResizeImage?url=/images/no-image.png&width=195&height=130">
                        }
                        else
                        {

                            <img class="mr-3" src="@Model.ListItems[i].Images" style="width:195px;height:130px;" alt="@Model.ListItems[i].Title">
                        }
                    </a>
                    <div class="article-item-body ps-3">
                        <h4><a asp-controller="Articles" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></h4>
                        <div class="text-justify">@Html.Raw(API.Models.MyHelper.StringHelper.StringReadmore(Model.ListItems[i].IntroText, 300))</div>
                    </div>
                </div>
            </div>

        }
    }
</div>
<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_PartialPagination", Model.Pagination)
    </div>

</div>
