﻿@using API.Areas.Admin.Models.Menus;
@using Microsoft.AspNetCore.Http
@using System.Globalization;
@{
    ViewData["Title"] = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int IdCoQuan = int.Parse(Context.Session.GetString("DomainId").ToString());
    var ListMenu = MenusService.GetListByParrent(0, IdCoQuan, 0, CultureInfo.CurrentCulture.Name.ToLower());
}
<div class="row PageDetail PageDetail">

    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white pl-0">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="#">Sơ đồ cổng thông tin</a></li>
            </ol>
        </nav>
    </div>
    <div class="col-md-12 sitemap-body">
        <section class="nav-sitemap">

            <ul>
                @for (int i = 0; i < ListMenu.Count(); i++)
                {
                    if (ListMenu[i].ChildCount > 0)
                    {
                        @await Html.PartialAsync("_PartialMenuChild", ListMenu[i]);
                    }
                    else
                    {
                        <li>
                            @if (ListMenu[i].Icon != null && ListMenu[i].Icon != "")
                            {
                                @(ListMenu[i].Icon)
                            }
                            <a href="@ListMenu[i].Link" class="">@ListMenu[i].Title</a>
                        </li>
                    }

                }


            </ul>
        </section>


    </div>
</div>
