﻿@{
    ViewData["Title"] = "Thông báo bảo trì hệ thống";
    Layout = "_LayoutZeRo";

    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }

}
<div class="container">
    <h1 class="title">Thông báo bảo trì website</h1>

    <div class="">
        <div class="box-thong-bao">
            Để nâng cao chất lượng dịch vụ, Ban quản trị website xin thông báo sẽ tiến hành bảo trì hệ thống website <a href="#">@Domain</a>
            trong khoảng thời gian từ <span class="font-weight-bold">07h00 đến 23h00, ngày @DateTime.Now.ToString("dd") tháng @DateTime.Now.ToString("MM") năm @DateTime.Now.ToString("yyyy")</span>.
            Trong thời gian này, Quý khách sẽ không thể truy cập được hệ thống website của <a href="#">@Domain</a>. Rất mong nhận được sự thông cảm của Quý khách cho bất kỳ sự bất tiện nào (nếu có).
            <p class="text-right">Trân trọng cảm ơn.</p>
        </div>

    </div>
</div>


