﻿@model API.Areas.Admin.Models.Reviews.ReviewsModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Review/Liên Kết";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Review/Liên Kết";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.FullName">Tên</label>
                        <input type="text" class="form-control" asp-for="Item.FullName" name="FullName">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.Star">Sao</label>
                        <select asp-for="Item.Star" name="Star" class="form-control" asp-items="Model.ListStar"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="col-lg-12">
                        <div class="form-group images-main">
                            <label>Hình đại diện</label>
                            <img src="@Model.Item.Image" class="Item_Image_Preview" style="max-height:200px;">
                            <input type="hidden" name="Image" id="Item_Image" class="form-control" asp-for="Item.Image">
                            <a onclick="ShowManagerFile('Item_Image')" class="btn btn-primary">Chọn hình</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Ngày Review</label>
                        <div class="input-group date" id="ReviewDateShow" data-target-input="nearest">
                            <input type="text" asp-for="Item.ReviewDateShow" name="ReviewDateShow" class="form-control datetimepicker-input" data-target="#ReviewDateShow" id="ReviewDateShow" />
                            <div class="input-group-append" data-target="#ReviewDateShow" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Featured" name="Featured" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Featured">Nổi bật</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Item.Introtext">Mô tả ngắn</label>
                        <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Item.Description">Nội dung</label>
                        <textarea asp-for="Item.Description" id="NoiDung" name="Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Hủy</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>
<partial name="_PartialTinymce" />
@section Scripts{
    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>
    <script src="~/lib/js/moment.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

    <script>       
        $(function () {
            $('#ReviewDateShow').datetimepicker({
                format: 'DD/MM/YYYY',
            });
        });
    </script>

}