﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IViewLocalizer Localizer
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    int IdCoQuan = 1;
    API.Areas.Admin.Models.SYSParams.SYSConfig ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
    List<API.Areas.Admin.Models.Articles.Articles> ListArticlesHot = API.Areas.Admin.Models.Articles.ArticlesService.GetListNew(0, 0, IdCoQuan);
    List<API.Areas.Admin.Models.Banners.Banners> ListItemsLink = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(2, IdCoQuan);
    List<API.Areas.Admin.Models.Banners.Banners> bannerListPo5 = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(5);
    List<API.Areas.Admin.Models.Documents.Documents> NotificationList = API.Areas.Admin.Models.Documents.DocumentsService.GetListNew(8);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Vendor CSS Files -->
    <link href="~/Templates/Default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/fonts/fonts.css" rel="stylesheet">

    <link href="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Templates/Default/css/jquery.fancybox.min.css">
    <!-- Template Main CSS File -->
    <link href="~/fonts/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Templates/Default/css/@ItemConfig.LayoutSite" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
@*     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@
    <partial name="_PartialSEO" />
    @Html.Raw(ItemConfig.DataHeader)
</head>

<body class="theme-home">
    <partial name="_PartalIcon" />

    <partial name="_CookieConsentPartial" />
    @await Html.PartialAsync("_PartialHeader", ItemConfig)
    @await Html.PartialAsync("_PartialSlideshows", ItemConfig)


    @if (ItemConfig.Slogan != null && ItemConfig.Slogan.Trim() != "")
    {
        <div class="container bg-white">
            <div class="row">
                <div id="marquee">
                    <marquee class="tieude_move">
                        <span class="time_hour">@ItemConfig.Slogan</span>
                    </marquee>
                </div>
            </div>
        </div>
    }

    <div class="container MainContent" id="page-child">
        @RenderBody()
    </div>

    @await Html.PartialAsync("_PartialFooter", ItemConfig)

    <div class="sendPA-wrap">
        <div id="fb-root"></div>
        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>
        <a class="btn-sendPA" href="/lien-he.html"><i class='fas fa-map-marked-alt'></i></a>
        <div style="height:27px"></div>
        <a class="btn-sendPA" href="tel:@ItemConfig.Phone"><img src="/images/phone.png"></a>
        <div style="height:27px"></div>
        <a class="btn-sendPA" href="https://zalo.me/@ItemConfig.Phone)"><img src="/images/zalo.png"></a>        
    </div>

    <input id="token_recaptcha" type="hidden" />
    <!-- Vendor JS Files -->
    <script src="~/Templates/Default/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/Default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/Default/vendor/jquery.easing/jquery.easing.min.js"></script>

    <script src="~/Templates/Default/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Templates/Default/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <script src="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
    <script src="~/Templates/Default/js/jquery.marquee.min.js"></script>
    <script src="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Templates/Default/js/jquery.fancybox.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Templates/Default/js/main.js"></script>
    <script src="~/Templates/Default/js/style-main.js"></script>
@*     <script>
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: true,

            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script> *@
    
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["RecaptchaSettings:SiteKey"]"></script>

    <script>

        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["RecaptchaSettings:SiteKey"]', { action: 'submit' }).then(function (token) {
                $("#token_recaptcha").val(token);
            });
        });

    </script>

    <script>
        // $('.scrollWrap').mCustomScrollbar({
        //     theme: 'dark-3'
        // });
        // $('#main-menu').mCustomScrollbar({
        //     axis: "x"
        // });

    </script>

    <script>


        // $('.scrollWrap').mCustomScrollbar({
        //     theme: 'dark-3'
        // });
        // $('#main-menu').mCustomScrollbar({
        //     axis: "x"
        // });
        $('.marquee').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });

        $('.marqueetop').marquee({
            duration: 15000,
            gap: 250,
            delayBeforeStart: 0,
            direction: 'left',
            duplicated: true
        });

        var zoom = 0;
        $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
            var el = $(this),
                size = parseInt(el.css('font-size'));
            el.data('font-size', size);
        });

        $('#decfont').click(function () {

            var crrLevel = $(".font-zoom #crrLevel").val();
            if (crrLevel >= -8) {
                zoom = zoom - 1;
                $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
                    var el = $(this),
                        size = el.data('font-size');
                    el.css('font-size', Math.max(size + zoom, 0) + 'px');
                });
                $(".font-zoom #crrLevel").val(zoom);
            }

        });

        $('#incfont').click(function () {
            var crrLevel = $(".font-zoom #crrLevel").val();
            if (crrLevel <= 8) {
                zoom = zoom + 1;
                $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
                    var el = $(this),
                        size = el.data('font-size');
                    el.css('font-size', Math.max(size + zoom, 0) + 'px');
                });
            }
            $(".font-zoom #crrLevel").val(zoom);

        });
    </script>
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "121767124348355");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>
    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
