﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();




}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Templates/Default/css/loading.css">
    <link rel="stylesheet" href="~/Templates/Default/css/bootstrap.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Templates/Default/css/stellarnav.css">
    <link rel="stylesheet" href="~/Templates/Default/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Yeseva+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap" rel="stylesheet">

    <partial name="_PartialSEO" />
    

</head>

<body class="theme-black">
    <partial name="_PartalIcon" />
    <partial name="_PartialLoading" />
    <partial name="_CookieConsentPartial" />
    
    @RenderBody()
    

    <script src="~/Templates/Default/js/jquery-3.1.1.min.js"></script>
    <script src="~/Templates/Default/js/bootstrap.min.js"></script>
    <script src="~/Templates/Default/js/stellarnav.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        function SubmitSearch() {
            $('form#search-top').submit();
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
