﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    int IdCoQuan = 1;
    API.Areas.Admin.Models.SYSParams.SYSConfig ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Vendor CSS Files -->
    <link href="~/Templates/Default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/thong-bao-bao-tri.css" />
    <partial name="_PartialSEO" />
    @Html.Raw(ItemConfig.DataHeader)
</head>

<body class="theme-home">

    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <input id="token_recaptcha" type="hidden" />

    <!-- Vendor JS Files -->
    <script src="~/Templates/Default/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/Default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/Default/vendor/jquery.easing/jquery.easing.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
