﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    
    int IdCoQuan = 1;
    API.Areas.Admin.Models.SYSParams.SYSConfig ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
    List<API.Areas.Admin.Models.Articles.Articles> ListArticlesHot = API.Areas.Admin.Models.Articles.ArticlesService.GetListFeaturedHome(0, 0, IdCoQuan);
    List<API.Areas.Admin.Models.Banners.Banners> ListItemsLink = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(2, IdCoQuan);
    List<API.Areas.Admin.Models.Banners.Banners> bannerListPo5 = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(5);

    string js_site = ItemConfig.SiteCode + ".js";
    if (ItemConfig.SiteCode == null || ItemConfig.SiteCode == "")
    {
        js_site = "default.js";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Vendor CSS Files -->
    <link href="~/Templates/Default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Templates/Default/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Templates/Default/css/jquery.fancybox.min.css">
    <!-- Template Main CSS File -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100..900" rel="stylesheet">
    <link href="~/fonts/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Templates/Default/css/@ItemConfig.LayoutSite" />
    <link rel="stylesheet" href="~/Templates/Default/css/mau-xanh.css" />
@*     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@
    <partial name="_PartialSEO" />
    @Html.Raw(ItemConfig.DataHeader)
</head>

<body class="theme-home">
    <partial name="_PartalIcon" />

    <partial name="_CookieConsentPartial" />
    @await Html.PartialAsync("_PartialHeader", ItemConfig)
    @await Html.PartialAsync("_PartialSlideshows", ItemConfig)

    <div class="container MainContent" id="page-child">

        <div class="row">
            <div class="col-lg-9">
                @RenderBody()
            </div>
            <div class="col-lg-3">
                <div class="sidebar sidebar-right pb-3">
                    <div class="headTop">
                        <h2>THÔNG BÁO</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget">

                        <div class="latest-posts">
                            <div class="marquee" style="height:378px">
                                <ul>
                                    @if (ListArticlesHot != null && ListArticlesHot.Count() > 0)
                                    {


                                        @for (int i = 0; i < ListArticlesHot.Count(); i++)
                                        {
                                            <li>
                                                <div class="notifi-item">
                                                    <div class="date">
                                                        @{
                                                            var d = @ListArticlesHot[i].PublishUp;
                                                        }
                                                        @d.Day <br />
                                                        <span>
                                                            @d.ToString("MM")
                                                        </span>

                                                    </div>
                                                    <a class="title" asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticlesHot[i].Id" asp-route-alias="@ListArticlesHot[i].Alias" title="@ListArticlesHot[i].Title">
                                                        @API.Models.MyHelper.StringHelper.StringReadmore(@ListArticlesHot[i].Title, 220)
                                                    </a>
                                                    <div class="clearfix"></div>
                                                </div>

                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!---------Banner Right Bottom ---------->
                    @if (bannerListPo5 != null && bannerListPo5.Count() > 0)
                    {
                        @for (int i = 0; i < bannerListPo5.Count(); i++)
                        {
                            <div class="banner-item">
                                <a href="@bannerListPo5[i].Link" target="@bannerListPo5[i].Target">
                                    <img src="@bannerListPo5[i].Image" class="img-fluid" title="@bannerListPo5[i].Title" />
                                </a>
                            </div>
                        }
                    }

                    @if (ItemConfig.FlagSurvey == "1")
                    {
                        <div class="widget mt-3">
                            <h4 class="widget-title line-bottom">Bình Chọn</h4>
                            <div class="widget-body">
                                @await Html.PartialAsync("_PartialSurvey", ItemConfig)
                            </div>
                        </div>
                    }

                    @if (ListItemsLink != null && ListItemsLink.Count() > 0)
                    {
                        <div class="widget mt-3">
                            <h4 class="widget-title line-bottom">Liên kết website</h4>
                            <div class="widget-body">
                                <select id="RedirectLink" class="form-select form-select-sm rounded-0" aria-label=".form-select-sm example">
                                    @for (int i = 0; i < ListItemsLink.Count(); i++)
                                    {
                                        <option value="@ListItemsLink[i].Link">@ListItemsLink[i].Title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_PartialFooter", ItemConfig)
    <input id="token_recaptcha" type="hidden" />


    @*<div class="sendPA-wrap">
        <a class="btn-sendPA" href="tel:@ItemConfig.Phone"><i class="fa fa-lg fa-phone"></i> <strong>@ItemConfig.Phone</strong></a>
        <div style="height:27px"></div>
        <a class="btn-sendPA" href="https://zalo.me/@ItemConfig.Phone)"><img src="/ttudkhcn/images/zalo.png" width="21px"> <strong>@ItemConfig.Phone</strong></a>
    </div>*@

    <!-- Vendor JS Files -->
    <script src="~/Templates/Default/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/Default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/Default/vendor/jquery.easing/jquery.easing.min.js"></script>

    <script src="~/Templates/Default/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Templates/Default/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Templates/Default/vendor/venobox/venobox.min.js"></script>

    <script src="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>
    <script src="~/Templates/Default/js/jquery.marquee.min.js"></script>
    <script src="~/Templates/Default/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Templates/Default/js/jquery.fancybox.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Templates/Default/js/main.js"></script>
    <script src="~/Templates/Default/js/style-main.js"></script>
    <script src="~/Templates/Default/js/@js_site"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["RecaptchaSettings:SiteKey"]"></script>

    <script>

        grecaptcha.ready(function () {
            grecaptcha.execute('@Configuration["RecaptchaSettings:SiteKey"]', { action: 'submit' }).then(function (token) {
                $("#token_recaptcha").val(token);
            });
        });

    </script>

@*     <script>
        $('.scrollWrap').mCustomScrollbar({
            theme: 'dark-3'
        });

    </script> *@
@*     <script>
        $('#main-menu').mCustomScrollbar({
            axis: "x"
        });

    </script> *@

    <script>
        $('#RedirectLink').on('change', function () {
            var url = $(this).val();
            console.log(url);
            if (url) {
                window.open(url, '_blank');
            }
            return false;
        });


        // $('.scrollWrap').mCustomScrollbar({
        //     theme: 'dark-3'
        // });
        // $('#main-menu').mCustomScrollbar({
        //         axis: "x"
        //     });
        $('.marquee').marquee({
            duration: 15000,
            gap: 13,
            delayBeforeStart: 0,
            direction: 'up',
            duplicated: true,
            startVisible: true
        });

        $('.marqueetop').marquee({
            duration: 15000,
            gap: 250,
            delayBeforeStart: 0,
            direction: 'left',
            duplicated: true
        });

        var zoom = 0;
        $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
            var el = $(this),
                size = parseInt(el.css('font-size'));
            el.data('font-size', size);
        });

        $('#decfont').click(function () {

            var crrLevel = $(".font-zoom #crrLevel").val();
            if (crrLevel >= -8) {
                zoom = zoom - 1;
                $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
                    var el = $(this),
                        size = el.data('font-size');
                    el.css('font-size', Math.max(size + zoom, 0) + 'px');
                });
                $(".font-zoom #crrLevel").val(zoom);
            }

        });

        $('#incfont').click(function () {
            var crrLevel = $(".font-zoom #crrLevel").val();
            if (crrLevel <= 8) {
                zoom = zoom + 1;
                $('.MainContent p *,.MainContent li *,.MainContent div *').each(function () {
                    var el = $(this),
                        size = el.data('font-size');
                    el.css('font-size', Math.max(size + zoom, 0) + 'px');
                });
            }
            $(".font-zoom #crrLevel").val(zoom);

        });

        $(document).ready(function () {
            return $.ajax({
                type: "GET",
                url: "/SiteVisit/index",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $("#SiteVisit_Yesterday").html(data.Yesterday);
                    //$("#SiteVisit_OnlineUserCounter").html(data.OnlineUserCounter);
                    $("#SiteVisit_DateOfWeek").html(data.DateOfWeek);
                    $("#SiteVisit_DateNow").html(data.DateNow);
                    $("#SiteVisit_Total").html(data.Total);
                },
                error: function () {

                }
            });
        });


    </script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
