﻿@using API.Areas.Admin.Models.Menus;
@using Microsoft.AspNetCore.Http
@using System.Globalization;
@{
    
    var ListMenu = MenusService.GetListByParrent(0, 1,0, CultureInfo.CurrentCulture.Name.ToLower());
    
}

<nav class="nav-menu d-block col-md-auto">

    <ul class="d-flow d-lg-flex">
        @for (int i = 0; i < ListMenu.Count(); i++)
        {
            if (ListMenu[i].ChildCount > 0)
            {
                @await Html.PartialAsync("_PartialMenuChild", ListMenu[i]);
            }
            else
            {
                <li>
                    @if (ListMenu[i].Icon != null && ListMenu[i].Icon != "")
                    {
                        @(ListMenu[i].Icon)
                    }
                    <a href="@ListMenu[i].Link" class="">@ListMenu[i].Title</a>
                </li>
            }

        }
     

    </ul>
</nav>
