﻿<div id="vm_login" class="vm_login">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Đăng nhập</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form>
            <div class="form-group">
                <label for="UserName">Tài khoản</label>
                <input v-model="detailItem.UserName" type="text" class="form-control" id="UserName">
            </div>
            <div class="form-group">
                <label for="Password">Mật khẩu</label>
                <input v-model="detailItem.Password" type="password" class="form-control" id="Password">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Đóng</button>
        <button v-if="flagLoading==false" type="button" class="btn btn-primary" v-on:click="login()"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
        <button v-if="flagLoading==true" type="button" class="btn btn-primary">
            <i class="fas fa-sync fa-spin"></i> Đang tải ..
        </button>
    </div>
</div>