﻿@model API.Areas.Admin.Models.Articles.ArticlesModel
@{

}

@if (Model.ListItems != null && Model.ListItems.Count() > 0)
{
<!--====================  blog post slider area ====================-->

<div class="blog-post-slider-area mb-3 pt-md-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title mb-3">
                    <h2>Cây Trồng Nổi Bật</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog post slider wrapper  =======-->

                <div class="blog-post-slider-wrapper">
                    <div class="row">

                        @for (int i = 0; i < Model.ListItems.Count(); i++)
                        {

                        <div class="col-md-3 col-sm-6 col-6">
                            <!--=======  single blog post  =======-->

                            <div class="slider-single-post">
                                <div class="slider-single-post__image">
                                    <a asp-controller="Articles" asp-action="Detail" asp-route-alias="@Model.ListItems[i].Alias" asp-route-id="@Model.ListItems[i].Id">
                                        @if (Model.ListItems[i].Images == null || Model.ListItems[i].Images == "")
                                        {
                                            <img src="~/Templates/Default/img/blog/slider1.jpg" class="img-fluid" alt="@Model.ListItems[i].Title">
                                        }
                                        else
                                        {
                                            <img src="@Model.ListItems[i].Images" class="img-fluid" alt="@Model.ListItems[i].Title">
                                        }
                                    </a>
                                </div>
                                <div class="slider-single-post__content">
                                    <h3 class="post-title">
                                                <a asp-controller="Articles" asp-action="Detail" asp-route-alias="@Model.ListItems[i].Alias" asp-route-id="@Model.ListItems[i].Id" style="display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;">@API.Models.MyHelper.StringHelper.StringReadmore(Model.ListItems[i].Title)</a>
                                    </h3>
                                    <div class="post-meta">
                                        <p class="author-name">Tác giả: <span>Quản trị</span></p>
                                        <p class="post-date">@Model.ListItems[i].PublishUpShow</p>
                                    </div>
                                </div>
                            </div>

                            <!--=======  End of single blog post  =======-->
                        </div>
                        }
                      
                    </div>
                </div>

                <!--=======  End of blog post slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of blog post slider area  ====================-->
}