﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    int IdCoQuan = 1;
    if (Context.Session.GetString("IdCoQuan") != null && Context.Session.GetString("IdCoQuan") != "")
    {
        IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    }
    List<API.Areas.Admin.Models.Banners.Banners> ListItems = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(6, IdCoQuan);
}

@if (ListItems != null && ListItems.Count > 0)
{

<div class="section-partner pb-5 pt-3 mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h3>THƯ VIỆN ẢNH</h3>
                <p>TRANG THÔNG TIN VỀ PHỔ BIẾN GIÁO DỤC PHÁP LUẬT</p>
                <p>Sống và làm việc theo Hiến pháp và Pháp luật</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        @for (int i = 0; i < ListItems.Count; i++)
                        {
                            <div class="owl-item">
                                <a href="#">
                                    <img src="@ListItems[i].Image" class="img-fluid" alt="@ListItems[i].Title">
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="owl-nav">
                    <div class="owl-prev"></div>
                    <div class="owl-next"></div>
                </div>

            </div>
        </div>
    </div>
</div>
}