﻿@model API.Areas.Admin.Models.Menus.Menus;
<li class="drop-down">
    <a class="my-dropdown-toggle" href="@Model.Link">
        @(Model.Title)
    </a>
    <i class="icofont-simple-down my-dropdown-toggle" onclick="dropdownToggleMenu('dropdown-menu-@Model.Id')"></i>
    <ul class="dropdown-menu dropdown-menu-@Model.Id">
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
            if (Model.ListMenus[i].Link != null)
            {
                <li>
                    <a href="@(Model.ListMenus[i].Link)">@(Model.ListMenus[i].Title)</a>
                </li>
            }

        }
    </ul>
</li>

