﻿@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    int IdCoQuan = 1;
    if (Context.Session.GetString("IdCoQuan") != null && Context.Session.GetString("IdCoQuan") != "")
    {
        IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    }
    List<API.Areas.Admin.Models.Banners.Banners> ListItems = API.Areas.Admin.Models.Banners.BannersService.GetListByCat(1, IdCoQuan);
    string str = "active";
    string str_2 = "active";
    
}



@if (ListItems != null && ListItems.Count() > 0)
{
    <div id="block-slideshow" class="d-none d-sm-block">

        <div class="container-fluid" style="padding-left: 0; padding-right: 0">
            <div id="carousel-example-generic" class="carousel slide carousel-fade" data-bs-ride="carousel">
                

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < ListItems.Count(); i++)
                    {
                        @if (i > 0) { str = ""; }

                        <div class="carousel-item  @str">
                            <a href="@ListItems[i].Link">
                                <img src="@ListItems[i].Image" class="d-block w-100" alt="@ListItems[i].Title">
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
}