﻿@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    List<API.Areas.Admin.Models.Articles.Articles> ListArticlesHot = API.Areas.Admin.Models.Articles.ArticlesService.GetListHot(1);
    List<API.Areas.Admin.Models.CategoriesArticles.CategoriesArticles> ListCatFeaturedHome = API.Areas.Admin.Models.CategoriesArticles.CategoriesArticlesService.GetListFeaturedHome(1);
}
<div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
    <div class="sd-blog">
        <div class="input-search">
            <input type="text" class="search" placeholder="Search">
            <button type="submit" class="btn"><i class="fa fa-search fa-2 "></i></button>
        </div>

        <div class="recent">
            <h3>Tin tức mới</h3>
            <div class="heading-border"></div>
                @if (ListArticlesHot != null && ListArticlesHot.Count() > 0)
                {
                    @for (int i = 0; i < ListArticlesHot.Count(); i++)
                    {
                        <div class="other-page">
                            <div class="img-page">
                                <a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticlesHot[i].Id" asp-route-alias="@ListArticlesHot[i].Alias" title="@ListArticlesHot[i].Title">
                                    <img src="@ListArticlesHot[i].Images" style="width:94px;height:83px;" alt="@ListArticlesHot[i].Title">
                                </a>
                            </div>
                            <div class="title-page">
                                <p><a asp-controller="Articles" asp-action="Detail" asp-route-id="@ListArticlesHot[i].Id" asp-route-alias="@ListArticlesHot[i].Alias" title="@ListArticlesHot[i].Title">@ListArticlesHot[i].Title</a></p>
                                
                            </div>
                        </div>
                    }
                }

           </div>

        <div class="cate">
            <h3>Danh mục</h3>
            <div class="heading-border"></div>
            <ul>

                @if (ListCatFeaturedHome != null && ListCatFeaturedHome.Count() > 0)
                {
                    @for (int i = 0; i < ListCatFeaturedHome.Count(); i++)
                    {
                        <li><span><i class="fa fa-chevron-right fa-1" aria-hidden="true"></i></span><a asp-controller="Articles" asp-action="GetByCat" asp-route-id="@ListCatFeaturedHome[i].Id" asp-route-alias="@ListCatFeaturedHome[i].Alias">@ListCatFeaturedHome[i].Title</a></li>
                    }
                }

            </ul>
        </div>

        <div class="tab">
            <h3>Tabs</h3>
            <div class="heading-border"></div>
            <a href="">Food</a>
            <a href="">Pizza</a>
            <a href="">Restaurant</a>
            <a href="">Drink</a>
            <a href="">Menu</a>
            <a href="">Burger</a>
        </div>

    </div>
</div>

<style>
    .other-page {
        display:flex;
    }
    .blog .sd-blog .recent .img-page {
        margin-right: 15px;
    }
    .blog .sd-blog .recent .title-page {
                        padding-top: 0px;
                    }
</style>