﻿@model API.Areas.Admin.Models.CategoriesProducts.CategoriesProductsModel
@{
    string cl_col = "col-md-3 col-sm-6 col-12";
    if (Model.ListItems.Count % 3 == 0)
    {
        cl_col = "col-md-4 col-sm-6 col-12";
    }

}

@if (Model.ListItems != null && Model.ListItems.Count() > 0)
{



<!--====================  category area ====================-->

<div class="category-area mb-4">
    <div class="container">
        <!--=======  section title  =======-->

        <div class="section-title mb-3">
            <h2>Loại Sản Phẩm Nổi Bật</h2>
        </div>

        <!--=======  End of section title  =======-->

        <div class="row">
            <div class="col-lg-12">
                <!--=======  category slider wrapper  =======-->

                <div class="category-slider-wrapper-one">
                    <div class="row">
                        <!--=======  single category item  =======-->
                        @for (int i = 0; i < Model.ListItems.Count(); i++)
                        {
                        <div class="@cl_col">
                            <div class="single-category-item">
                                <div class="single-category-item__image">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                                        @if (Model.ListItems[i].Images == null || Model.ListItems[i].Images == "")
                                        {
                                            <img src="~/Templates/Default/img/category/cat1.jpg" class="img-fluid" alt="@Model.ListItems[i].Title">
                                        }
                                        else
                                        {
                                            <img src="@Model.ListItems[i].Images" class="img-fluid" alt="@Model.ListItems[i].Title">
                                        }

                                    </a>
                                    <div class="single-category-item__image__content">
                                        <h5 class="category-title"><a asp-controller="Products" asp-action="Index" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></h5>
                                        <p class="quntity">@Model.ListItems[i].QuantityProducts Sản phẩm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        <!--=======  End of single category item  =======-->
                    </div>

                </div>

                <!--=======  End of category slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of category area  ====================-->
}