﻿<style>
    /*18.1 loading - 1*/

    

    .loading-area {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        overflow: hidden;
    }

    .loading-box {
        width: 100%;
        height: 100%;
        background-color: #FFF;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        z-index: 9999;
    }

    .loading-pic {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 99999;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<!-- LOADING AREA START ===== -->
<div class="loading-area" id="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-loader">
            <div class="cssload-dots">
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
                <div class="cssload-dot"></div>
            </div>
        </div>
    </div>
</div>
