﻿@model API.Areas.Admin.Models.USUsers.USUsers
@{ 


}
<div id="account_modal" style="display:none;">
    <div class="card border-0">
        <img src="@Model.Avatar" class="card-img-top" id="image_upload_preview" alt="@Model.FullName">
        <div class="card-body p-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item pl-0"><a asp-controller="Account" asp-action="Info">Thông tin tài khoản</a></li>
                <li class="list-group-item pl-0"><a asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a></li>
                <li class="list-group-item pl-0"><a asp-controller="Account" asp-action="Logout">Thoát</a></li>
                <li class="list-group-item list-group-item p-0 m-0 mt-2 text-center">

                    <label class="box-input-file">
                        <input type="file" id="inputFile" name="AvatarUploadImage" style="display:none" v-on:change="readURL();">
                        <i class="fas fa-image"></i> Chọn Hình
                    </label>
                    <a v-if="flagLoading==false" v-on:click="UploadAvatar()" class="btn btn-primary ml-2 btn-sm"><i class="fas fa-save"></i> Cập nhật Hình</a>
                    <button v-if="flagLoading==true" type="button" class="btn btn-primary ml-2 btn-sm">
                        <i class="fas fa-sync fa-spin"></i> Đang tải ..
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
