﻿@model API.Areas.Admin.Models.Menus.Menus;
<li class="drop-down">
    <a class="my-dropdown-toggle" href="@Model.Link" >
        @(Model.Title)
    </a>
    <ul>
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
            if (Model.ListMenus[i].Link != null)
            {
                <li><a href="@(Model.ListMenus[i].Link)">@(Model.ListMenus[i].Title)</a> </li>
            }

        }
    </ul>
</li>

