﻿@{ 
    List<API.Areas.Admin.Models.CategoriesProducts.CategoriesProducts> ListItems = API.Areas.Admin.Models.CategoriesProducts.CategoriesProductsService.GetList();
    List<API.Areas.Admin.Models.Articles.Articles> ListItemNew = API.Areas.Admin.Models.Articles.ArticlesService.GetListHot(1);
}
<!--=======  page sidebar  =======-->

<div class="page-sidebar">

    <!--=======  widget wrapper  =======-->
    <div class="sidebar-widget-wrapper">

        
        <!--=======  sidebar widget  =======-->

        <div class="sidebar-widget pb-10">
            <h3 class="sidebar-widget-title">LOẠI SẢN PHẨM</h3>
            <ul class="category-list border-bottom-0 pb-0">
                @if (ListItems != null && ListItems.Count() > 0)
                {
                    for (int i = 0; i < ListItems.Count(); i++)
                    { 
                        <li>
                            <a asp-controller="Products" asp-action="Index" asp-route-alias="@ListItems[i].Alias" asp-route-id="@ListItems[i].Id">@ListItems[i].Title (@ListItems[i].QuantityProducts)</a>
                        </li>
                    }
                    
                }
                
               
            </ul>
        </div>
        <!--=======  End of sidebar widget  =======-->
        <!--=======  sidebar widget  =======-->

        <div class="sidebar-widget">
            <h3 class="sidebar-widget-title">BÀI VIẾT NỔI BẬT</h3>

            <!--=======  block container  =======-->

            <div class="block-container mt-20">
                @if (ListItemNew != null && ListItemNew.Count() > 0)
                {
                    for (int j = 0; j < ListItemNew.Count(); j++)
                    {
                        <!--=======  single block  =======-->

                        <div class="single-block d-flex">
                            <div class="image">
                                <a asp-controller="Articles" asp-action="Detail" asp-route-alias="@ListItemNew[j].Alias" asp-route-id="@ListItemNew[j].Id">
                                    <img src="@ListItemNew[j].Images" class="img-fluid" alt="@ListItemNew[j].Title">
                                </a>
                            </div>
                            <div class="content">
                                <p><a asp-controller="Articles" asp-action="Detail" asp-route-alias="@ListItemNew[j].Alias" asp-route-id="@ListItemNew[j].Id">@ListItemNew[j].Title</a> <span>@ListItemNew[j].PublishUpShow</span></p>
                            </div>
                        </div>

                        <!--=======  End of single block  =======-->
                    }

                }



            </div>

            <!--=======  End of block container  =======-->
        </div>
       

    </div>
    <!--=======  End of widget wrapper  =======-->



</div>

<!--=======  End of page sidebar  =======-->