﻿
<div class="icon-feature-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  icon feature wrapper  =======-->

                <div class="icon-feature-wrapper">
                    <div class="row row-5">
                        <div class="col-6 col-lg-3 col-sm-6">
                            <!--=======  single icon feature  =======-->

                            <div class="single-icon-feature">
                                <div class="single-icon-feature__icon">
                                    <img src="assets/img/icons/free_shipping.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-feature__content">
                                    <p class="feature-title">Free Shipping</p>
                                    <p class="feature-text">Free shipping on order</p>
                                </div>
                            </div>

                            <!--=======  End of single icon feature  =======-->
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <!--=======  single icon feature  =======-->

                            <div class="single-icon-feature">
                                <div class="single-icon-feature__icon">
                                    <img src="assets/img/icons/support247.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-feature__content">
                                    <p class="feature-title">Support 24/7</p>
                                    <p class="feature-text">Contact us 24 hrs a day</p>
                                </div>
                            </div>

                            <!--=======  End of single icon feature  =======-->
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <!--=======  single icon feature  =======-->

                            <div class="single-icon-feature">
                                <div class="single-icon-feature__icon">
                                    <img src="assets/img/icons/moneyback.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-feature__content">
                                    <p class="feature-title">100% Money Back</p>
                                    <p class="feature-text">You’ve 30 days to Return</p>
                                </div>
                            </div>

                            <!--=======  End of single icon feature  =======-->
                        </div>
                        <div class="col-6 col-lg-3 col-sm-6">
                            <!--=======  single icon feature  =======-->

                            <div class="single-icon-feature">
                                <div class="single-icon-feature__icon">
                                    <img src="assets/img/icons/payment_secure.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-feature__content">
                                    <p class="feature-title">Payment Secure</p>
                                    <p class="feature-text">100% secure payment</p>
                                </div>
                            </div>

                            <!--=======  End of single icon feature  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of icon feature wrapper  =======-->
            </div>
        </div>
    </div>
</div>