﻿@{


}

<!--====================  newsletter area ====================-->
@* <div class="newsletter-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  newsletter wrapper  =======-->

                <div class="newsletter-wrapper newsletter-bg-2">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="newsletter-wrapper__text">
                                <h5>Cập nhật các tin tức mới nhất</h5>
                                <p>Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</p>
                            </div>
                        </div>
                        
                        <div class="col-md-5">
                            <div class="newsletter-wrapper__form">
                                <form asp-controller="Home" asp-action="Newsletter" method="post" id="NewsLetterForm">                                    
                                    <input type="email" id="newsletter-email" placeholder="Nhập địa chỉ email của bạn...">
                                    <button type="button" onclick="SendNewsLetter()" id="newsletter-send">Đăng ký</button>
                                    <button type="button" id="newsletter-nosend" style="display:none;">
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Đang gửi
                                    </button>
                                </form>      
                                <p style="color:#fff" id="newsletter-info"></p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--=======  End of newsletter wrapper  =======-->
            </div>
        </div>
    </div>
</div> *@

<!--====================  End of newsletter area  ====================-->