﻿@using Microsoft.AspNetCore.Http
@{
    if (ViewData["ImageAlt"] == null || ViewData["ImageAlt"] == "")
    {
        ViewData["ImageAlt"] = ViewData["Title"];
    }
}

<meta name="generator" content="VNPT Ecommerce First Theme" />
<meta name="description" content="@ViewData["Description"]" />
<meta name="keywords" content="@ViewData["Keywords"]" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="author" content="phucbv1990@gmail.com">
<meta itemprop="image" content="@ViewData["Images"]">
<meta name="twitter:image" content="@ViewData["Images"]">
<meta property="og:image" content="@ViewData["Images"]" />
<meta property="og:image:url" content="@ViewData["Images"]" />
<meta property="og:image:secure_url" content="@ViewData["Images"]" />
<meta property="og:image:alt" content="@ViewData["ImageAlt"]" />
<!--meta property="fb:app_id" content="393798461749311" /-->
<meta property="og:site_name" content="@Context.Request.Host" />


<!-- ****************************** Start Seo twitter ******************************-->
<meta name="twitter:card" content="@ViewData["Card"]">
<meta name="twitter:url" content="@ViewData["Url"]">
<meta name="twitter:title" content="@ViewData["Title"]">
<meta name="twitter:description" content="@ViewData["Description"]">
<!-- ****************************** Start Seo facebook ******************************-->
<meta property="og:url" content="@ViewData["Url"]" />
<meta property="og:type" content="@ViewData["Type"]" />
<meta property="og:title" content="@ViewData["Title"]" />
<meta property="og:description" content="@ViewData["Description"]" />
<meta property="og:locale" content="vi-vn" />
<!-- ****************************** Start Seo Dublin Core ******************************-->
<meta name="DC.Language" content="vi-vn">
<meta name="DC.Description" content="@ViewData["Description"]">
<meta name="DC.Title" content="@ViewData["Title"]">
<meta name="DC.Identifier" content="@ViewData["Url"]">
<!-- ****************************** End Seo Dublin Core ******************************-->
<meta name="DC.title" content="@ViewData["Title"]" />
<meta name="geo.region" content="@ViewData["Region"]" />
<meta name="geo.placename" content="" />
<meta name="geo.position" content="" />
<meta name="ICBM" content="" />