﻿@model API.Areas.Admin.Models.Products.ProductsModel
@{

}

@if (Model.ListItems != null && Model.ListItems.Count() > 0)
{

    <!--====================  banner with double row slider ====================-->

<div class="banner-double-row-slider-area mb-4" id="partial-products-new">
    <div class="row">
        <div class="col-lg-12">
            <!--=======  section title  =======-->
            <div class="section-title mb-3">
                <h2>Sản phẩm bán chạy </h2>
            </div>
            <!--=======  End of section title  =======-->
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!--=======  product double row slider wrapper  =======-->

            <div class="product-double-row-slider-wrapper">
                <div class="row">

                    @for (int i = 0; i < Model.ListItems.Count(); i++)
                    {
                        <div class="col-lg-3">
                            <!--=======  single slider product  =======-->

                            <div class="single-slider-product-wrapper">
                                <div class="single-slider-product">
                                    <div class="single-slider-product__image">
                                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                                            <img src="@Model.ListItems[i].Image" class="img-fluid" alt="@Model.ListItems[i].Title">
                                        </a>

                                        <div class="hover-icons" style="display:none;">
                                            <ul>
                                                <li><a data-toggle="modal" data-target="#quick-view-modal-container" href="javascript:void(0)"><i class="icon-eye"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="icon-sliders"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="single-slider-product__content">
                                        <p class="product-title"><a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></p>
                                        <div class="rating">
                                            @for (int s = 1; s <= 5; s++)
                                            {
                                                if (s <= Model.ListItems[i].Star)
                                                {
                                                    <i class="bx bxs-star"></i>
                                                }
                                                else
                                                {
                                                    <i class="bx bx-star"></i>
                                                }
                                            }

                                        </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 9px 0px 0px 9px"><span style="font-size: 20px">-</span></button>
                                                </div>
                                                <input type="number" class="form-control" id="@Model.ListItems[i].Id" value="0">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 0px 9px 9px 0px"><span style="font-size: 20px">+</span></button>
                                                </div>
                                            </div>
                                        <p class="product-price">
                                            <span class="discounted-price">@Model.ListItems[i].PriceDisplay</span>
                                            @if (Model.ListItems[i].PriceDeal > 0)
                                            {
                                                <span class="main-price discounted">@Model.ListItems[i].PriceDealDisplay</span>
                                            }
                                        </p>
                                        <span class="cart-icon"><a href="javascript:void(0)" onclick="AddToCart('@Model.ListItems[i].Ids',1)" data-ids="@Model.ListItems[i].Ids"><i class="icofont-shopping-cart"></i></a></span>
                                    </div>
                                    @if (Model.ListItems[i].Discount != 0)
                                    {
                                        <span class="discount-label discount-label--static discount-label--red mb-10">@Model.ListItems[i].Discount@("%")</span>
                                    }
                                </div>

                            </div>

                            <!--=======  End of single slider product  =======-->
                        </div>
                    }




                </div>
            </div>

            <!--=======  End of product double row slider wrapper  =======-->
        </div>
    </div>
</div>

    <!--====================  End of banner with double row slider  ====================-->

}

@* @section Scripts {

}
<script>
    function increaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(id).value = value;
    }

    function decreaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById(id).value = value;
    }
</script> *@