﻿@model API.Areas.Admin.Models.Products.ProductsModel
@{

}

@if (Model.ListCat != null && Model.ListCat.Count() > 0)
{
    @for (int j = 0; j < Model.ListCat.Count(); j++)
    {
        <!--====================  banner with double row slider ====================-->

        <div class="banner-double-row-slider-area partial-products-by-cat" id="partial-products-by-cat-@Model.ListCat[j].Id">
            <div class="row">
                <div class="col-lg-12">
                    <!--=======  section title  =======-->
                    <div class="section-title mb-3">
                        <h2>@Model.ListCat[j].Title</h2>
                    </div>
                    <!--=======  End of section title  =======-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!--=======  product double row slider wrapper  =======-->

                    <div class="owl-carousel owl-theme owl-loaded product-double-row-slider-wrapper products-by-cat-home">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                @for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    if (Model.ListItems[i].CategoryId == Model.ListCat[j].Id) {
                                        <div class="owl-item">
                                            <!--=======  single slider product  =======-->

                                            <div class="single-slider-product-wrapper">
                                                <div class="single-slider-product">
                                                    <div class="single-slider-product__image">
                                                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                                                            <img src="@Model.ListItems[i].Image" class="img-fluid" alt="@Model.ListItems[i].Title">
                                                        </a>

                                                        <div class="hover-icons" style="display:none;">
                                                            <ul>
                                                                <li><a data-toggle="modal" data-target="#quick-view-modal-container" href="javascript:void(0)"><i class="icon-eye"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="icon-sliders"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="single-slider-product__content">
                                                        <p class="product-title"><a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">@Model.ListItems[i].Title</a></p>
                                                        <div class="rating">
                                                            @for (int s = 1; s <= 5; s++)
                                                            {
                                                                if (s <= Model.ListItems[i].Star)
                                                                {
                                                                    <i class="bx bxs-star"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="bx bx-star"></i>
                                                                }

                                                            }

                                                        </div>
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 9px 0px 0px 9px; border: none; height: 44px">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                            <input type="number" class="form-control" id="@Model.ListItems[i].Id" value="1">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity(@Model.ListItems[i].Id)" style="background:#3cb362; color: white; border-radius: 0px 9px 9px 0px; border: none; height: 44px">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                                                    </svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <p class="product-price">
                                                            <span class="discounted-price">@Model.ListItems[i].PriceDisplay</span>
                                                            @if (Model.ListItems[i].PriceDeal > 0)
                                                            {
                                                                <span class="main-price discounted">@Model.ListItems[i].PriceDealDisplay</span>
                                                            }

                                                        </p>
                                                        @* <span class="cart-icon"><a href="javascript:void(0)" onclick="AddToCart('@Model.ListItems[i].Ids',1)" data-ids="@Model.ListItems[i].Ids"><i class="icofont-shopping-cart"></i></a></span> *@
                                                        <span class="cart-icon"><a href="javascript:void(0)" onclick="addToCartWithQuantity('@Model.ListItems[i].Ids','@Model.ListItems[i].Id')" data-ids="@Model.ListItems[i].Ids"><i class="icofont-shopping-cart"></i></a></span>
                                                    </div>
                                                    @if (Model.ListItems[i].Discount != 0)
                                                    {
                                                        <span class="discount-label discount-label--static discount-label--red mb-10">@Model.ListItems[i].Discount@("%")</span>
                                                    }
                                                </div>

                                            </div>

                                            <!--=======  End of single slider product  =======-->
                                        </div>
                                    }

                                }
                            </div>

                        </div>
                    </div>

                    <!--=======  End of product double row slider wrapper  =======-->
                </div>
            </div>
        </div>

        <!--====================  End of banner with double row slider  ====================-->

    }
}

@* @section Scripts {

}
<script>
    function increaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById(id).value = value;
    }

    function decreaseQuantity(id) {
        var value = parseInt(document.getElementById(id).value, 10);
        value = isNaN(value) ? 0 : value;
        value < 1 ? value = 1 : '';
        value--;
        document.getElementById(id).value = value;
    }
</script> *@


