﻿@model API.Areas.Admin.Models.SYSParams.SYSConfig
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization;
@using API.Areas.Admin.Models.Menus;
@{
    int IdCoQuan = 1;
    if (Context.Session.GetString("IdCoQuan") != null && Context.Session.GetString("IdCoQuan") != "")
    {
        IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    }
    var ListMenu1 = MenusService.GetListByParrent(0, IdCoQuan, 2, "vi");
    var ListMenu2 = MenusService.GetListByParrent(0, IdCoQuan, 3, "vi");
    var ListMenu3 = MenusService.GetListByParrent(0, 1, 0, CultureInfo.CurrentCulture.Name.ToLower());
    var TotalCart = Context.Session.GetString("TotalCart");
    if (TotalCart == null)
    {
        TotalCart = "0";
    }
    //string KeySearch = 
}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v8.0&appId=687975538457608" nonce="7X3GZYAD"></script>


<header id="header" class="d-none d-sm-block">
    <!-- ======= Top Bar======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center">
        <div class="container">
            <div class="navigation-top-topbar">
                <div class="row">
                    <div class="social-links col-6">
                        @for (int i = 0; i < ListMenu1.Count() / 2; i++)
                        {
                            <a href="@ListMenu1[i].Link"><i class="@ListMenu1[i].Icon"></i> @ListMenu1[i].Title.Replace("#", "").Trim()</a>
                        }
                    </div>
@*                     <div class="social-links col-6 offset-md-6" style="float: right">
                        @for (int i = ListMenu1.Count() / 2; i < ListMenu1.Count(); i++)
                        {
                            <a href="@ListMenu1[i].Link"><i class="@ListMenu1[i].Icon"></i> @ListMenu1[i].Title.Replace("#", "").Trim()</a>
                        }
                    </div> *@
                    <div class="col-6">
                        <ul class="link-top-right">
                            @for (int i = ListMenu1.Count() / 2; i < ListMenu1.Count(); i++)
                            {
                                <li><a href="@ListMenu1[i].Link"><i class="@ListMenu1[i].Icon"></i> @ListMenu1[i].Title.Replace("#", "").Trim()</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="navigation-top-search-area py-4">
                        <div class="row align-items-center">
                            <div class="col-6 col-xl-3 col-lg-3 order-1 col-md-6 col-sm-5">
                                <div class="logo">
                                    <a href="/">
                                        <img src="~/images/logo2.png" class="img-fluid" alt="@Model.WebsiteName">
                                    </a>
                                </div>
                                <!--=======  logo  =======

                                <div class="logo">
                                    <a href="/">
                                        <img src="~/images/logo.png" class="img-fluid" alt="@Model.WebsiteName">
                                    </a>
                                </div>

                                =======  End of logo  =======-->
                            </div>

                            <div class="col-xl-4 offset-xl-1 col-lg-4 order-4 order-lg-2 mt-md-25 mt-sm-25">
                                <!--=======  search bar  =======-->

                                <form id="search-all" method="get" action="/Home/SearchProducts">
                                    <div class="input-group input-group-sm search-form">
                                        <input type="text" name="Keyword" id="keywork_search" class="form-control" value="@Model.Keyword" placeholder="Tìm kiếm sản phẩm">
                                        <span onclick="SubmitSearch()" class="input-group-text search" id="basic-addon1"><i class="icofont-search-1"></i></span>
                                    </div>
                                </form>

                                <!--=======  End of search bar  =======-->
                            </div>

                            <div class="col-xl-3 col-lg-3 order-3 order-sm-2 order-lg-3 order-xs-3 col-md-4 col-sm-5 text-center text-sm-left mt-xs-25">
                                <!--=======  customer support text  =======-->

                                <div class="customer-support-text">
@*                                     <div class="icon">
                                        <img src="/Templates/Default/images/icon-header-phone.png" class="img-fluid" alt="@Model.Phone">
                                    </div> *@

                                    <div class="text">
                                        <img src="/Templates/Default/images/icon-header-phone.png" class="img-fluid" alt="@Model.Phone" style="margin-right: 10px">
                                        <span>Hotline</span>
                                        <p>@Model.Phone_2</p>
                                    </div>
                                </div>

                                <!--=======  End of customer support text  =======-->
                            </div>
                            
                            <div class="col-6 col-xl-1 col-lg-2 text-right order-2 order-sm-3 order-lg-4 order-xs-2 col-md-2 col-sm-2">
                                <!--=======  cart icon  =======-->
                                <div class="header-cart-icon">
                                    <a href="/gio-hang.html" id="small-cart-trigger" class="small-cart-trigger">
                                        <i class='bx bx-cart'></i>
                                        <span class="cart-counter">@TotalCart</span>
                                    </a>
                                    <!--=======  small cart  =======-->

                                    <div class="small-cart deactive-dropdown-menu">
                                        <div class="small-cart-item-wrapper">
                                            <div class="single-item">
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/cart-image/small1-90x90.jpg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="cart-name"><a href="single-product.html">cillum dolore</a></p>
                                                    <p class="cart-quantity"><span class="quantity-mes">1 x </span> $78.80</p>
                                                </div>
                                                <a href="#" class="remove-icon"><i class="ion-close-round"></i></a>
                                            </div>
                                            <div class="single-item">

                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/cart-image/small2-90x90.jpg" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="cart-name"><a href="single-product.html">condimentum posuere</a></p>
                                                    <p class="cart-quantity"><span class="quantity-mes">1 x </span> $78.80</p>
                                                </div>
                                                <a href="#" class="remove-icon"><i class="ion-close-round"></i></a>
                                            </div>
                                        </div>

                                        <div class="cart-calculation-table">
                                            <table class="table mb-25">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-left">sub-total :</td>
                                                        <td class="text-right">$129.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">eco tax (-2.00) :</td>
                                                        <td class="text-right">$4.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">vat (20%) :</td>
                                                        <td class="text-right">$25.80</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">total :</td>
                                                        <td class="text-right">$158.80</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="cart-buttons">
                                                <a href="cart.html" class="theme-button">view cart</a>
                                                <a href="checkout.html" class="theme-button">checkout</a>
                                            </div>
                                        </div>

                                    </div>

                                    <!--=======  end of small cart  =======-->
                                </div>

                                <!--=======  end of cart icon  =======-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</header>

<div id="header-mobile" class="d-block d-sm-none">
    <div id="topbar-mobile" class="d-lg-flex align-items-center">
        <div class="container">
            <div class="navigation-top-search-area">
                <div class="row align-items-center">
                    <div class="col-6 col-xl-3 col-lg-3 order-1 col-md-6 col-sm-5">
                        <!--=======  logo  =======-->

                        <div class="logo">
                            <a href="/">
                                <img src="~/images/logo2.png" class="img-fluid" alt="@Model.WebsiteName">
                            </a>
                        </div>

                        <!--=======  End of logo  =======-->
                    </div>
                    <div class="col-xl-4 offset-xl-1 col-lg-4 order-4 order-lg-2 mt-md-25 mt-sm-25">
                        <!--=======  search bar  =======-->

                        <form id="search-all-mobile" method="get" action="/Home/SearchProducts">
                            <div class="input-group input-group-sm search-form">
                                <input type="text" name="KeywordMobile" id="keywordmobile_search" class="form-control" value="@Model.Keyword" placeholder="Tìm kiếm sản phẩm">
                                <span onclick="SubmitSearchMobile()" class="input-group-text search" id="basic-addon1"><i class="icofont-search-1"></i></span>
                            </div>
                        </form>

                        <!--=======  End of search bar  =======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="wrap-scroll-nav">
    <div id="body-scroll-nav">
        <div class="wrap-scroll-nav-content">

            @for (int i = 0; i < ListMenu3.Count(); i++)
            {
                if (ListMenu3[i].ChildCount > 0)
                {
                    @await Html.PartialAsync("_PartialMenuChildMobile", ListMenu3[i]);
@*                     for (int j = 0; j < ListMenu3[i].ListMenus.Count; j++)
                    {
                        if (ListMenu3[i].ListMenus[i].Link != null)
                        {
                            <div class="wrap-scroll-nav-item">
                                <a href="@(ListMenu3[i].ListMenus[i].Link)">@(ListMenu3[i].ListMenus[i].Title)</a>
                            </div>
                        }
                    } *@
                }
                else
                {
                    <div class="wrap-scroll-nav-item" style>
                        @if (ListMenu3[i].Icon != null && ListMenu3[i].Icon != "")
                        {
                            @(ListMenu3[i].Icon)
                        }
                        <a href="@ListMenu3[i].Link" class="">@ListMenu3[i].Title</a>

                    </div>
                }
            }
        </div>
    </div>
</div>

<div id="main-menu" class="d-none d-sm-block">
    <div class="container header-content">
        @await Html.PartialAsync("_PartialMenu", Model)
    </div>
</div>