﻿ @model API.Areas.Admin.Models.Menus.Menus;
@* <div class="wrap-scroll-nav-item"> *@
        @for (int i = 0; i < Model.ListMenus.Count; i++)
        {
        <div class="wrap-scroll-nav-item">
                <a href="@(Model.ListMenus[i].Link)">@(Model.ListMenus[i].Title)</a>
         </div>
        }
@* </div> *@

