﻿@model API.Areas.Admin.Models.SYSParams.SYSConfig
@using API.Areas.Admin.Models.Menus;
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DMCoQuan;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@{

    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
    


}

<footer class="site-footer text-white">

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 footer-info">
                    <img src="/images/logo2.png" class="img-fluid mb-3">
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="header-footer text-uppercase">LIÊN HỆ</div>
                            <div class="icon-footer">
                                <i class='bx bxs-home'></i> <span>@Model.Address</span>
                                <br> <i class='bx bx-headphone'></i><span> <a href="tel:@Model.Phone">@Model.Phone</a></span>
                                <br> <i class='bx bx-mail-send'></i><span> <a href="mailto:@Model.Email">@Model.Email</a></span>
                            </div>
                        </div>
                        @*<div class="col-sm-6">
                            <div class="header-footer text-uppercase">TRANG XÃ HỘI</div>
                            <div class="">
                                @Html.Raw(Model.FanpageFacebook)
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom mb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 footer-left text-sm-left">
                    <span class="copyrights-text">Copyright 2020 ©<span class="text-uppercase">@Model.WebsiteName</span></span>
                </div>
                <div class="col-md-6 col-12 footer-right text-sm-right text-center ">

                    <ul class="copyrights-nav">
                        <li>
                            <a href="/videos.html">Videos</a>
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </li>
                        <li>
                            <a href="/albums.html">Hình ảnh</a>
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.354 4.646a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </li>
                        <li><a href="/lien-he.html">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

@if (ControllerName.ToUpper() != "CONTACTS")
{
    <!-- Modal -->
    <div class="modal fade" id="login_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <partial name="_PartialLogin" />
            </div>
        </div>
    </div>
}

@*<div class="box-title d-none d-md-flex flex-column">
    <div class="box-title__item"><a class="btn btn-left" href="/bao-gia-thiet-ke-kien-truc-6.html" data-toggle="tooltip" data-placement="left" title="Báo Giá Thiết Kế Kiến Trúc"><i class="fas fa-money-check-alt"></i></a></div>
    <div class="box-title__item"><a class="btn btn-left" href="/bao-gia-xay-dung-phan-tho-7.html" data-toggle="tooltip" data-placement="left" title="Báo Giá Xây Dựng Phần Thô"><i class="fa fa-laptop"></i></a></div>
    <div class="box-title__item"><a class="btn btn-left" href="/bao-gia-xd-phan-hoan-thien-8.html" data-toggle="tooltip" data-placement="left" title="Báo Giá XD Phần Hoàn Thiện"><i class="far fa-money-bill-alt"></i></a></div>
    <div class="box-title__item"><a class="btn btn-left" href="tel:@Model.Phone" data-toggle="tooltip" data-placement="left" title="@Model.Phone"><i class="fa fa-lg fa-phone"></i></a></div>

</div>*@



<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


