﻿@model API.Areas.Admin.Models.PostMessage.PostMessageModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Gửi tin bài";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Gửi tin bài";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Fullname">Họ Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Phone">Điện Thoại</label>
                        <input type="text" class="form-control" asp-for="Item.Phone" name="Phone">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Address">Địa Chỉ</label>
                        <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Email">Email</label>
                        <input type="text" class="form-control" asp-for="Item.Email" name="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">                        
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.CreatedDate">Ngày Gửi</label>
                        <input disabled type="text" class="form-control" asp-for="Item.CreatedDate" name="CreatedDate">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.Title">Tiêu đề</label>
                <input type="text" asp-for="Item.Title" name="Title" class="form-control"></input>
            </div>

            <div class="form-group">
                <label asp-for="Item.Introtext">Câu Hỏi</label>
                <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                    <a class="btn btn-primary" asp-controller="@ControllerName" target="_blank" asp-action="DownloadFile" asp-route-id="@Model.Item.Ids"><i class="fas fa-cloud-download-alt"></i> Tải file</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
            <input type="hidden" class="form-control" asp-for="Item.LinkFile" name="LinkFile">

        </form>
    </div>
</div>

