﻿.mb-40{
    margin-bottom:40px;
}
.section-title {
    h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 27px;
        position: relative;
        margin: 0;
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #333;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 66px;
            height: 2px;
            content: '';
            background: #d32828;
        }
    }
}

.single-slider-product {
    margin-bottom: 20px;
    position: relative;

    .product-title {
        a {
            font-family: 'IBM Plex Sans', sans-serif;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            -webkit-transition: .3s;
            transition: .3s;
            color: #333;
            font-weight: bold;
            text-align: center;
        }
    }

    .single-slider-product__image {
        border: 1px solid #f0f0f0;

        a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .product-price {
        padding: 0px;
        margin: 0px;

        .discounted-price {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            margin-right: 10px;
            color: #3a9943;
        }

        .main-price.discounted {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
            text-decoration: line-through;
            color: #868686;
        }
    }

    .cart-icon {
        position: absolute;
        right: 15px;
        bottom: 10px;
        display: inline-block;

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 36px;
            display: block;
            width: 36px;
            height: 36px;
            padding: 0;
            -webkit-transition: .6s;
            transition: .6s;
            text-align: center;
            color: #333;
            border-radius: 100%;
            background: #f2f2f2;
        }

        a:hover {
            color: #f2f2f2;
            background: hotpink;
        }
    }

    .rating {
        .bx {
            color: #ffdd20;
            display: none;
        }
    }
}
.single-slider-product__content {
    
    overflow: hidden;
    padding: 17px 20px 16px 20px;
    text-align: left;
    border: 1px solid #f0f0f0;
    border-top: 0;
    background: transparent;
}

.slider-single-post {
    border: 1px solid #f5f5f5;
}
.slider-single-post__content {
    padding: 12px 20px 15px 20px;

    .post-title {
        margin-bottom: 0;

        a {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            display: block;
            margin-bottom: 20px;
            color: #333;

            &:hover {
                color: #3a9943;
            }
        }
    }

    .post-meta {
        .author-name {
            font-size: 13px;
            position: relative;
            display: inline-block;
            margin: 0;
            margin-right: 14px;
            color: #999;

            span {
                color: #333;
            }

            &:after {
                position: absolute;
                top: 50%;
                right: -10px;
                width: 3px;
                height: 3px;
                margin-top: -1.5px;
                content: '';
                border-radius: 100%;
                background: #999;
            }
        }

        .post-date {
            font-size: 13px;
            display: inline-block;
            color: #999;
        }
    }
}

.single-category-item{
    margin-bottom:20px;

}
.single-category-item__image {
    position: relative;

    a {
        display: block;
        width: 100%;

        img {
            width: 100%;
            -webkit-transition: .6s;
            transition: .6s;
        }
    }

    .single-category-item__image__content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: red;
        padding-top: 15px;
        text-align: center;
        color: #fff;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        transition: .5s ease;
        padding-bottom: 10px;

        .category-title {
            margin-bottom: 0;

            a {
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                -webkit-transition: .3s;
                transition: .3s;
                color: #fff;
            }
        }

        .quntity {
        }
    }
}

.newsletter-area {
    .newsletter-wrapper {
        padding: 40px;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .newsletter-bg-1 {
        background-color: #3a9943;
    }

    .newsletter-bg-2 {
        background-color: #3a9943;
    }


    .newsletter-wrapper__text {

        h5 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 8px;
            color: #fff;
        }

        p {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 0;
            color: #fff;
        }
    }

    .newsletter-wrapper__form {
        position: relative;

        form {
            position: relative;

            input[type='email'], input[type='text'] {
                font-size: 14px;
                line-height: 30px;
                display: inline-block;
                width: 100%;
                height: 48px;
                padding: 10px 15px;
                padding-right: 125px;
                text-align: left;
                vertical-align: top;
                color: #a9a9a9;
                border: 0;
                border-radius: 5px;
                background: #fff;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            button {
                font-size: 16px;
                font-weight: 700;
                line-height: 48px;
                position: absolute;
                top: 50%;
                right: -1px;
                max-width: 145px;
                padding: 0 18px;
                -webkit-transition: .3s;
                transition: .3s;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                text-transform: capitalize;
                color: #333;
                border: none;
                border-radius: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: #ffdd20;
            }
        }

        .mailchimp-alerts {
            color: #fff;
        }
    }
}

.product-price--big{
    .discounted-price {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 45px;
        color: #3a9943;
    }

    .main-price.discounted {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 25px;
        font-weight: 300;
        line-height: 30px;
        color: #868686;
        text-decoration: line-through;
    }
}

.theme-button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    padding: 0 30px;
    -webkit-transition: .3s;
    transition: .3s;
    text-align: center;
    color: #fff;
    border: none;
    background-color: #3a9943;
}
.product-cart-button {
    line-height: 35px;
    
    border-radius: 5px;
}
.quantity {
    .quantity-title {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 48px;
        color: #222;
    }

    .pro-qty {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 35px;
        border: 1px solid #ddd;

        input {
            width: 100%;
            height: 100%;
            padding-right: 25px;
            padding-left: 20px;
            border: none;
        }

        a {
            font-size: 18px;
            font-weight: normal;
            line-height: 20px;
            position: absolute;
            width: 20px;
            height: 20px;
            text-align: center;
        }

        a.inc {
            top: 0;
            right: 0;
            border-bottom: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

        a.dec {
            right: 0;
            bottom: 0;
            padding-top: 2px;
            border-left: 1px solid #ddd;
        }
    }
}
#billing-form {
    

    .form-group {
        margin-bottom: 1rem;
    }

    
}
.checkout-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-transform: capitalize;
}
.cart-summary {
}

.checkout-cart-total {
    background-color: #F7F3F2;
    
    padding: 16px 16px 7px;
    margin-bottom:10px;
    h4{
        font-weight:bold;
        font-size:13px;
    }
}

.sidebar-widget {
    padding: 20px;
    background: #f8f8f8;

    .sidebar-widget-title {
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin: 15px 0 11px;
        color: #333;
    }

    ul {
        padding-left: 0px;

        li {
            list-style-type: none;

            a {
                font-size: 15px;
                line-height: 24px;
                position: relative;
                display: block;
                padding: 5px 0;
                text-transform: capitalize;
                color: #333;
            }
        }
    }
}

.single-block {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    overflow: auto;

    .image {
        margin-right: 5px;
        float: left;
    }

    .content {

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 0;
            color: #333;

            a {
                color: #3a9943;
                text-align: justify;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                display: block;
                margin-top: 5px;
                color: #999;
            }
        }
    }
}
.box-title {
    position: fixed;
    top: 40%;
    right: 3px;
    z-index: 99;

    .box-title__item {
        margin-bottom: 3px;
    }
}

#partial-products-new{
    padding-top: 20px;
}

.owl-carousel.products-new-home, .owl-carousel.products-by-cat-home {
    .owl-nav {
        .owl-prev, .owl-next {
            width: 33px;
            height: 33px;
            -webkit-transition: .3s;
            transition: .3s;
            color: #333;
            border: none;
            border-radius: 5px;
            background: #f2f2f2;
            position: absolute;
            top: -55px;
        }

        .owl-prev {
            right: 35px;
        }

        .owl-next {
            right: 0px;
        }
    }
}

/*
.discount-label {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    position: absolute;
    top: 20px;
    right: auto;
    left: 20px;
    width: 60px;
    height: 25px;
    padding-left: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
}


.discount-label--red {
    background-image: url(../images/red-discount-label.png);
}

    */
.discount-label {
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
    position: absolute;
    top: 5px;
    right: auto;
    left: 5px;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url(../images/saleoff-bg.png);
}


@media (max-width: 768px) {

    .section-title{
        h2{
            font-size:14px;
        }
    }
}