﻿/**
* Template Name: Mr phuc
* Author: phucbv1990@gmail.com
* Facebook:  https://www.facebook.com/phucbv0304/
* Version: 5
*/
.icon-feature-wrapper {
  padding: 30px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.single-icon-feature {
  position: relative;
  padding: 10px 0;
  padding-left: 75px;
}

.single-icon-feature__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.single-icon-feature__icon .feature-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #49b14d;
}
.single-icon-feature__icon .feature-text {
  font-family: "MyriadPro-Cond";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #666;
}

.single-icon-feature__content .feature-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #3a9943;
  padding: 0px;
  margin: 0px;
}
.single-icon-feature__content .feature-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #666;
  padding: 0px;
  margin: 0px;
}

.mb-40 {
  margin-bottom: 40px;
}

.section-title h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 27px;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}
.section-title h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 66px;
  height: 2px;
  content: "";
  background: #d32828;
}

.single-slider-product {
  margin-bottom: 20px;
  position: relative;
}
.single-slider-product .product-title a {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.single-slider-product .single-slider-product__image {
  border: 1px solid #f0f0f0;
}
.single-slider-product .single-slider-product__image a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.single-slider-product .product-price {
  padding: 0px;
  margin: 0px;
}
.single-slider-product .product-price .discounted-price {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-right: 10px;
  color: #3a9943;
}
.single-slider-product .product-price .main-price.discounted {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: line-through;
  color: #868686;
}
.single-slider-product .cart-icon {
  position: absolute;
  right: 15px;
  bottom: 35px;
  display: none;
}
.single-slider-product .cart-icon a {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  display: block;
  width: 36px;
  height: 36px;
  padding: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
  color: #333;
  border-radius: 100%;
  background: #f2f2f2;
}
.single-slider-product .rating .bx {
  color: #ffdd20;
  display: none;
}

.single-slider-product__content {
  overflow: hidden;
  padding: 17px 20px 16px 20px;
  text-align: left;
  border: 1px solid #f0f0f0;
  border-top: 0;
  background: transparent;
}

.slider-single-post {
  border: 1px solid #f5f5f5;
}

.slider-single-post__content {
  padding: 12px 20px 15px 20px;
}
.slider-single-post__content .post-title {
  margin-bottom: 0;
}
    .slider-single-post__content .post-title a {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 20px;
        color: #333;
    }
.slider-single-post__content .post-title a:hover {
  color: #3a9943;
}
.slider-single-post__content .post-meta .author-name {
  font-size: 13px;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 14px;
  color: #999;
}
.slider-single-post__content .post-meta .author-name span {
  color: #333;
}
.slider-single-post__content .post-meta .author-name:after {
  position: absolute;
  top: 50%;
  right: -10px;
  width: 3px;
  height: 3px;
  margin-top: -1.5px;
  content: "";
  border-radius: 100%;
  background: #999;
}
.slider-single-post__content .post-meta .post-date {
  font-size: 13px;
  display: inline-block;
  color: #999;
}

.single-category-item {
  margin-bottom: 20px;
}

.single-category-item__image {
  position: relative;
}
.single-category-item__image a {
  display: block;
  width: 100%;
}
.single-category-item__image a img {
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.single-category-item__image .single-category-item__image__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: red;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  padding-bottom: 10px;
}
.single-category-item__image .single-category-item__image__content .category-title {
  margin-bottom: 0;
}
.single-category-item__image .single-category-item__image__content .category-title a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.newsletter-area .newsletter-wrapper {
  padding: 40px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.newsletter-area .newsletter-bg-1 {
  background-color: #3a9943;
}
.newsletter-area .newsletter-bg-2 {
  background-color: #3a9943;
}
.newsletter-area .newsletter-wrapper__text h5 {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 8px;
  color: #fff;
}
.newsletter-area .newsletter-wrapper__text p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  color: #fff;
}
.newsletter-area .newsletter-wrapper__form {
  position: relative;
}
.newsletter-area .newsletter-wrapper__form form {
  position: relative;
}
.newsletter-area .newsletter-wrapper__form form input[type=email], .newsletter-area .newsletter-wrapper__form form input[type=text] {
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  width: 100%;
  height: 48px;
  padding: 10px 15px;
  padding-right: 125px;
  text-align: left;
  vertical-align: top;
  color: #a9a9a9;
  border: 0;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.newsletter-area .newsletter-wrapper__form form button {
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  position: absolute;
  top: 50%;
  right: -1px;
  max-width: 145px;
  padding: 0 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: capitalize;
  color: #333;
  border: none;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #ffdd20;
}
.newsletter-area .newsletter-wrapper__form .mailchimp-alerts {
  color: #fff;
}

.product-price--big .discounted-price {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  color: #3a9943;
}
.product-price--big .main-price.discounted {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  color: #868686;
  text-decoration: line-through;
}

.theme-button {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  padding: 0 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #3a9943;
}

.product-cart-button {
  line-height: 41px;
  border-radius: 5px;
}

.quantity .quantity-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  color: #222;
}
.quantity .pro-qty {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid #ddd;
}
.quantity .pro-qty input {
  width: 100%;
  height: 100%;
  padding-right: 25px;
  padding-left: 20px;
  border: none;
}
.quantity .pro-qty a {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
}
.quantity .pro-qty a.inc {
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.quantity .pro-qty a.dec {
  right: 0;
  bottom: 0;
  padding-top: 2px;
  border-left: 1px solid #ddd;
}

#billing-form .form-group {
  margin-bottom: 1rem;
}

.checkout-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 30px;
  text-decoration: underline;
  text-transform: capitalize;
}

.checkout-cart-total {
  background-color: #F7F3F2;
  padding: 16px 16px 7px;
  margin-bottom: 10px;
}
.checkout-cart-total h4 {
  font-weight: bold;
  font-size: 13px;
}

.sidebar-widget {
  padding: 20px;
  background: #f8f8f8;
}
.sidebar-widget .sidebar-widget-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin: 15px 0 11px;
  color: #333;
}
.sidebar-widget ul {
  padding-left: 0px;
}
.sidebar-widget ul li {
  list-style-type: none;
}
.sidebar-widget ul li a {
  font-size: 15px;
  line-height: 24px;
  position: relative;
  display: block;
  padding: 5px 0;
  text-transform: capitalize;
  color: #333;
}

.single-block {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  overflow: auto;
}
.single-block .image {
  margin-right: 5px;
  float: left;
}
.single-block .content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0;
  color: #333;
}
.single-block .content p a {
  color: #3a9943;
  text-align: justify;
}
.single-block .content p span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  margin-top: 5px;
  color: #999;
}

.box-title {
  position: fixed;
  top: 40%;
  right: 3px;
  z-index: 99;
}
.box-title .box-title__item {
  margin-bottom: 3px;
}

#partial-products-new {
  padding-top: 20px;
}

.owl-carousel.products-new-home .owl-nav .owl-prev, .owl-carousel.products-new-home .owl-nav .owl-next, .owl-carousel.products-by-cat-home .owl-nav .owl-prev, .owl-carousel.products-by-cat-home .owl-nav .owl-next {
  width: 33px;
  height: 33px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
  border: none;
  border-radius: 5px;
  background: #f2f2f2;
  position: absolute;
  top: -55px;
}
.owl-carousel.products-new-home .owl-nav .owl-prev, .owl-carousel.products-by-cat-home .owl-nav .owl-prev {
  right: 35px;
}
.owl-carousel.products-new-home .owl-nav .owl-next, .owl-carousel.products-by-cat-home .owl-nav .owl-next {
  right: 0px;
}

/*
.discount-label {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    position: absolute;
    top: 20px;
    right: auto;
    left: 20px;
    width: 60px;
    height: 25px;
    padding-left: 10px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left center;
}


.discount-label--red {
    background-image: url(../images/red-discount-label.png);
}

    */
.discount-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 50px;
  position: absolute;
  top: 5px;
  right: auto;
  left: 5px;
  width: 50px;
  height: 50px;
  padding-left: 10px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../images/saleoff-bg.png);
}

@media (max-width: 768px) {
  .section-title h2 {
    font-size: 14px;
  }
}
.section-menufooter {
  display: none;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: Arial;
  font-size: 14px;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #0381ce;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #9F0100;
  transition: all 0.5s;
  z-index: 997;
  top: 40px;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #222222;
}
#header .logo a span {
  color: #106eea;
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

#header-mobile {
  background: #9F0100;
  transition: all 0.5s;
  z-index: 997;
  top: 40px;
}
#header-mobile .navigation-top-search-area {
  padding-top: 15px;
}

@media (max-width: 768px) {
  #search-all, #search-all-mobile {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  font-size: 14px;
  transition: all 0.5s;
  color: red;
}
#topbar .contact-info a {
  line-height: 1;
  transition: 0.3s;
}
#topbar .contact-info a:hover {
  text-decoration: underline;
}
#topbar .contact-info i {
  padding-right: 4px;
  margin-left: 15px;
}
#topbar .contact-info i:first-child {
  margin-left: 0;
}
#topbar .social-links a {
  padding-right: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
  color: #fff;
  font-size: 12px;
}
#topbar .social-links a i {
  font-size: 1rem;
  color: #fff;
}
#topbar .social-links a i:hover {
  color: #ffdd20;
}
#topbar .social-links a:hover {
  color: #ffdd20;
}
#topbar .link-top-right {
  padding: 0px;
  margin: 0px;
  overflow: auto;
  float: right;
  font-size: 12px;
}
#topbar .link-top-right li {
  list-style-type: none;
  float: left;
  padding-right: 20px;
}
#topbar .link-top-right li a {
  color: #fff;
}
#topbar .link-top-right li a i {
  color: #ffdd20;
}
#topbar .link-top-right li a:hover {
  color: #ffdd20;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#search-all {
  float: right;
  width: 100%;
}
#search-all .search {
  border: 0px;
  padding-top: 10px;
}
#search-all .form-control {
  background: none;
  border: 0px;
  color: #fff;
  padding: 10px 0px;
}

.form-control::placeholder {
  color: #fff;
}

#content-search-all {
  width: 150px;
  font-size: 0.9rem;
  background: no-repeat;
  border: 0px;
}

.search-form {
  background: rgba(255, 255, 255, 0.2);
  padding: 0px 10px;
  border-radius: 7px;
  line-height: 32px;
  font-size: 0.9rem;
}
.search-form .txtSearch {
  border: none;
  outline: none;
  height: 20px;
  border: none;
  width: 150px;
  font-size: 0.9rem;
  background: none;
  color: #666;
}
.search-form .search {
  display: block;
  cursor: pointer;
  color: #fff;
  background: none;
  border: none;
}

#keywordmobile_search:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}
#keywordmobile_search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}
#keywordmobile_search:-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.small-cart {
  position: absolute;
  z-index: 9;
  right: 0;
  left: auto;
  display: none;
  width: 380px;
  margin-top: 26px;
  background-color: #fff;
}

.header-cart-icon {
  position: relative;
}

#small-cart-trigger {
  color: #fff;
  border-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.small-cart-trigger {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  display: inline-block;
  padding-right: 27px;
  padding-left: 8px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 5px;
}
.small-cart-trigger .cart-counter {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  position: absolute;
  top: 50%;
  left: 38px;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #333;
  border-radius: 100%;
  background: #fff;
}

.navigation-top-topbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  padding-bottom: 10px;
  padding-top: 10px;
}

.customer-support-text {
  position: relative;
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.customer-support-text .icon {
  position: absolute;
  top: 5px;
  left: 0;
}
.customer-support-text .icon .bx-headphone {
  color: #ffdd20;
  font-size: 45px;
}
.customer-support-text .text {
  padding-left: 52px;
}
.customer-support-text .text span {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  color: #fff;
}
.customer-support-text .text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  color: #ffdd20;
}

.sitemap-body ul li {
  line-height: 30px;
}
.sitemap-body ul .haschild a {
  font-weight: 600;
}

.widget-tktc {
  border: 1px solid #ddd;
}
.widget-tktc .widget-title {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.widget-tktc p {
  line-height: 30px;
  border-bottom: 1px dashed #ddd;
  margin-bottom: 0px;
  padding-left: 7px;
}
.widget-tktc p:last-child {
  border: none;
}

.title-albums {
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
  font-size: 13px;
}

.video_box {
  padding-bottom: 20px;
}
.video_box .title-video {
  text-align: center;
  font-weight: 600;
  padding-top: 5px;
}

.card-videos .carousel-control-prev {
  display: block;
  bottom: auto;
}
.card-videos .carousel-control-next {
  display: block;
  bottom: auto;
}

.img-album {
  text-align: center;
}

#page-child {
  padding-top: 10px;
  background-color: white;
}

.other-list h2 {
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}
.other-list ul {
  padding: 0;
  margin-left: 20px;
}
.other-list ul li {
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #106eea;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3284f1;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
#main-menu {
  -webkit-box-shadow: 0 2px 5px 0 #ddd;
  box-shadow: 0 2px 5px 0 #ddd;
}
#main-menu .header-content {
  padding: 3px 0;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul {
  display: flex;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 15px;
  text-transform: uppercase;
}
.nav-menu a {
  display: block;
  position: relative;
  color: #333;
  transition: 0.3s;
  font-size: 12px;
  font-weight: 600;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffbe4a;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ffbe4a !important;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062b5b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #106eea;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #ec1c24;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #106eea;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background: url("../img/hero-bg.jpg") top left;
  background-size: cover;
  position: relative;
}

/*
#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}*/
#hero .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}
#hero h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #106eea;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}

#hero .btn-get-started:hover {
  background: #0281cd;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  position: relative;
  font-weight: 600;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-get-started, #hero .btn-watch-video {
    font-size: 13px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f6fe;
  min-height: 40px;
  margin-top: 134px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}
/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

.lmenu {
  margin-bottom: 10px;
}
.lmenu ul {
  list-style: none;
  padding: 0px;
}
.lmenu .leftmenu-list-group {
  background: #9F0100;
  color: #fff;
  border-radius: 2px;
}
.lmenu .leftmenu-list-group li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.lmenu .leftmenu-list-group li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  display: block;
  color: #fff;
  line-height: 35px;
  padding: 0 10px;
  font-weight: bold;
}
.lmenu .leftmenu-list-group li a .fa-caret-right {
  float: right;
  margin-top: 12px;
}
.lmenu .leftmenu-list-group li:hover {
  background: #ff8610;
}
.lmenu .leftmenu-list-group li .childmenu {
  display: none;
  position: absolute;
  z-index: 999;
  background: #f2f2f2;
  border: 1px solid #ddd;
  left: 250px;
  top: 0px;
  width: 250px;
}
.lmenu .leftmenu-list-group li .childmenu li a {
  color: #444;
  font-weight: normal;
  font-size: 12px;
  text-transform: none;
}
.lmenu .leftmenu-list-group li .childmenu li a:hover {
  color: #0c4ccf;
}
.lmenu .leftmenu-list-group li .childmenu li:hover {
  background: #f2f2f2;
}
.lmenu .leftmenu-list-group .leftmenu-dropdown-menu {
  display: none;
}
.lmenu .leftmenu-list-group .leftmenu-dropdown-menu li a {
  padding-left: 20px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e2eefd;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #106eea;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #106eea;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #fff;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}
.widget .widget-title {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #d3d3d3;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.widget .widget-title:after {
  background: #E79800;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}
.widget .media {
  display: flex;
}
.widget .media img {
  margin-right: 10px;
}
.widget .media .media-body a {
  color: #000;
  font-weight: bold;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4 a, .services .icon-box:hover .icon i {
  color: #106eea;
}

.services .icon-box:hover .icon {
  border-color: #106eea;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background: url("../img/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.testimonials .owl-dot.active {
  background-color: #106eea !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}
@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #106eea;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #106eea;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #6ba7f5;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 30px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #106eea !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing .box h4 {
  font-size: 36px;
  color: #106eea;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #106eea;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #106eea;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #3b8af2;
}

.pricing .featured h3 {
  color: #fff;
  background: #106eea;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #106eea;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding: 0 0 20px 25px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #106eea;
  font-size: 18px;
  font-weight: 500;
}

.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}

.faq .faq-list p {
  margin-bottom: 20px;
  font-size: 15px;
}

.faq .faq-list a.collapse {
  color: #106eea;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #106eea;
}

.faq .faq-list a.collapsed i::before {
  content: "\eab2" !important;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------------------- HOME -----------------------------------*/
#home-hot {
  background: #f8f8f8;
}

.sidebar-right .widget .header {
  background: #b92525;
  color: #fff;
  text-align: center;
  font-size: 13px !important;
  line-height: 35px !important;
}
.sidebar-right .banner-item {
  margin-bottom: 5px;
}

.notifi-item {
  margin-bottom: 10px;
}
.notifi-item .date {
  width: 55px;
  height: 54px;
  background: #182045;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  font-family: "MyriadPro-Cond";
  font-size: 1.5rem;
  line-height: 20px;
  padding-top: 7px;
  margin-top: 5px;
}
.notifi-item .title {
  font-weight: bold;
  color: #333;
  font-size: 12px;
}

.latest-posts {
  overflow: hidden;
  padding-right: 15px;
  background: #f2f2f2;
  height: 400px;
}
.latest-posts .list-group-item {
  padding: 7px 5px;
}
.latest-posts .list-group-item a {
  color: #000;
}
.latest-posts ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
}
.latest-posts ul li {
  padding-left: 0;
  list-style: none;
}

.media .media-left {
  float: left;
  margin-right: 15px;
}
.media .media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.home-list-right li {
  margin-bottom: 7px;
  background: url(../images/icon-list-home.png) no-repeat;
}
.home-list-right li a {
  color: #337ab7;
}

.featured-partner-home {
  border: 0px;
}
.featured-partner-home .header-title {
  margin: 0px;
  padding: 0px;
}
.featured-partner-home .title {
  color: #000;
  font-size: 15px;
  border-bottom: 1px dotted #d3d3d3;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
  width: 100%;
  float: left;
}
.featured-partner-home .title:after {
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50%;
  background: #9F0100;
}
.featured-partner-home .partner-hot {
  display: flex;
}
.featured-partner-home .partner-hot img {
  width: 120px;
}
.featured-partner-home .partner-hot .media-body a {
  color: #000;
  font-weight: bold;
}

/* --------------------- END HOME -----------------------------------*/
.article-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  text-align: justify;
  overflow: auto;
}
.article-item .img {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  width: 195px;
  height: 130px;
}
.article-item h4 {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}
.article-item h4 a {
  line-height: 20px;
}

/*--------------------------------------------------------------
# HOTLINE
--------------------------------------------------------------*/
@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }
  10%, 28%, 30%, 48%, 50%, 68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }
  18%, 20%, 38%, 40%, 58%, 60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }
  100%, 75% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.hotline_top {
  line-height: 23px;
  clear: both;
  z-index: 9999;
  top: auto !important;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 10px;
  left: 15px;
  width: 220px;
  border-radius: 28px;
  background: #AD0C18;
}
.hotline_top .icon_img {
  float: left;
  padding: 5px 10px;
  height: 40px;
  background: #fff;
  border-radius: 20px 0 0 20px;
}

.icon_img img {
  max-width: 25px;
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  -ms-transform-origin-x: 90%;
  -ms-transform-origin-y: 35%;
  -ms-transform-origin-z: initial;
}

.hotline_content {
  float: left;
  padding: 5px 10px 0px 0px;
  height: 40px;
  color: #fff;
}
.hotline_content h4 {
  margin: 0;
}
.hotline_content h4 a {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
}

#article-email, #article-print {
  display: block;
  float: right;
  width: 100px;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  background: #1877f2;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

#article-print {
  width: 50px;
}

#social {
  float: right;
  margin-right: 10px;
}

#social-zalo {
  float: right;
  margin-right: 10px;
  background-color: #03a5fa;
  padding-top: 3px;
  padding-bottom: 0px;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.PageDetail {
  text-align: justify;
  margin-bottom: 15px;
}

.article-content img {
  height: auto !important;
  width: 100%;
}

.article-content .heading-title, .detail-races .heading-title {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #d3d3d3;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.article-content .heading-title:after, .detail-races .heading-title:after {
  background: #E79800;
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 50px;
}

#marquee {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 10px;
}
#marquee marquee {
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 11px;
  marquee-speed: 1000;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background: #051C3C;
  color: #fff;
  padding-top: 34px;
  line-height: 24px;
  font-size: 15px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #0e8946;
}
.site-footer .footer-content {
  padding-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-color: #041730;
  border-bottom-style: solid;
}
.site-footer .footer-content address h4 {
  font-weight: bold;
  font-size: 1.2rem;
}
.site-footer .footer-content .header-footer {
  font-weight: 700;
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 30px;
}
.site-footer .footer-content .icon-footer i {
  padding-right: 7px;
}
.site-footer .footer-info a {
  color: #fff;
}
.site-footer .footer-botton {
  background: #051C3C;
  padding-top: 20px;
  font-size: 12px;
}
.site-footer .copyrights-nav {
  display: flex;
  float: right;
}
.site-footer .copyrights-nav li {
  list-style-type: none;
}
.site-footer .copyrights-nav li a {
  font-weight: 400;
  color: #fff;
}
.site-footer .copyrights-nav li a:hover {
  color: #9F0100;
}
.site-footer .footer-bottom {
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 12px;
}

.font-zoom {
  position: fixed;
  right: 10px;
  bottom: 60%;
  z-index: 1000;
}

#decfont {
  background-position: -6px -60px;
  display: inline-block;
  height: 32px;
  width: 40px;
  background: url(../images/zoom.png) no-repeat -6px -60px;
}

#incfont {
  background-position: -6px -60px;
  display: inline-block;
  height: 32px;
  width: 40px;
  background: url(../images/zoom.png) no-repeat -6px -13px;
}

@media (max-width: 768px) {
  #header .logo img {
    height: 45px;
  }
  .sidebar-right {
    border: 0px;
    padding-left: 0px;
  }
  .features-item .title, .features-item p {
    padding-left: 5px;
    padding-right: 5px;
  }
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
  .title_main_large h2 {
    padding: 0 20px;
  }
  .title_main_large h2 a {
    font-size: 15px;
  }
  .mobile-none {
    display: none;
  }
  #header {
    display: none;
  }
}
