﻿@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["TitleHome"];
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<a onclick="ShowManagerFile('abd123')">Hiện File</a>
<input id="abd123" />
<textarea id="full-textarea"></textarea>
<partial name="_PartialTinymce" />
<form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>

@section scripts{
    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>

    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>
}