﻿@model API.Areas.Admin.Models.SYSParams.SYSConfigModel
@{
    ViewData["Title"] = "Cập nhật Cấu Hình";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ClsCulturVI = "active show";
    string ClsCulturEN = "";
    if (Model.Item.Culture == "vi")
    {
        ClsCulturVI = "active show";
        ClsCulturEN = "";
    }
    else {
        ClsCulturVI = "";
        ClsCulturEN = "active show";
    }

}

<div class="card">
    <div class="card-header">
        <h4>Cập nhật Cấu Hình</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_PartialMsgInfoAdmin" />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @ClsCulturVI" id="config-vi-tab"  href="/Admin/Home/SaveItem?Culture=vi">Tiếng Việt</a>
            </li>
           
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade @ClsCulturVI" id="config-vi" role="tabpanel" aria-labelledby="config-vi-tab">
                <form asp-controller="@ControllerName" asp-action="SaveItem" method="post" id="FormConfigEN">
                    <input type="hidden" class="form-control" name="Culture" value="vi">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.WebsiteName">Tên web <sup class="text-danger"> (*)</sup></label>
                                <input type="text" class="form-control" asp-for="Item.WebsiteName" name="WebsiteName">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.Address">Địa Chỉ Văn phòng </label>
                                <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                            </div>
                        </div>

                        <div class="col-8">
                            <div class="form-group">
                                <label asp-for="Item.Slogan">Chữ chạy trang</label>
                                <input type="text" class="form-control" asp-for="Item.Slogan" name="Slogan">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label asp-for="Item.LayoutSite">Chọn giao diện</label>
                                <select asp-for="Item.LayoutSite" name="LayoutSite" class="form-control" asp-items="Model.ListItemsLayout"></select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Item.AboutUs">Mô tả </label>
                                <textarea asp-for="Item.AboutUs" name="AboutUs" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.SEODescription">SEO Description</label>
                                <textarea asp-for="Item.SEODescription" name="SEODescription" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.SEOKeyword">SEO Keyword</label>
                                <textarea asp-for="Item.SEOKeyword" name="SEOKeyword" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Item.Phone">Điện Thoại</label>
                                <input type="text" class="form-control" asp-for="Item.Phone" name="Phone">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Item.Phone_2">Điện thoại Hiện</label>
                                <input type="text" class="form-control" asp-for="Item.Phone_2" name="Phone_2">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Item.MST">Mã số thuế</label>
                                <input type="text" class="form-control" asp-for="Item.MST" name="MST">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group">
                                <label asp-for="Item.Email">Email </label>
                                <input type="text" class="form-control" asp-for="Item.Email" name="Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Item.FlagSurvey">Bình Chọn </label>
                                <select asp-for="Item.FlagSurvey" name="FlagSurvey" class="form-control" asp-items="Model.ListStatus"></select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Item.FlagSurvey">Menu Left </label>
                                <select asp-for="Item.FlagLeftMenu" name="FlagLeftMenu" class="form-control" asp-items="Model.ListStatus"></select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label asp-for="Item.SiteCode">Site Code </label>
                                <input type="text" class="form-control" asp-for="Item.SiteCode" name="SiteCode">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.Facebook">Facebook</label>
                                <input type="text" class="form-control" asp-for="Item.Facebook" name="Facebook">
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.Twitter">Twitter </label>
                                <input type="text" class="form-control" asp-for="Item.Twitter" name="Twitter">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.Map">Google Map</label>
                                <textarea asp-for="Item.Map" name="Map" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.Youtube">Youtube</label>
                                <textarea asp-for="Item.Youtube" name="Youtube" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.FanpageFacebook">Fanpage Facebook</label>
                                <textarea asp-for="Item.FanpageFacebook" name="FanpageFacebook" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.ChatFacebook">Chat Facebook</label>
                                <textarea asp-for="Item.ChatFacebook" name="ChatFacebook" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Item.DataHeader">Data Header</label>
                                <textarea asp-for="Item.DataHeader" name="DataHeader" class="form-control"></textarea>
                            </div>
                        </div>


                    </div>

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Sản phẩm</legend>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Item.FlagCatHome">Thể loại trang chủ </label>
                                    <select asp-for="Item.FlagCatHome" name="FlagCatHome" class="form-control" asp-items="Model.ListStatus"></select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Item.FlagCatHomeSLS">Thể loại trang chủ Slideshow </label>
                                    <select asp-for="Item.FlagCatHomeSLS" name="FlagCatHomeSLS" class="form-control" asp-items="Model.ListStatus"></select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Item.FlagProductNewHome">Sản phẩm mới </label>
                                    <select asp-for="Item.FlagProductNewHome" name="FlagProductNewHome" class="form-control" asp-items="Model.ListStatus"></select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Item.FlagProductNewHomeSLS">Sản phẩm mới Slideshow </label>
                                    <select asp-for="Item.FlagProductNewHomeSLS" name="FlagProductNewHomeSLS" class="form-control" asp-items="Model.ListStatus"></select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label asp-for="Item.FlagNewsletter">Nhận tin tức mới </label>
                                    <select asp-for="Item.FlagNewsletter" name="FlagNewsletter" class="form-control" asp-items="Model.ListStatus"></select>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-info" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>

                </form>
            </div>
           
        </div>

        

    </div>
</div>

