#contact{padding-top:15px}.section-title-contact{text-align:center;padding-bottom:30px}.section-title-contact h2{font-size:13px;letter-spacing:1px;font-weight:700;padding:8px 20px;margin:0;background:#e7f1fd;color:#106eea;display:inline-block;text-transform:uppercase;border-radius:50px}.section-title-contact h3{margin:15px 0 0 0;font-size:32px;font-weight:700}.section-title-contact p{margin:15px auto 0 auto;font-weight:600}@media (min-width: 1024px){.section-title p{width:50%}}
