﻿@model API.Areas.Admin.Models.Employees.EmployeesModel
@using Microsoft.AspNetCore.Http

@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý nhân viên";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    int IdCoQuan = int.Parse(Context.Session.GetString("IdCoQuan"));
    string TenCoQuan = Context.Session.GetString("TenCoQuan");
    int IdGroup = int.Parse(Context.Session.GetString("IdGroup"));
    string str_class_tr = "";
}

<div class="card">
    <div class="card-header">
        <h4>
            <i class="fas fa-table"></i> @ViewData["Title"]
            <span class="float-right">
                Tổng dòng: <strong>
                    @if (Model.ListItems != null && Model.ListItems.Count() > 0)
                    {
                        <span>@Model.ListItems[0].TotalRows</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </strong>
            </span>
        </h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="Index" method="get">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col">
                            <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button></div>

                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">ID</th>
                            <th>Tên nhân viên</th>
                            <th>Số điện thoại</th>
                            <th>Nơi công tác</th>
                            <th>Mã nhân viên</th>
                            <th>Tỉ lệ chiết khấu</th>
                            <th width="130px" class="btn-contain">
                                <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="10" class="text-center">
                                    <label>Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                                <tr class="@str_class_tr">
                                    <td width="50px" class="text-center">@Model.ListItems[i].Id</td>
                                    <td>
                                        @Model.ListItems[i].Fullname
                                    </td>
                                    <td>@Model.ListItems[i].Phone</td>
                                    <td>@Model.ListItems[i].Address</td>
                                    <td>@Model.ListItems[i].MaNV</td>
                                    <td>@Model.ListItems[i].ChietKhau %</td>
                                    <td>
                                        <ul class="list-inline action">
                                                <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>

                                                <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Fullname" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>