﻿@model API.Areas.Admin.Models.Employees.EmployeesModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới nhân viên";
    }
    else
    {
        ViewData["Title"] = "Cập nhật nhân viên";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>Chi tiết nhân viên</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="form-group">
                <label asp-for="Item.Fullname">Tên nhân viên<sup class="text-danger"> (*)</sup></label>
                <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                    <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Item.Phone">Số điện thoại</label>
                <input asp-for="Item.Phone" name="Phone" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Item.Phone">Nơi công tác</label>
                <input asp-for="Item.Address" name="Address" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Item.Phone">Mã nhân viên<sup class="text-danger"> (*)</sup></label>
                <input asp-for="Item.MaNV" name="MaNV" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Item.Phone">Tỉ lệ chiết khấu</label>
                <input asp-for="Item.ChietKhau" name="ChietKhau" class="form-control">
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>

