﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.USUsers;
@{
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    int IdGroup = int.Parse(Context.Session.GetString("IdGroup"));
    int? IdMenu = 0;
    if (Context.Session.GetInt32("IdMenu") != null)
    {
        IdMenu = Context.Session.GetInt32("IdMenu");
    }
    var Login = Context.Session.GetString("Login");
    USUsers MyInfo = JsonConvert.DeserializeObject<USUsers>(Login);
    string TenCoQuan = Context.Session.GetString("TenCoQuan");
    API.Areas.Admin.Models.SYSParams.SYSConfig ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản trị</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="~/TemplatesAdmin/Default/css/all.min.css" />
    <link rel="stylesheet" href="~/TemplatesAdmin/Default/css/sb-admin.css">
    <link rel="stylesheet" href="~/TemplatesAdmin/Default/css/admin.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body id="page-top">
    <partial name="_PartialNavbar" />
    <div id="wrapper">
        
        @await Html.PartialAsync("_PartialSidebar", ItemConfig)
        <div id="content-wrapper">

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright 2021 © @TenCoQuan.</span>
                    </div>
                </div>
            </footer>

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p class="delete-title">Bạn có chắc chắn xóa  ?</p>
                    <button class="btn btn-warning" data-ids="" data-url="/Admin/@ControllerName/" id="DeleteItemTrue"><i class="fas fa-trash-alt"></i> Đồng ý</button>
                    <button class="btn btn-info" id="DeleteItemLoading" style="display:none"> <i class="fas fa-circle-notch fa-spin"></i> Đang Xóa .. </button>
                    <button class="btn btn-primary" data-dismiss="modal">Thoát</button>
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/TemplatesAdmin/Default/js/sb-admin.min.js"></script>
    <script src="~/TemplatesAdmin/Default/js/admin-site.js"></script>
    <script>
        with ((console && console._commandLineAPI) || {}) {
            console.log('\n %cDừng lại!\n %cĐây là một tính năng của trình duyệt dành cho các nhà phát triển. Nếu ai đó bảo bạn sao chép-dán nội dung nào đó vào đây để bật một tính năng của Hệ thống Website hoặc "hack" tài khoản của người khác, thì đó là hành vi lừa đảo và sẽ khiến họ có thể truy cập vào tài khoản Hệ thống Website của bạn.', 'font: 40pt sans-serif;margin-top:10px; font-weight: bold; color: #F00; text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000', 'font: 20pt sans-serif;');
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
