﻿@model API.Areas.Admin.Models.DMCoQuan.DMCoQuanModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Index";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">

        <h4><i class="fas fa-table"></i> Danh mục cơ quan</h4>
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped table-hover ">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">STT</th>
                                <th width="250px">Tên cơ quan</th>
                                <th>Ảnh</th>
                                <th>Email</th>                                
                                <th>SĐT</th>                                
                                <th width="100px">Trạng Thái</th>
                                <th width="130px" class="btn-contain">
                                    <a asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">                                        
                                        <label >Không có dữ liệu!</label>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                        <tr>
                            <td width="50px" class="text-center">@(i + 1)</td>
                            
                            <td>@Model.ListItems[i].Title
                                <small>@Model.ListItems[i].Code</small>
                            </td>
                            <td><img src="@Model.ListItems[i].Images" width="100px" /></td>
                            <td>@Model.ListItems[i].Email</td>
                            <td>@Model.ListItems[i].Telephone</td>
                            
                            <td class="text-center">
                                @if (@Model.ListItems[i].Status == true)
                                {
                                    <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check-circle text-primary" aria-hidden="true"></a>
                                }
                                else
                                {
                                    <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></a>
                                }
                            </td>      
                            <td>
                                <ul class="list-inline action">
                                    <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids" asp-route-CategoryId="@Model.ListItems[i].CategoryId" asp-route-ParentId="@Model.ListItems[i].ParentId"><i class="fa fa-edit"></i>Sửa</a></li>
                                    <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                </ul>
                            </td>
                        </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
                </div>
              
            </div>
    </div>
</div>
<script>
    $('select[name="CategoryId"]').change(function () {        
        window.location = "/Admin/DMCoQuan/Index?CategoryId=" + $(this).val();
    });    
</script>


