﻿@model API.Areas.Admin.Models.DMCoQuan.DMCoQuanModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Cơ Quan";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Cơ Quan";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <partial name="_PartialMsgInfoAdmin" />
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Code">Alias <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Code" name="Code">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.CategoryId">Loại Đại Lý <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.CategoryId" name="CategoryId" class="form-control" asp-items="Model.ListItemsLoaiCoQuan"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Address">Địa chỉ </label>
                        <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Email">Email </label>
                        <input type="text" class="form-control" asp-for="Item.Email" name="Email">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Item.Telephone">Số Điện Thoại </label>
                        <input type="text" class="form-control" asp-for="Item.Telephone" name="Telephone">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Item.Fax">Fax </label>
                        <input type="text" class="form-control" asp-for="Item.Fax" name="Fax">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.CompanyName">Tên Website <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.CompanyName" name="CompanyName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Slogan">Slogan </label>
                        <input type="text" class="form-control" asp-for="Item.Slogan" name="Slogan">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Facebook">Facebook </label>
                        <input type="text" class="form-control" asp-for="Item.Facebook" name="Facebook">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Twitter">Twitter </label>
                        <input type="text" class="form-control" asp-for="Item.Twitter" name="Twitter">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Youtube">Youtube </label>
                        <input type="text" class="form-control" asp-for="Item.Youtube" name="Youtube">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Trạng Thái</label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status"> Trạng Thái</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group images-main">
                        <label>Hình đại diện</label>
                        <img src="@Model.Item.Images" class="Item_Images_Article_Preview" style="max-height:200px;">
                        <input type="hidden" name="Images" id="Item_Images_Article" class="form-control" asp-for="Item.Images">
                        <a onclick="ShowManagerFile('Item_Images_Article')" class="btn btn-primary">Chọn hình (600px*600px)</a>
                        <a onclick="ViewImageArtile('Item_Images_Article')"> <i class="fas fa-eye"></i> Xem ảnh</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Item.Metadesc" class="control-label"></label>
                        <textarea asp-for="Item.Metadesc" name="Metadesc" class="form-control"></textarea>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Item.Metakey" class="control-label"></label>
                        <textarea asp-for="Item.Metakey" name="Metakey" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
            <input type="hidden" class="form-control" asp-for="Item.CategoryId" name="CategoryId">

        </form>
    </div>
</div>

<partial name="_PartialTinymce" />
@section Scripts{

    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>
    <script src="~/lib/js/moment.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    
}

