
body{
    background: #ccc;
    color: #383838;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
hr {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #FFFFFF;
}
ul{
    li{
        list-style-type: none;
    }
}
.title{
    
}
#logo{
    display: block;
    padding: 30px 0 10px 0;
    img{
        width: 110px;
    height: 31px;
    margin: auto;
    }
}
.col-left{
    background-color: #DDDDDD;
    color: #222222;
    -moz-box-shadow: 0 0 6px rgba(3,3,3,0.6);
    -webkit-box-shadow: 0 0 6px rgba(3,3,3,0.6);
    box-shadow: 0 0 6px rgba(3,3,3,0.6);
    height: 100%;
    min-height: 100%;
    position: fixed;
    padding-left: 0px;
    padding-right: 0px;
    a{
        color: #222222;
        text-align: right;
    }
    ul.nav-pills>li.active>a {
        color: #fff;
        background-color: #444;
    }
    ul{
        border-top: 1px solid #AAAAAA;
        
        li{
            text-align: left;
            padding: 0;
            margin: 0px;
           display:block;
           width:100%;
            a{
                border-top: 1px solid #EEEEEE;
                border-bottom: 1px solid #AAAAAA;
                color: #444444;
               
                background-color: #DDDDDD;
                border-radius: 0px;
                display: block;
                padding: 6px 15px 7px 0;
                position: relative;
                z-index: 100;
                &:hover{
                    background: #444444;
                    color: #DDDDDD;
                    border-top: 1px solid #444444;
                }
            }
        }
    }
}
.menu-main {
  
}
.col-right{
   position: absolute;
   right: 0px;
}
.section{
    position: relative;
    padding-top: 10px !important;
}
#documenter_copyright {
    display: block !important;
    visibility: visible !important;
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    right: 15px;
    width: 200px;
    text-align: right;
    z-index: 1;
}
footer{
    margin-bottom: 100px;
}