﻿@model API.Areas.Admin.Models.Products.ProductsModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Sản Phẩm";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Sản Phẩm";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
    <link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control Changetitle namepr" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Item.Alias" class="control-label"></label>
                        <input asp-for="Item.Alias" name="Alias" class="form-control slug" />
                        <span asp-validation-for="Item.Alias" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Item.Sku">Sku <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Sku" name="Sku">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.PriceDeal">Giá gốc <sup class="text-danger"> (*)</sup> <span id="PriceDeal_Show" class="text-info font-weight-bold"> @Model.Item.PriceDealDisplay@("(VNĐ)")</span></label>
                            <input type="number" class="form-control" asp-for="Item.PriceDeal" onkeyup="PriceDealChange()" name="PriceDeal">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.Price">Giá bán <sup class="text-danger"> (*)</sup> <span id="Price_Show" class="text-info font-weight-bold"> @Model.Item.PriceDisplay@("(VNĐ)")</span> </label>
                            <input type="number" class="form-control" asp-for="Item.Price" onkeyup="PriceChange()" name="Price">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.Discount">% Giảm giá</label>
                            <input readonly="readonly" type="text" class="form-control" asp-for="Item.Discount" name="Discount">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.PriceDeal">Số lượng <sup class="text-danger"> (*)</sup></label>
                            <input type="number" min="0" class="form-control" asp-for="Item.Quantity" name="Quantity">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.Price">Đã Bán <sup class="text-danger"> (*)</sup></label>
                            <input type="number" min="0" class="form-control" asp-for="Item.Sold" name="Sold">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Item.Available">Còn Tồn Kho</label>
                            <input type="number" min="0" class="form-control" asp-for="Item.Available" name="Available">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Ngày Đăng <sup class="text-danger"> (*)</sup></label>
                        <div class="input-group date" id="PublishUpShow" data-target-input="nearest">
                            <input type="text" asp-for="Item.PublishUpShow" name="PublishUpShow" class="form-control datetimepicker-input" data-target="#PublishUpShow" id="PublishUpShow" />
                            <div class="input-group-append" data-target="#PublishUpShow" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Featured" name="Featured" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Featured"> Nổi Bật</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group images-main">
                        <label>Hình đại diện</label>
                        <img src="@Model.Item.Image" class="Item_Images_Article_Preview" style="max-height:200px;">
                        <input type="hidden" name="Image" id="Item_Images_Article" class="form-control" asp-for="Item.Image">
                        <a onclick="ShowManagerFile('Item_Images_Article')" class="btn btn-primary">Chọn hình (600px*400px)</a>
                        <a onclick="ViewImageArtile('Item_Images_Article')"> <i class="fas fa-eye"></i> Xem ảnh</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Item.CatId">Danh mục <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.CatId" name="CatId" style="height:200px;" multiple class="form-control" asp-items="Model.ListItemsCategories"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label asp-for="Item.Introtext">Mô tả ngắn sản phẩm</label>
                        <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Nội dung Sản phẩm</label>
                <textarea asp-for="Item.Description" id="full-textarea" name="Description" class="form-control full-textarea"></textarea>
            </div>

            <div class="row">

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.MetadataCV.MetaTitle">Meta Title</label>
                        <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaTitle" name="MetadataCV.MetaTitle">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.MetadataCV.MetaH1">Meta H1</label>
                        <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH1" name="MetadataCV.MetaH1">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.MetadataCV.MetaH3">Meta H3</label>
                        <input type="text" class="form-control" asp-for="Item.MetadataCV.MetaH3" name="MetadataCV.MetaH3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Item.Metadesc" class="control-label"></label>
                        <textarea asp-for="Item.Metadesc" name="Metadesc" class="form-control"></textarea>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Item.Metakey" class="control-label"></label>
                        <textarea asp-for="Item.Metakey" name="Metakey" class="form-control"></textarea>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>




            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
        </form>
    </div>
</div>

<partial name="_PartialTinymce" />
@section Scripts{

    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>
    <script src="~/lib/js/moment.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
          
            $(function () {

                $('#PublishUpShow').datetimepicker({
                    format: 'DD/MM/YYYY',
                });
            });
            function SaveItemFeatured() {
                $('#Item_Featured').attr('checked', 'checked');
                $( "#Myform" ).submit();
            }

            function SaveItemStatus() {
                $('#Item_Status').attr('checked', 'checked');
                $( "#Myform" ).submit();
            }

        function ViewImageArtile(id) {
            $('#ArticleShowImagePath').attr("src", "/images/no-image.png");
            $('#ArticleShowImage').modal('show');
            $('#ArticleShowImagePath').attr("src", $('#' + id).val());
        }     


        function addCommas(str) {
            if (str == null) {
                return "0";
            } else {
                var parts = (str + "").split("."),
                    main = parts[0],
                    len = main.length,
                    output = "",
                    first = main.charAt(0),
                    i;

                if (first === '-') {
                    main = main.slice(1);
                    len = main.length;
                } else {
                    first = "";
                }
                i = len - 1;
                while (i >= 0) {
                    output = main.charAt(i) + output;
                    if ((len - i) % 3 === 0 && i > 0) {
                        output = "." + output;
                    }
                    --i;
                }
                // put sign back
                output = first + output;
                // put decimal part back
                if (parts.length > 1) {
                    output += "," + parts[1];
                }
                return output;
            }

        }

        function PriceDealChange()
        {
            var Price = $("#Item_PriceDeal").val();
            let show = addCommas(Price);
            console.log(show);
            $("#PriceDeal_Show").html(show);
        }

        function PriceChange() {
            var Price = $("#Item_Price").val();
            let show = addCommas(Price);
            console.log(show);
            $("#Price_Show").html(show);
        }


    </script>
}

<style>
    .link-article-item {
        margin-top: 10px;
    }
</style>