﻿@model API.Areas.Admin.Models.Orders.OrdersModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Quản lý đơn hàng";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4><i class="fas fa-table"></i> Quản lý đơn hàng</h4>
    </div>
    <div class="card-body">
        <form asp-controller="@ControllerName" asp-action="Index" method="get" id="SearchFrorm">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group">
                        <input asp-for="SearchData.Keyword" name="Keyword" placeholder="Tìm kiếm" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <select asp-for="SearchData.IdTinhThanh" name="IdTinhThanh" class="form-control" asp-items="Model.ListItemsTinhThanh"></select>
                        </div>
                        <div class="col-auto">
                            <select asp-for="SearchData.IdQuanHuyen" name="IdQuanHuyen" class="form-control" asp-items="Model.ListItemsQuanHuyen" data-id="@Model.SearchData.IdQuanHuyen"></select>
                        </div>
                        <div class="col-auto">
                            <select asp-for="SearchData.IdPhuongXa" name="IdPhuongXa" class="form-control" asp-items="Model.ListItemsPhuongXa" data-id="@Model.SearchData.IdPhuongXa"></select>
                        </div>
                        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                        <button type="button" id="ExportExcel" class="btn btn-primary">Xuất file</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">

                <table class="table table-bordered table-striped table-hover ">
                    <thead>
                        <tr>
                            <th width="50px" class="text-center">STT</th>
                            <th class="text-info">Tên khách hàng</th>
                            <th class="text-info" width="150px">Mã Đơn Hàng</th>
                            <th class="text-info">Địa chỉ giao hàng</th>
                            <th class="text-info">Điện Thoại</th>
                            <th width="150px">Trạng Thái </th>
                            <th width="150px">Tổng đơn hàng</th>
                            <th class="text-info">Tổng tiền </th>
                            <th class="text-info">Nhân viên tư vấn</th>
                            <th class="text-info">Mã nhân viên</th>
                            <th class="text-info">Số ĐT nhân viên</th>
                            <th class="text-info">Chiết khấu</th>
                            <th width="150px" class="btn-contain">
@*                                 <a asp-controller="Orders" asp-action="SaveItem">THÊM MỚI</a> *@
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="12" class="text-center">
                                    <label>Không có dữ liệu!</label>
                                </td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < Model.ListItems.Count(); i++)
                            {
                                <tr>
                                    <td width="50px" class="text-center">@(i + 1)</td>
                                    <td>@Model.ListItems[i].FullName</td>
                                    <td>@Model.ListItems[i].OrderCode</td>
                                   <td>@(Model.ListItems[i].Address) ,  @(Model.ListItems[i].PhuongXa),  @(Model.ListItems[i].QuanHuyen),  @(Model.ListItems[i].TinhThanh)</td>
                                    @* <td>@Model.ListItems[i].TinhThanh</td> *@
                                    <td>@Model.ListItems[i].Telephone</td>
                                    <td>
                                        @if (@Model.ListItems[i].StatusId == 0)
                                        {
                                            <a href="javascript:void(0)" style="color:#FFB029">Chờ Thanh Toán <i class="fas fa-money-check-alt" style="color:#FFB029"></i></a>
                                        }
                                        else if (@Model.ListItems[i].StatusId == 1)
                                        {
                                            <a href="javascript:void(0)" v-if="item.StatusId>0">Đã thanh toán</a>
                                        }
                                        else if (@Model.ListItems[i].StatusId == 2)
                                        {
                                            <a href="javascript:void(0)" v-if="item.StatusId>0" style="color:#4AB119">Đã hoàn thành</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" v-if="item.StatusId>0" style="color:#EE1D1D">Đã hủy</a>
                                        }
                                    </td>
                                    <td>@Model.ListItems[i].Amount</td>
                                    <td>@Model.ListItems[i].Total</td>
                                        <td>@Model.ListItems[i].TenNV</td>
                                        <td>@Model.ListItems[i].MaNV</td>
                                        <td>@Model.ListItems[i].PhoneNV</td>
                                        <td>@Model.ListItems[i].ChietKhau %</td>
                                    <td>
                                        <ul class="list-inline action">
                                            <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                            <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            <div class="col-lg-12">
                @await Html.PartialAsync("_PartialPagination", Model.Pagination)
            </div>
        </div>
    </div>
</div>

<script>

    $('select[name="IdQuanHuyen"]').change(function () {
        GetListDMPhuongXa("IdPhuongXa", $("#SearchData_IdQuanHuyen").val());
        console.log("dsds");
    });
    function GetListDMPhuongXa(flag, IdQuanHuyen) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#SearchData_IdQuanHuyen").data("id");
        console.log(IdQuanHuyen);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListPhuongXaByJson?IdQuanHuyen=" + IdQuanHuyen,
            data: JSON.stringify({ IdQuanHuyen: IdQuanHuyen }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Phường Xã ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#SearchData_IdPhuongXa").html(htmlData);
                //$("#SearchData_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }





    $('select[name="IdTinhThanh"]').change(function () {
        GetListDMQuanHuyen("IdHuyen", $("#SearchData_IdTinhThanh").val());
        console.log("dsds");
    });
    function GetListDMQuanHuyen(flag, IdTinhThanh) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#SearchData_IdQuanHuyen").data("id");
        console.log(IdTinhThanh);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListQuanHuyenByJson?IdTinhThanh=" + IdTinhThanh,
            data: JSON.stringify({ IdTinhThanh: IdTinhThanh }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Quận Huyện ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#SearchData_IdQuanHuyen").html(htmlData);
                //$("#SearchData_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }
</script>

@section Scripts{
    
    <script type="text/javascript" src="~/lib/js/jquery.base64.min.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script type="text/javascript" src="~/lib/js/jquery.binarytransport.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
    <script type="text/javascript" src="~/TemplatesAdmin/Default/js/admin-orders.js?v=@DateTime.Now.ToString("yyyyMMddhh")"></script>
}