﻿@model API.Areas.Admin.Models.Orders.OrdersModel
@{
    ViewData["Title"] = "Chi tiết Đơn Hàng";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.FullName">Tên khách hàng <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.FullName" name="FullName">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Telephone">Số Điện thoại  <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Telephone" name="Telephone">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.OrderCode">Mã đơn hàng  <sup class="text-danger"></sup></label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.OrderCode" name="OrderCode">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.StatusId">Trạng Thái</label>
                        <select asp-for="Item.StatusId" name="StatusId" class="form-control" asp-items="Model.ListStatus"></select>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label asp-for="Item.Address">Địa chỉ</label>
                        <input asp-for="Item.Address" name="Address" class="form-control">
                    </div>
                </div>
            </div>
@* 
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.TinhThanh">Tỉnh thành</label>
                        <input asp-for="Item.TinhThanh" readonly="readonly" name="TinhThanh" class="form-control"></input>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.QuanHuyen">Quận huyện</label>
                        <input asp-for="Item.QuanHuyen" readonly="readonly" name="QuanHuyen" class="form-control"></input>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.PhuongXa">Phường xã</label>
                        <input asp-for="Item.PhuongXa" readonly="readonly" name="PhuongXa" class="form-control"></input>
                    </div>
                </div>
            </div> *@

            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="form-label" asp-for="Item.IdTinhThanh">Tỉnh / Thành phố*</label>
                        <select asp-for="Item.IdTinhThanh" name="IdTinhThanh" class="form-control" asp-items="Model.ListItemsTinhThanh"></select>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="form-label">Quận / Huyện*</label>
                        <select asp-for="Item.IdQuanHuyen" name="IdQuanHuyen" class="form-control" asp-items="Model.ListItemsQuanHuyen" data-id="@Model.Item.IdQuanHuyen"></select>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="form-label">Phường / Xã*</label>
                        <select asp-for="Item.IdPhuongXa" name="IdPhuongXa" class="form-control" asp-items="Model.ListItemsPhuongXa" data-id="@Model.Item.IdPhuongXa"></select>
                    </div>
                </div>
            </div>

            <div class="row">
@*                 <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.TotalQuantity">Tổng số Vé <sup class="text-danger"></sup></label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.TotalQuantity" name="TotalQuantity">
                    </div>
                </div> *@
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.ChietKhau">Chiết khấu</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.ChietKhau" name="ChietKhau">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Total">Total  <sup class="text-danger"></sup></label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.Total" name="Total">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.Amount">Amount  <sup class="text-danger"></sup></label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.Amount" name="Amount">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.TenNV">Nhân viên tư vấn</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.TenNV" name="TenNV">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.MaNV">Mã nhân viên</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.MaNV" name="MaNV">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.PhoneNV">Số ĐT nhân viên</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.PhoneNV" name="PhoneNV">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.CreatedDate">Ngày Tạo</label>
                        <input type="text" class="form-control" readonly="readonly" asp-for="Item.CreatedDate" name="CreatedDate">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.ModifiedDate">Ngày Cập nhật</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.ModifiedDate" name="ModifiedDate">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label asp-for="Item.ModifiedByFullName">Người Cập Nhật</label>
                        <input type="text" readonly="readonly" class="form-control" asp-for="Item.ModifiedByFullName" name="ModifiedByFullName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Item.Note">Mô tả</label>
                <textarea asp-for="Item.Note" name="Note" class="form-control"></textarea>
            </div>



            <div class="row">
                <div class="col-lg-12 col-lg-12 text-right ">
                    <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                    <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>


        </form>

        <div class="mt-3 app-vue" id="app_backend_orders_save" style="display:none;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="60px">Id</th>
@*                         <th class="pro-thumbnail" style="width:120px;">Hình</th> *@
                        <th class="pro-title">Tên sản phẩm</th>
                        <th class="pro-price" style="width:100px;">Giá</th>
                        <th class="pro-quantity" style="width:80px;">Số lượng</th>
                        <th class="pro-subtotal" style="width:100px;">Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="ListItems.length==0">
                        <td colspan="6" class="text-center" v-if="flagLoading">
                            <div class="loading-indicator-container">
                                <div class="loading-indicator indicator-center">
                                    <span></span>
                                    <div>Loading...</div>
                                </div>
                            </div>
                        </td>
                        <td colspan="9" class="text-center" v-if="!flagLoading">Không có sản phẩm nào trong giỏ hàng của bạn</td>
                    </tr>
                    <tr v-for="(item, index) in ListItems" v-bind:key="item.id">
                        <td>{{item.Id}}</td>
@*                         <td><img v-bind:src="item.Image" style="width:100px;" alt="Product"></td> *@
                        <td>
                            {{item.ProductsTitle}} (<strong>{{item.OrderCode}}</strong>) <br />
                            {{item.OrderKey}}
                        </td>
                        <td>{{item.Price}}</td>
                        <td>{{item.Quantity}}</td>

                        <td>{{item.TotalDisplay}}</td>

                    </tr>


                </tbody>
            </table>
            <div>
                <template>
                    <paginate v-model="SearchItems.CurrentPage"
                              :page-count="pageCount"
                              :page-range="3"
                              :margin-pages="2"
                              :click-handler="pageChanged"
                              :prev-text="'Prev'"
                              :next-text="'Next'"
                              :first-last-button="true"
                              :next-link-class="'page-link'"
                              :next-class="'page-item'"
                              :prev-link-class="'page-link'"
                              :prev-class="'page-item'"
                              :container-class="'pagination'"
                              :page-link-class="'page-link'"
                              :page-class="'page-item'">
                    </paginate>
                </template>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/TemplatesAdmin/Default/js/vuejs.js"></script>
    <script src="~/TemplatesAdmin/Default/js/vuejs-paginate.js"></script>
    <script src="~/TemplatesAdmin/Default/js/axios.min.js"></script>
    <script src="~/TemplatesAdmin/Default/js/backend_orders_save.js"></script>
}

<script>

    $('select[name="IdQuanHuyen"]').change(function () {
        GetListDMPhuongXa("IdPhuongXa", $("#Item_IdQuanHuyen").val());
        console.log("dsds");
    });
    function GetListDMPhuongXa(flag, IdQuanHuyen) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#Item_IdQuanHuyen").data("id");
        console.log(IdQuanHuyen);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListPhuongXaByJson?IdQuanHuyen=" + IdQuanHuyen,
            data: JSON.stringify({ IdQuanHuyen: IdQuanHuyen }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Phường Xã ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#Item_IdPhuongXa").html(htmlData);
                //$("#SearchData_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }





    $('select[name="IdTinhThanh"]').change(function () {
        GetListDMQuanHuyen("IdHuyen", $("#Item_IdTinhThanh").val());
        console.log("dsds");
    });
    function GetListDMQuanHuyen(flag, IdTinhThanh) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#Item_IdQuanHuyen").data("id");
        console.log(IdTinhThanh);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListQuanHuyenByJson?IdTinhThanh=" + IdTinhThanh,
            data: JSON.stringify({ IdTinhThanh: IdTinhThanh }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Quận Huyện ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#Item_IdQuanHuyen").html(htmlData);
                //$("#SearchData_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }
</script>