﻿@model API.Areas.Admin.Models.Documents.DocumentsModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = (Model.Item.Title);
    ViewData["Description"] = (Model.Item.Introtext);
    ViewData["Keywords"] = "";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<div class="row PageDetail PageDetail-@Model.Item.Alias">

    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/van-ban.html">Tài liệu - Văn bản</a></li>                
            </ol>
        </nav>
    </div>

    <div class="col-md-12 article-body">
        <div class="ContentArticle">
            <h1 class="heading-wrp">@(Model.Item.Title)</h1>
            <p class="text-muted small">
                Ngày ban hành: @Model.Item.IssuedDate.ToString("dd/MM/yyyy")
            </p>
        </div>
    </div>

    <div class="col-md-12 full-text article-content">
        @Html.Raw(Model.Item.Introtext)
    </div>
    @if (Model.Item.Link != null)
    {
        <div class="listtailieu">
            <div class="col-md-12">
                @{
                    string ex = API.Models.ManagerFiles.ManagerFilesService.GetExtension(Model.Item.Link);
                    string url = "";
                    if (Context.Request.IsHttps)
                    {
                        url = "https://" + Context.Request.Host + Model.Item.Link;
                    }
                    else
                    {
                        url = "http://" + Context.Request.Host + Model.Item.Link;
                    }

                    if (ex == ".pdf")
                    {
                        <iframe src="http://@Context.Request.Host/pdfviewer/web/viewer.html?file=@url" width="100%" height="600px"></iframe>
                    }
                    else if (ex == ".doc" || ex == ".docx" || ex == ".xls" || ex == ".xlsx" || ex == ".pptx" || ex == ".ppt")
                    {
                        <iframe src="https://view.officeapps.live.com/op/view.aspx?src=@url" style="width:100%;height:600px;"></iframe>
                    }
                    else
                    {
                        <a href="@url" target="_blank"> <i class="fa fa-download" style="margin-right:7px"></i> Tải về</a>
                    }
                }
            </div>
        </div>
    }


</div>
