﻿@model API.Areas.Admin.Models.Documents.DocumentsModel
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.Documents;
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Tài liệu - Văn bản";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="PageDetail">
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
    
    <div class="greyDiv searchDiv mb-3">
        <form asp-controller="@ControllerName" asp-action="Index" method="GET">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="SearchData.Keyword">Văn Bản </label>
                        <input type="text" class="form-control" asp-for="SearchData.Keyword" name="Keyword">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="SearchData.FieldId">Lĩnh Vực </label>
                        <select asp-for="SearchData.FieldId" name="FieldId" class="form-control" asp-items="Model.ListDocumentsField"></select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="SearchData.TypeId">Loại tài liệu</label>
                        <select asp-for="SearchData.TypeId" name="TypeId" class="form-control" asp-items="Model.ListDocumentsType"></select>
                    </div>
                </div>

                <div class="col-12 text-center mt-3">
                    <input type="submit" class="btn btn-primary" name="Search" value="Tìm kiếm" />
                </div>
            </div>



            


        </form>
    </div>


    <table class="table table-bordered myTable" style="margin-top: 15px;">
        <thead>
            <tr>
                <th width="50px">STT</th>
                <th width="130px">Số / Ký hiệu</th>
                <th width="130px">Ngày ban hành</th>
                <th>Trích yếu</th>
                <th width="100px" class="text-center">Tải về</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">Không có văn bản nào</td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.ListItems.Count(); i++)
                {
                    if (Model.ListItems[i].Str_ListFile != null && Model.ListItems[i].Str_ListFile != "")
                    {
                        Model.ListItems[i].ListFile = JsonConvert.DeserializeObject<List<FileDocuments>>(Model.ListItems[i].Str_ListFile);
                    }
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.ListItems[i].Code</td>
                        <td>@Model.ListItems[i].IssuedDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @Html.Raw(Model.ListItems[i].Introtext)
                            @if (Model.ListItems[i].ListFile != null && Model.ListItems[i].ListFile.Count() > 0)
                            {
                                <ul>
                                    @for (int j = 0; j < Model.ListItems[i].ListFile.Count(); j++)
                                    {
                                        <li><a target="_blank" href="@Model.ListItems[i].ListFile[j].FilePath"> Phụ lục @j</a></li>
                                    }
                                </ul>
                            }
                        </td>
                        <td class="text-center">
                            <a href="@Model.ListItems[i].Link" target="_blank"> <i class="icofont-download"></i> Tải về</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_PartialPagination", Model.Pagination)
    </div>

</div>
