﻿@using Microsoft.AspNetCore.Http;
@model API.Areas.Admin.Models.PostMessage.PostMessageModel
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PostMessage"];
    Layout = "_LayoutHome";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-12">
        <div class="card mb-4">
            <img class="card-img-top" src="/images/gui-tin-bai.jpg" alt="Gửi Tin Bài">
            <div class="card-body">
                <h5 class="card-title"><strong>Gửi Tin Bài</strong> </h5>
                <p class="card-text small-f1">Các thắc mắc của bạn sẽ được chúng tôi trả lời trong thời gian sớm nhất.</p>
              
            </div>

        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-12">
        <section id="contact" class="contact p-0">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white pl-0">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a class="text-dark" href="#">Gửi tin bài</a></li>
                        </ol>
                    </nav>
                </div>

            </div>
            <partial name="_PartialMsgInfo" />
            <form asp-controller="@ControllerName" asp-action="Index" method="post" enctype="multipart/form-data" class="php-email-form" id="my-form-contact">
                <div class="row">
                    <div class="col form-group">
                        <label for="Fullname" class="form-label">Họ Tên (Bắt buộc) <small class="text-danger">*</small></label>
                        <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname" placeholder="Họ Tên">
                    </div>
                    <div class="col form-group">
                        <label for="Email" class="form-label">Thư điện tử (Bắt buộc) <small class="text-danger">*</small></label>
                        <input type="email" class="form-control" asp-for="Item.Email" name="Email" placeholder="Thư điện tử">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="Address" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" asp-for="Item.Address" name="Address" placeholder="Địa chỉ">
                    </div>
                    <div class="col form-group">
                        <label for="Phone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" asp-for="Item.Phone" name="Phone" placeholder="Số điện thoại">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Title" class="form-label">Chủ đề (Bắt buộc) <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" asp-for="Item.Title" name="Title" placeholder="Chủ đề">
                </div>
                <div class="form-group">
                    <label for="Introtext" class="form-label">Nội dung <small class="text-danger">*</small></label>
                    <textarea class="form-control" asp-for="Item.Introtext" name="Introtext" placeholder="Nội dung"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Item.LinkFile" name="LinkFile" type="file" />
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="text-center">
                    <a class="btn btn-primary btn-sm" id="contact-saveitem">
                        <i class="icofont-paper-plane"></i> Gửi tin bài
                    </a>
                    <a class="btn btn-info text-white btn-sm" asp-controller="Home" asp-action="Index">
                        <i class="icofont-home"></i> Trang Chủ
                    </a>
                </div>

                <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
                <input type="hidden" class="form-control" asp-for="Item.Token" name="Token">
            </form>
        </section>
    </div>
</div>

