﻿@model API.Areas.Admin.Models.CategoriesProducts.CategoriesProductsModel

@{
   Layout = "_layoutAdmin";
    ViewData["Title"] = "Danh mục Sản phẩm";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

    <div class="card">
        <div class="card-header">

            <h4><i class="fas fa-table"></i> @ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <partial name="_PartialMsgInfoAdmin" />

            <div class="row">
                <div class="col-lg-12">

                    <table class="table table-bordered table-striped table-hover ">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">Id</th>
                                <th>Tên danh mục</th>                                
                                <th>Hình</th>                                
                                <th >Trạng thái</th>
                                <th width="120px" >Nổi bật</th>
                                <th width="130px" class="btn-contain">
                                    <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="7" class="text-center">                                        
                                        <label>Không có dữ liệu!</label>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                        <tr>
                            <td width="50px" class="text-center">@Model.ListItems[i].Id</td>
                            <td>
                                @Model.ListItems[i].Title
                                (<span>Alias</span>: @Model.ListItems[i].Alias)
                            </td>
                            <td class="text-center">
                                @if (@Model.ListItems[i].Images != null)
                                {
                                    <img style="width:100px;height:auto" src="@Model.ListItems[i].Images" />
                                }
                            </td>
                            <td class="text-center">
                                @if (@Model.ListItems[i].Status)
                                {
                                    <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check text-primary" aria-hidden="true"></a>
                                }
                                else
                                {
                                    <a onclick="UpdateStatus('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></a>
                                }
                            </td>
                            <td class="text-center">
                                @if (@Model.ListItems[i].Featured)
                                {
                                    <a onclick="UpdateFeatured('@ControllerName','@Model.ListItems[i].Ids',false)" class="fas fa-check text-primary" aria-hidden="true"></a>
                                }
                                else
                                {
                                    <a onclick="UpdateFeatured('@ControllerName','@Model.ListItems[i].Ids',true)" class="far fa-times-circle text-danger" aria-hidden="false"></a>
                                }
                            </td>

                            <td>
                                <ul class="list-inline action">
                                    <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                    <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                </ul>
                            </td>
                        </tr>
                                }
                            }

                        </tbody>

                    </table>
                    <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
                </div>
                <div class="col-lg-12">
                    @await Html.PartialAsync("_PartialPagination", Model.Pagination)
                </div>
            </div>
        </div>
    </div>
