﻿@model API.Areas.Admin.Models.Videos.VideosModel
@{
    ViewData["Title"] = Model.Item.Title;
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/videos.html">Videos</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>
<div class="PageDetail">
    <div class="row">
        <div class="col-lg-12">
            <video width="100%"  controls="" class="video-item" autoplay>
                <source src="@Model.Item.Link" type="video/mp4">
            </video>
            <h3 class="detail-title-video">@Model.Item.Title</h3>
            <p class="text-justify">@Model.Item.Description</p>
        </div>

    </div>
</div>
<style>

    .detail-title-video{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
    }
</style>