﻿@model API.Areas.Admin.Models.Videos.VideosModel
@using Microsoft.AspNetCore.Http
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Videos"];
    Layout = "_LayoutHome";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="sec-main-ct">

    <div class="container">
        <div class="sec-main-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white font-italic justify-content-center mb-0 pb-2">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
            <h4 class="title-post" style="text-align: center; padding-bottom: initial;"></h4>

            <div class="video_box">
                @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                {
                    <div class="text-center">@Localizer["NoRecord"]</div>
                }
                else
                {
                    <div class="row">

                        @for (int i = 0; i < Model.ListItems.Count(); i++)
                        {
                            <div class="gallery col-md-3 col-12">
                                <div class="card rounded-0 border-0">
                                    @if (Model.ListItems[i].IdType == 0)
                                    {
                                        <a data-fancybox href="@Model.ListItems[i].LinkSv">
                                            <img src="@Model.ListItems[i].Image" class="img-fluid" alt="@Model.ListItems[i].Title" />
                                            <div class="title-video">@Model.ListItems[i].Title</div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a data-fancybox href="@Model.ListItems[i].Link">
                                            <img src="@Model.ListItems[i].Image" class="img-fluid" alt="@Model.ListItems[i].Title" />
                                            <div class="title-video">@Model.ListItems[i].Title</div>
                                        </a>
                                    }
                                    
                                </div>
                            </div>

                        }

                    </div>

                }
            </div>
        </div>

    </div>
</div>

@section Scripts{

    
    <script>
        $('[data-fancybox]').fancybox({
            youtube: {
               
            },
            vimeo: {
                color: 'f00'
            }
        });
    </script>
}

<!--

https://img.youtube.com/vi/13H5fgV3EYg/mqdefault.jpg
-->
