﻿@model API.Areas.Admin.Models.DuThaoVanBan.DuThaoVanBanModel
@using Newtonsoft.Json;
@using API.Areas.Admin.Models.DuThaoVanBan;
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Văn bản dự thảo";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="PageDetail">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>

    <div class="alert alert-primary draft_justify">
        Hiện nay, Chính phủ đang xây dựng một số Dự thảo Văn bản quy phạm pháp luật. Thực hiện ý kiến chỉ đạo của Thủ tướng Chính phủ, Cổng TTĐT Chính phủ xin giới thiệu toàn văn nội dung các Dự thảo Văn bản quy phạm pháp luật dưới đây để lấy ý kiến đóng góp rộng rãi của các cơ quan, tổ chức, doanh nghiệp và đông đảo người dân trong và ngoài nước.<br>
        Mời bạn đọc nhấn vào các Dự thảo Văn bản quy phạm pháp luật dưới đây để tham gia góp ý.
    </div>

    <partial name="_PartialMsgInfo" />

    <table class="table table-bordered myTable" style="margin-top: 15px;">
        <thead>
            <tr>
                <th width="50px">STT</th>
                <th>Tiêu đề</th>
                <th width="100px" class="text-center">Góp ý</th>
                <th width="100px" class="text-center">Tải về</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">Không có văn bản nào</td>
                </tr>
            }
            else
            {
                for (int i = 0; i < Model.ListItems.Count(); i++)
                {

                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.ListItems[i].Title</td>
                        <td class="text-center"><a asp-controller="@ControllerName" asp-action="DuThaoVanBanGopY" asp-route-Id="@Model.ListItems[i].Id" asp-route-Ids="@Model.ListItems[i].Ids"> <i class="icofont-comment"></i> Góp Ý</a></td>
                        <td class="text-center">
                            <a href="@Model.ListItems[i].Link" target="_blank"> <i class="icofont-download"></i> Tải về</a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_PartialPagination", Model.Pagination)
    </div>

</div>
