﻿@model API.Areas.Admin.Models.Products.ProductsModel
@{
    Layout = "_LayoutProductLeft";
    ViewData["Title"] = "Giỏ hàng";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    if (Model.Cart.Total == null)
    {
        Model.Cart.Total = 0;
    }
}

<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area pt-10 pb-10 border-bottom mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb content  =======-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white pl-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
                <!--=======  End of breadcrumb content  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->
<!--==================== page content ====================-->

<div class="page-section pb-10">
    <div class="row">
        <div class="col-lg-12">
            <h2>Xem trước giỏ hàng</h2>
        </div>
    </div>
    <div class="row d-none d-sm-block">
        <div class="col-12">
            <form asp-controller="Products" asp-action="CheckOut" method="get">
                <!--=======  cart table  =======-->

                <div class="cart-table table-responsive mb-40">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Hình</th>
                                <th class="pro-title">Tên sản phẩm</th>
                                <th class="pro-price">Giá</th>
                                <th class="pro-quantity">Số lượng</th>
                                <th class="pro-subtotal">Tổng tiền</th>
                                <th class="pro-remove">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListItems != null && Model.ListItems.Count() > 0)
                            {

                                @for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    Model.Cart.Total = Model.Cart.Total + Model.ListItems[i].Quantity * Model.ListItems[i].Price;
                                    <tr>
                                        <td class="pro-thumbnail"><a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias"><img src="@Model.ListItems[i].Image" style="width:100px;" alt="Product"></a></td>
                                        <td class="pro-title">
                                            <a>@Model.ListItems[i].Title</a>

                                        </td>
                                        <td class="pro-price"><span style="font-weight: 700; font-size: 14px">@Model.ListItems[i].PriceDisplay</span></td>
                                        <td class="pro-quantity">
                                            <div class="row">
                                                <div class="input-group mb-3" style="width: 85%">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary" type="button" id="Quantity2_Btn_@Model.ListItems[i].Ids" onclick="DecreaseQuantity('@Model.ListItems[i].Ids')" style="background:#3cb362; color: white; border-radius: 9px 0px 0px 9px; border: none; height: 30px">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16" style="margin-bottom: 6px">
                                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <input type="number" required min="1" max="1000" class="form-control" id="Quantity2_@Model.ListItems[i].Ids" value="@Model.ListItems[i].Quantity" style="height: 30px">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="Quantity2_Btn_@Model.ListItems[i].Ids" onclick="IncreaseQuantity('@Model.ListItems[i].Ids')" style="background:#3cb362; color: white; border-radius: 0px 9px 9px 0px; border: none; height: 30px">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16" style="margin-bottom: 6px">
                                                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
@*                                                 <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="number" required min="1" max="1000" class="form-control" id="Quantity_@Model.ListItems[i].Ids" value="@Model.ListItems[i].Quantity">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <a href="javascript:void(0)" class="btn btn-primary" id="Quantity_Btn_@Model.ListItems[i].Ids" onclick="UpdateQuantity('@Model.ListItems[i].Ids')">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg> Cập Nhật
                                                    </a>
                                                    <a href="javascript:void(0)" class="btn btn-primary" id="Quantity_Btn_Load_@Model.ListItems[i].Ids" style="display:none;">
                                                        <div class="loadingio-spinner-reload-v9gl7rv29ah btn-loading">
                                                            <div class="ldio-bm5qh86b2sh">
                                                                <div><div></div><div></div><div></div></div>
                                                            </div>
                                                        </div> Cập Nhật
                                                    </a>
                                                </div> *@
                                            </div>

                                        </td>
                                        <td class="pro-subtotal"><span style="font-weight: 700; font-size: 15px; color: #dc3545">@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay((Model.ListItems[i].Quantity * Model.ListItems[i].Price).ToString())</span></td>
                                        <td class="pro-remove text-center">
                                            <a asp-controller="Products" asp-action="UpdateCart" asp-route-ids="@Model.ListItems[i].Ids" asp-route-quantity="0" asp-route-flag="2">
 @*                                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg> *@
                                                <svg class="bi"><use xlink:href="#bi-trash" /></svg>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center"><p>Không có sản phẩm nào trong giỏ hàng của bạn.</p></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <!--=======  End of cart table  =======-->


                <div class="row">

                    <div class="col-lg-6 col-12">

                    </div>


                    <div class="col-lg-8 col-12 d-flex">
                        <!--=======  Cart summery  =======-->

                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h2>Tổng thanh toán <span style="font-weight: 700; color: #dc3545">@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay(Model.Cart.Total.ToString()) (VNĐ)</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <a asp-controller="Products" asp-action="CheckOut" type="button" class="btn btn-primary border-0 rounded-5 checkout-btn" style="height: 50px; padding-top: 10px; background-color: #25bc4d">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.354-7.646a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                    </svg> Đồng ý mua hàng?
                                </a>
                            </div>
                        </div>
                        <!--=======  End of Cart summery  =======-->
                    </div>

                </div>
            </form>
        </div>
    </div>


    <!-- Mobile Design -->
    <div class="row d-block d-sm-none">
        <div class="col-12">
            <form asp-controller="Products" asp-action="CheckOut" method="get">
                <!--=======  cart table  =======-->


                <div class="cart-table table-responsive mt-40">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Hình</th>
                                <th class="pro-title">Thông tin sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ListItems != null && Model.ListItems.Count() > 0)
                            {

                                @for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    Model.Cart.Total = Model.Cart.Total + Model.ListItems[i].Quantity * Model.ListItems[i].Price;
                                    <tr>
                                        <td class="pro-thumbnail"><a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias"><img src="@Model.ListItems[i].Image" style="width:100px;" alt="Product"></a></td>
                                        <td class="pro-title">
                                            <div><span><a style="font-size: 18px">@Model.ListItems[i].Title</a></span></div>
                                            <div style="margin-top: 6px"><span style="font-weight: 700; font-size: 15px; color: #dc3545">@Model.ListItems[i].PriceDisplay</span></div>
                                            <div class="row" style="margin-top: 10px">
@*                                                 <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input type="number" required min="1" max="1000" class="form-control" id="Quantity_@Model.ListItems[i].Ids" value="@Model.ListItems[i].Quantity">
                                                    </div>
                                                </div> *@
                                                <div class="input-group mb-3" style="width: 70%">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary" type="button" id="Quantity2_Btn_@Model.ListItems[i].Ids" onclick="DecreaseQuantity('@Model.ListItems[i].Ids')" style="background:#3cb362; color: white; border-radius: 9px 0px 0px 9px; border: none; height: 30px">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16" style="margin-bottom: 6px">
                                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <input type="number" required min="1" max="1000" class="form-control" id="Quantity2_@Model.ListItems[i].Ids" value="@Model.ListItems[i].Quantity" style="height: 30px">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button" id="Quantity2_Btn_@Model.ListItems[i].Ids" onclick="IncreaseQuantity('@Model.ListItems[i].Ids')" style="background:#3cb362; color: white; border-radius: 0px 9px 9px 0px; border: none; height: 30px">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="white" class="bi bi-plus-lg" viewBox="0 0 16 16" style="margin-bottom: 6px">
                                                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
@*                                                 <div class="col-sm-6">
                                                    <a href="javascript:void(0)" class="btn btn-primary" id="Quantity_Btn_@Model.ListItems[i].Ids" onclick="UpdateQuantity('@Model.ListItems[i].Ids')">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg> Cập Nhật
                                                    </a>
                                                    <a href="javascript:void(0)" class="btn btn-primary" id="Quantity_Btn_Load_@Model.ListItems[i].Ids" style="display:none;">
                                                        <div class="loadingio-spinner-reload-v9gl7rv29ah btn-loading">
                                                            <div class="ldio-bm5qh86b2sh">
                                                                <div><div></div><div></div><div></div></div>
                                                            </div>
                                                        </div> Cập Nhật
                                                    </a>
                                                </div> *@
                                            </div>
@*                                             <span>@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay((Model.ListItems[i].Quantity * Model.ListItems[i].Price).ToString())</span> *@
                                            <a asp-controller="Products" asp-action="UpdateCart" asp-route-ids="@Model.ListItems[i].Ids" asp-route-quantity="0" asp-route-flag="2">
                                                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-top: -10px">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </a>
                                            </td>
                                    </tr>
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center"><p>Không có sản phẩm nào trong giỏ hàng của bạn.</p></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>

                <!--=======  End of cart table  =======-->


                <div class="row mt-3">

                    <div class="col-lg-6 col-12">
                    </div>


                    <div class="col-lg-8 col-12 d-flex">
                        <!--=======  Cart summery  =======-->

                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <span><h5>Tổng thanh toán</h5><h3 style="font-weight: 700; color: #dc3545">@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay((Model.Cart.Total / 2).ToString()) (VNĐ)</h3></span>
                            </div>
                            <div class="cart-summary-button mt-2 mb-3">
                                <a asp-controller="Products" asp-action="CheckOut" type="button" class="btn btn-primary border-0 rounded-5 checkout-btn" style="height: 50px; padding-top: 10px; background-color: #25bc4d">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.354-7.646a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                    </svg> Đồng ý mua hàng?
                                </a>
                            </div>
                        </div>
                        <!--=======  End of Cart summery  =======-->
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!--====================  End of page content  ====================-->

@section Scripts{
    <script>
        function DecreaseQuantity(Id) {
            var Quantity = parseInt($("#Quantity2_" + Id).val());
            Quantity--;

            if (Quantity > 0) {
                $.ajax({
                    url: "/Products/UpdateQuantity?Ids=" + Id + "&Quantity=" + Quantity + "&Flag=1",
                    method: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.replace("/gio-hang.html");
                    },
                    error: function () {
                        $("#Quantity2_Btn_" + Id).show();
                    }
                });
            } else {
                $("#Quantity2_Btn_" + Id).show();
            }

        }

        function IncreaseQuantity(Id) {
            var Quantity = parseInt($("#Quantity2_" + Id).val());
            Quantity++;

            if (Quantity > 0) {
                $.ajax({
                    url: "/Products/UpdateQuantity?Ids=" + Id + "&Quantity=" + Quantity + "&Flag=1",
                    method: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.replace("/gio-hang.html");
                    },
                    error: function () {
                        $("#Quantity2_Btn_" + Id).show();
                    }
                });
            } else {
                $("#Quantity2_Btn_" + Id).show();
            }

        }


        function UpdateQuantity(Id) {
            var Quantity = parseInt($("#Quantity_" + Id).val());

            $("#Quantity_Btn_" + Id).hide();
            $("#Quantity_Btn_Load_" + Id).show();

            if (Quantity > 0) {
                $.ajax({
                    url: "/Products/UpdateQuantity?Ids=" + Id + "&Quantity=" + Quantity + "&Flag=1",
                    method: 'GET',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.replace("/gio-hang.html");
                    },
                    error: function () {
                        $("#Quantity_Btn_" + Id).show();
                        $("#Quantity_Btn_Load_" + Id).hide();
                    }
                });
            } else {
                $("#Quantity_Btn_" + Id).show();
                $("#Quantity_Btn_Load_" + Id).hide();
            }

        }
    </script>
}