﻿@model API.Areas.Admin.Models.Orders.OrdersModel
@{
    Layout = "_LayoutNone";
    ViewData["Title"] = "Thanh Toán";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    //API.Areas.Admin.Models.Articles.ArticlesModel model = new API.Areas.Admin.Models.Articles.ArticlesModel();
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    .select2-container .select2-selection--single {
        height: 40px;
    }

    .select2-selection__rendered {
        font-size: 16px;
        margin-top: 5px;
    }

</style>
<!--====================  breadcrumb area ====================-->

<div class="breadcrumb-area pt-10 pb-10 border-bottom mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb content  =======-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white pl-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
                <!--=======  End of breadcrumb content  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<div class="page-section pb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Checkout Form s-->
                <partial name="_PartialMsgInfo" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-controller="Products" asp-action="CheckOut" method="post" class="checkout-form">
                    <div class="row row-40">

                        <div class="col-lg-7 mb-20">

                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-40">
                                <h4 class="heading-box checkout-title"><span>Địa chỉ</span> thanh toán</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Tên đầy đủ*</label>
                                            <input type="text" asp-for="Item.FullName" name="FullName" class="form-control" placeholder="Tên đầy đủ">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Số điện thoại*</label>
                                            <input type="text" asp-for="Item.Telephone" name="Telephone" class="form-control" placeholder="Số Điện Thoại">
                                        </div>
                                    </div>
@* 
                                    <div class="col-md-6 col-12 mb-20 email-none">
                                        <div class="form-group">
                                            <label class="form-label">Email</label>
                                            <input type="email" asp-for="Item.Email" name="Email" class="form-control" placeholder="Email">
                                        </div>
                                    </div> *@

                                   <!-- Phuong Xa -->

                                    <div class="col-md-4 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Tỉnh / Thành phố*</label>
                                            @* <select asp-for="Item.IdTinhThanh" id="IdTinhThanh" name="IdTinhThanh" class="form-control" asp-items="Model.ListItemsTinhThanh"></select> *@
                                            <select asp-for="Item.IdTinhThanh" name="IdTinhThanh" class="form-control select thaiha" asp-items="Model.ListItemsTinhThanh"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Quận / Huyện*</label>
                                            <select asp-for="Item.IdQuanHuyen" name="IdQuanHuyen" class="form-control" asp-items="Model.ListItemsQuanHuyen" data-id="@Model.Item.IdQuanHuyen"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Phường / Xã*</label>
                                            <select asp-for="Item.IdPhuongXa" name="IdPhuongXa" class="form-control" asp-items="Model.ListItemsPhuongXa" data-id="@Model.Item.IdPhuongXa"></select>
                                        </div>
                                    </div>

                                    <!-- End Phuong Xa -->

                                    <div class="col-md-6 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Địa chỉ*</label>
                                            <input type="text" asp-for="Item.Address" name="Address" class="form-control" placeholder="Địa chỉ Khách hàng">
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Mã giới thiệu</label>
                                            <input type="MaNV" asp-for="Item.MaNV" name="MaNV" class="form-control" placeholder="Mã giới thiệu">
                                        </div>
                                    </div>

                                    <div class="col-12 mb-20">
                                        <div class="form-group">
                                            <label class="form-label">Ghi chú</label>
                                            <input type="text" asp-for="Item.Note" name="Note" class="form-control" placeholder="Ghi chú">
                                        </div>
                                    </div>

                                    <input type="hidden" asp-for="Item.TotalQuantity" name="TotalQuantity" class="form-control">
                                </div>

                            </div>



                        </div>

                        <div class="col-lg-5">
                            <div class="row">
                                <div class="cart-summary">
                                    
                                    <!-- Cart Total -->
                                    <div class="col-12 mb-60">
                                        <h4 class="checkout-title">Tổng tiền hàng</h4>
                                        <div class="checkout-cart-total">
                                            <h4>Sản phẩm <span>Tổng</span></h4>
                                            <ul>
                                                @for (int i = 0; i < Model.ListCart.Count(); i++)
                                                {
                                                    Model.Item.Total = Model.Item.Total + Model.ListCart[i].Quantity * Model.ListCart[i].Price;
                                                    <li>
                                                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@Model.ListCart[i].Id" asp-route-alias="@Model.ListCart[i].Alias">@Model.ListCart[i].Title</a>
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                        </svg>
                                                        @Model.ListCart[i].Quantity <span>= @API.Models.MyHelper.StringHelper.ConvertNumberToDisplay((Model.ListCart[i].Quantity * Model.ListCart[i].Price).ToString())</span>
                                                    </li>
                                                }
                                            </ul>
                                            <h4>Tổng Tiền <span>@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay(Model.Item.Total.ToString()) (VNĐ)</span></h4>
                                        </div>

                                    </div>

                                    <!-- Payment Method -->
                                    <div class="col-12">
                                        <button class="btn btn-primary border-0 rounded-0 place-order" type="submit" id="btn_checkout">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm.354-7.646a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                            </svg> Thanh Toán
                                        </button>
                                        <a href="javascript:void(0)" class="btn btn-primary" id="btn_checkout_load" style="display:none;">
                                            <div class="loadingio-spinner-reload-v9gl7rv29ah btn-loading">
                                                <div class="ldio-bm5qh86b2sh">
                                                    <div><div></div><div></div><div></div></div>
                                                </div>
                                            </div> Đang gửi thông tin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--====================  End of page content  ====================-->
@* <script src="~/Templates/Default/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.thaiha').select2({ width: '100%' });
        ('.select2-selection--single').height = '35px';
        $('#table-breakpoint').basictable({
            breakpoint: 981,
        });
    });
</script>
@* <script type="text/javascript">
    // $(function () {
    //     $("#IdTinhThanh").select2();
    // });
    $(document).ready(function () {
        $('#IdTinhThanh').select2();
    });
</script> *@
<script>
    $('select[name="IdQuanHuyen"]').change(function () {
        GetListDMPhuongXa("IdPhuongXa", $("#Item_IdQuanHuyen").val());
        console.log("dsds");
    });
    function GetListDMPhuongXa(flag, IdQuanHuyen) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#Item_IdQuanHuyen").data("id");
        console.log(IdQuanHuyen);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListPhuongXaByJson?IdQuanHuyen=" + IdQuanHuyen,
            data: JSON.stringify({ IdQuanHuyen: IdQuanHuyen }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Phường Xã ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#Item_IdPhuongXa").html(htmlData);
                //$("#Item_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }





    $('select[name="IdTinhThanh"]').change(function () {
        GetListDMQuanHuyen("IdHuyen", $("#Item_IdTinhThanh").val());
        console.log("dsds");
    });

    function GetListDMQuanHuyen(flag, IdTinhThanh) {
        var form = $('#AjaxDeleteForm');
        var token = jQuery('input[name="__RequestVerificationToken"]', form).val();
        var id = jQuery("#Item_IdQuanHuyen").data("id");
        console.log(IdTinhThanh);
        var headers = {};
        // headers["RequestVerificationToken"] = token;
        return $.ajax({
            type: "POST",
            url: "/Products/GetListQuanHuyenByJson?IdTinhThanh=" + IdTinhThanh,
            data: JSON.stringify({ IdTinhThanh: IdTinhThanh }),
            // headers: headers,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                let htmlData = '<option selected="selected" value="0">--- Chọn Quận Huyện ---</option>';
                console.log(data);
                if (data != null) {
                    for (let i = 0; i < data.length; i++) {
                        htmlData = htmlData + "<option value='" + data[i].Id + "'>" + data[i].Ten + "</option>";
                    }
                } else { }
                $("#Item_IdQuanHuyen").html(htmlData);
                //$("#Item_IdQuanHuyen").val(id);
            },
            error: function (e) {
                console.log(e.message);
                $("#loading").addClass("an");
                $("#loginerr").removeClass("an").text("Kết nối thất bại. Vui lòng chọn đăng nhập lại! errorerrorerror");
            }
        });
    }
</script>
}