﻿@model API.Areas.Admin.Models.Products.ProductsModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutProductLeft";
    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }
    if (Model.Item.Metadesc == null || Model.Item.Metadesc == "")
    {
        Model.Item.Metadesc = Model.Item.Introtext;
    }
    ViewData["Title"] = (Model.Item.Title);
    ViewData["Description"] = (Model.Item.Metadesc);
    ViewData["Keywords"] = (Model.Item.Metakey);
    ViewData["Images"] = Domain + "/"+ Model.Item.Image;
    ViewData["Url"] = Domain + "/san-pham/" + Model.Item.Alias + "-" + Model.Item.Id.ToString() + ".html";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}
<!--====================  breadcrumb area ====================-->

<div class="row">
    <div class="col-lg-12">
        <!--=======  breadcrumb content  =======-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white pl-0">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@(@Model.Item.Title)</li>
            </ol>
        </nav>



        <!--=======  End of breadcrumb content  =======-->
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->
<!--====================  product details area ====================-->

<div class="product-details-area mb-40">
    <div class="row">
        <div class="col-lg-6 mb-md-30 mb-sm-25">
            <!--=======  product details slider  =======-->
            <!--=======  big image slider  =======-->

            <div class="big-image-slider-wrapper big-image-slider-wrapper--change-cursor">
                <div class="ht-slick-slider big-image-slider99">

                    <!--=======  big image slider single item  =======-->

                    <div class="big-image-slider-single-item">
                        <img src="@Model.Item.Image" class="img-fluid" alt="@Model.Item.Title">
                    </div>

                    <!--=======  End of big image slider single item  =======-->


                </div>
            </div>


            <!--=======  End of product details slider  =======-->
        </div>

        <div class="col-lg-6">
            <!--=======  product details content  =======-->

            <div class="product-detail-content">

                <h3 class="product-details-title mb-15">@Model.Item.Title</h3>
                <div class="rating d-inline-block mr-15">
                    @for (int s = 1; s <= 5; s++)
                    {
                        if (s <= Model.Item.Star)
                        {
                            <i class="bx bxs-star"></i>
                        }
                        else
                        {
                            <i class="bx bx-star"></i>
                        }
                    }
                </div>

                <p class="product-price product-price--big mb-10">
                    <span class="discounted-price">@Model.Item.PriceDisplay</span>
                    <span class="main-price discounted">@Model.Item.PriceDealDisplay</span>
                </p>

                <div class="product-short-desc mb-25">
                    @Model.Item.Introtext
                </div>

                <form asp-controller="Products" asp-action="AddCart" method="Get">
                    <input type="hidden" name="Ids" asp-for="Item.Ids">
                    <input type="hidden" name="Flag" value="2">
                    <div class="quantity mb-20">
                        <span class="quantity-title mr-20">Số lượng: </span>
                        <div class="pro-qty mr-15 mb-lg-20 mb-md-20 mb-sm-20">
                            <input type="text" name="Quantity" asp-for="Item.Amounts">
                        </div>
                        <button type="submit" class="theme-button product-cart-button"><i class="icofont-shopping-cart"></i> THÊM SẢN PHẨM</button>
                    </div>
                </form>


            </div>

            <!--=======  End of product details content  =======-->
        </div>

    </div>
</div>

<!--=======  product description review   =======-->

<div class="product-description-review-area mb-20">
    <div class="row">
        <div class="col-lg-12">
            <!--=======  product description review container  =======-->

            <div class="tab-slider-wrapper product-description-review-container">
                <nav>
                    <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="description-tab" data-toggle="tab" href="#product-description" role="tab"
                           aria-selected="true" title="Mô Tả @Model.Item.Title">Mô Tả</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-description" role="tabpanel" aria-labelledby="description-tab">
                        <!--=======  product description  =======-->

                        <div class="product-description">
                            @Html.Raw(Model.Item.Description)
                        </div>

                        <!--=======  End of product description  =======-->
                    </div>

                </div>
            </div>

            <!--=======  End of product description review container  =======-->
        </div>
    </div>
</div>

<!--=======  End of product description review   =======-->

@section Scripts{
    <script>
        /*=============================================
        =            quantity counter            =
        =============================================*/

        $('.pro-qty').append('<a href="#" class="inc qty-btn">+</a>');
        $('.pro-qty').append('<a href="#" class= "dec qty-btn">-</a>');
        $('.qty-btn').on('click', function (e) {
            e.preventDefault();
            var $button = $(this);
            var oldValue = $button.parent().find('input').val();
            if ($button.hasClass('inc')) {
                var newVal = parseFloat(oldValue) + 1;
            } else {
                // Don't allow decrementing below zero
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 0;
                }
            }
            $button.parent().find('input').val(newVal);
        });
        /*=====  End of quantity counter  ======*/
    </script>

}