﻿@model API.Areas.Admin.Models.Orders.OrdersModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_LayoutNone";
    ViewData["Title"] = "Mua sản phẩm";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();

}
<div class="page-thank">
    <div class="page-thank-container">
        <div class="bill">
            <div class="bill-message">
                <div class="alert success">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM15.2197 8.96967L10.75 13.4393L8.78033 11.4697C8.48744 11.1768 8.01256 11.1768 7.71967 11.4697C7.42678 11.7626 7.42678 12.2374 7.71967 12.5303L10.2197 15.0303C10.5126 15.3232 10.9874 15.3232 11.2803 15.0303L16.2803 10.0303C16.5732 9.73744 16.5732 9.26256 16.2803 8.96967C15.9874 8.67678 15.5126 8.67678 15.2197 8.96967Z" fill="#24A148"></path>
                    </svg>
                    <span>Quý khách Đặt hàng thành công.</span>
                </div>
                <p>
                    Cảm ơn quý khách đã đặt hàng tại @ItemConfig.WebsiteName. Nếu trong 15 phút tới Quý khách không nhận được cuộc gọi xác nhận từ Công ty, xin vui lòng liên hệ đến hotline @ItemConfig.Phone (Nhánh 1) để được hỗ trợ.
                </p>
            </div>
            <div class="bill-info">
                <h2>Thông tin đơn hàng <strong>#@Model.Item.OrderCode</strong></h2>
                <div class="bill-info__delivery">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.6304 22.6213C40.1629 21.9138 40.7929 21.2838 41.5004 20.7513C42.3917 20.08 43.4042 19.565 44.5004 19.2463C45.3342 19.0013 46.2142 18.8713 47.1254 18.8713C47.9529 18.8713 48.6817 19.4138 48.9204 20.2038L49.6492 22.6213L53.1017 34.0638L53.4567 35.2413C53.6417 35.8525 53.5029 36.5175 53.0879 37.0025C52.6717 37.4875 52.0442 37.7313 51.4029 37.64C51.2854 37.6225 51.1667 37.6213 51.0492 37.6213C45.6992 37.6225 41.5004 41.7688 41.5004 46.9963C41.5004 48.0325 40.6617 48.8713 39.6254 48.8713C38.5892 48.8713 37.7504 48.0325 37.7504 46.9963V28.2463C37.7504 26.1375 38.4504 24.19 39.6304 22.6213Z" fill="url(#paint_delivery0_linear)"></path>
                        <path d="M9.5 48.8713H24.5C25.5362 48.8713 26.375 49.71 26.375 50.7463C26.375 51.3875 26.31 52.015 26.1862 52.6213C25.3162 56.895 21.5275 60.1213 17 60.1213C12.4725 60.1213 8.68375 56.895 7.81375 52.6213C7.69 52.015 7.625 51.3875 7.625 50.7463C7.625 49.71 8.46375 48.8713 9.5 48.8713Z" fill="url(#paint_delivery1_linear)"></path>
                        <path d="M17.0001 56.3713C19.4446 56.3713 21.5301 54.8039 22.3047 52.6213H11.6956C12.4701 54.8039 14.5556 56.3713 17.0001 56.3713Z" fill="#FAAF42"></path>
                        <path d="M34 20.7463C34 21.7827 34.8386 22.6213 35.875 22.6213H43.375C44.4114 22.6213 45.25 21.7827 45.25 20.7463C45.25 19.7099 44.4114 18.8713 43.375 18.8713H35.875C34.8386 18.8713 34 19.7099 34 20.7463Z" fill="url(#paint_delivery2_linear)"></path>
                        <path d="M11.375 26.3713H24.5C27.6012 26.3713 30.125 28.895 30.125 31.9963V35.4963L26.25 37.6213H11.375C9.57625 37.6213 7.97125 36.7713 6.94 35.4525C6.195 34.4988 5.75 33.2975 5.75 31.9963C5.75 28.895 8.27375 26.3713 11.375 26.3713Z" fill="url(#paint_delivery3_linear)"></path>
                        <path d="M0.387501 45.6463C1.2875 42.1213 2.675 39.3088 4.5875 37.3213C4.6325 37.2738 4.67625 37.2275 4.7225 37.1825C5.03875 36.8613 5.37 36.5675 5.71625 36.295C5.79625 36.2338 5.87625 36.1725 5.9575 36.1125C5.99375 36.085 6.03 36.0588 6.06625 36.0325C6.1375 35.98 6.21125 35.9288 6.285 35.8775C6.295 35.87 6.30625 35.8625 6.3175 35.855C6.4175 35.7863 6.51875 35.7188 6.62125 35.6525C6.62375 35.65 6.6275 35.6488 6.63 35.6463C6.7325 35.5813 6.835 35.5163 6.94 35.4525C6.94375 35.45 6.94625 35.4488 6.95 35.4463H30.125V35.7463C30.125 36.1613 29.99 36.5463 29.7612 36.8563C29.7612 36.8563 29.7612 36.8575 29.76 36.8575C29.6745 36.9533 29.5713 37.0453 29.4137 37.215C29.4113 37.2175 29.41 37.2188 29.4075 37.2213C29.265 37.3738 29.1287 37.5313 28.9975 37.6925C28.6562 38.1173 28.3649 38.5513 28.1287 38.98C28.0559 39.105 27.8865 39.425 27.72 39.8113C27.272 40.872 27.0125 41.9964 27.0125 43.2463C27.0125 45.3463 27.8 47.2963 29.1125 48.8713H37.75V46.9963C37.75 39.7588 43.6375 33.8713 50.875 33.8713C51.2125 33.8713 51.5875 33.8713 51.775 33.9088C52.2237 33.9388 52.6662 33.99 53.1012 34.0638C59.3162 35.1138 64 40.5475 64 46.9963V50.4963L60.25 50.7463C60.25 47.6338 57.7375 45.1213 54.625 45.1213C51.5125 45.1213 49 47.6338 49 50.7463C49 51.7963 48.175 52.6213 47.125 52.6213H5.8625C4.1 52.6213 2.4875 51.8338 1.4 50.4463C0.350002 49.0588 -0.0250015 47.3338 0.387501 45.6463Z" fill="url(#paint_delivery4_linear)"></path>
                        <path d="M5.625 3.87128H20.75C23.8512 3.87128 26.375 6.39503 26.375 9.49628V11.3713L24.5 15.1213H1.875L0 11.3713V9.49628C0 6.39503 2.52375 3.87128 5.625 3.87128Z" fill="url(#paint_delivery5_linear)"></path>
                        <path d="M26.375 11.3713V11.4963V22.6213C26.375 24.6925 24.6962 26.3713 22.625 26.3713H3.75C1.67875 26.3713 0 24.6925 0 22.6213V11.3713H26.375Z" fill="url(#paint_delivery6_linear)"></path>
                        <path d="M53.0525 41.5125C58.6737 40.4988 63.8462 44.92 63.9963 50.4963C63.9988 50.5788 64 50.6625 64 50.7463C64 51.2675 63.9475 51.8013 63.8787 52.075C63.8312 52.6088 63.7 53.1688 63.4912 53.7438C62.6337 56.2925 60.715 58.3525 58.2263 59.3975C57.0663 59.885 55.8412 60.1288 54.6012 60.1288C53.105 60.1288 51.585 59.775 50.1337 59.0725C47.6912 57.8888 45.9587 55.4625 45.425 52.6213C45.31 52.0125 45.25 51.385 45.25 50.7463C45.25 46.1575 48.54 42.2738 53.0525 41.5125Z" fill="url(#paint_delivery7_linear)"></path>
                        <path d="M47.1244 11.3713L51.8119 11.6838C52.8482 11.6838 52.7494 12.21 52.7494 13.2463V20.7463C52.7494 21.7825 51.9107 22.6213 50.8744 22.6213H41.4994V16.9963C41.4994 13.895 44.0232 11.3713 47.1244 11.3713Z" fill="url(#paint_delivery8_linear)"></path>
                        <path d="M54.625 56.3713C57.7267 56.3713 60.25 53.848 60.25 50.7463C60.25 47.6445 57.7267 45.1213 54.625 45.1213C51.5233 45.1213 49 47.6445 49 50.7463C49 53.848 51.5233 56.3713 54.625 56.3713Z" fill="#FAAF42"></path>
                        <path d="M1.4 50.4462C2.4875 51.8337 4.1 52.6212 5.8625 52.6212H32V48.8712H29.1125C27.8 47.2962 27.0125 45.3462 27.0125 43.2462C27.0125 41.9959 27.2708 40.8748 27.72 39.8112C27.8236 39.5593 28.0254 39.1572 28.1287 38.9799C28.3801 38.5236 28.6781 38.0899 28.9975 37.6924C29.1288 37.5312 29.265 37.3737 29.4075 37.2212C29.41 37.2187 29.4112 37.2174 29.4137 37.2149C29.5561 37.0616 29.6671 36.9614 29.76 36.8574C29.7612 36.8574 29.7612 36.8562 29.7612 36.8562C29.99 36.5462 30.125 36.1612 30.125 35.7462V35.4462H6.95C6.94625 35.4487 6.94375 35.4499 6.94 35.4524C6.835 35.5162 6.7325 35.5812 6.63 35.6462C6.6275 35.6487 6.62375 35.6499 6.62125 35.6524C6.51875 35.7187 6.4175 35.7862 6.3175 35.8549C6.30625 35.8624 6.295 35.8699 6.285 35.8774C6.21125 35.9287 6.1375 35.9799 6.06625 36.0324C6.03 36.0587 5.99375 36.0849 5.9575 36.1124C5.87625 36.1724 5.79625 36.2337 5.71625 36.2949C5.37 36.5674 5.03875 36.8612 4.7225 37.1824C4.67625 37.2274 4.6325 37.2736 4.5875 37.3212C2.675 39.3087 1.2875 42.1212 0.387501 45.6462C-0.0249977 47.3337 0.350002 49.0587 1.4 50.4462Z" fill="url(#paint_delivery9_linear)"></path>
                        <defs>
                            <linearGradient id="paint_delivery0_linear" x1="45.6438" y1="18.8713" x2="45.6438" y2="48.8713" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FAAF42"></stop>
                                <stop offset="1" stop-color="#F15B2C"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery1_linear" x1="17.5208" y1="48.8713" x2="17.5208" y2="60.1213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F15B2C"></stop>
                                <stop offset="1" stop-color="#BC2030"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery2_linear" x1="39.625" y1="18.8713" x2="39.625" y2="22.6213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F7F3F2" stop-opacity="0.75"></stop>
                                <stop offset="1" stop-color="#F7F3F2"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery3_linear" x1="17.9375" y1="26.3713" x2="17.9375" y2="37.6213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F7F3F2" stop-opacity="0.75"></stop>
                                <stop offset="1" stop-color="#F7F3F2"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery4_linear" x1="33.8833" y1="33.8713" x2="33.8833" y2="52.6213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F15B2C"></stop>
                                <stop offset="1" stop-color="#BC2030"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery5_linear" x1="13.9201" y1="3.87128" x2="13.9201" y2="15.1213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F15B2C"></stop>
                                <stop offset="1" stop-color="#BC2030"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery6_linear" x1="13.1875" y1="11.3713" x2="13.1875" y2="26.3713" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FAAF42"></stop>
                                <stop offset="1" stop-color="#F15B2C"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery7_linear" x1="55.1458" y1="41.367" x2="55.1458" y2="60.1288" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F15B2C"></stop>
                                <stop offset="1" stop-color="#BC2030"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery8_linear" x1="47.4383" y1="11.3713" x2="47.4383" y2="22.6213" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F15B2C"></stop>
                                <stop offset="1" stop-color="#BC2030"></stop>
                            </linearGradient>
                            <linearGradient id="paint_delivery9_linear" x1="16.1117" y1="35.4462" x2="16.1117" y2="52.6212" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FAAF42"></stop>
                                <stop offset="1" stop-color="#F15B2C"></stop>
                            </linearGradient>
                        </defs>
                    </svg>

                    <div class="bill-info__delivery-details">
                        <h3 class="shipment_type">Đặt giao hàng tại</h3>
                        <p class="shipment_title">@ItemConfig.WebsiteName</p>
                        <p class="shipment_address">@ItemConfig.Address</p>
                    </div>
                </div>
            </div><!--bill-info-->
            <div class="bill-info__customer">
                <div class="bill-info__customer-details">
                    <div class="field-group">
                        <span class="field-name">Tên khách hàng</span><span class="field-value">@Model.Item.FullName</span>
                    </div>
                    <div class="field-group">
                        <span class="field-name">Số điện thoại</span><span class="field-value">@Model.Item.Telephone</span>
                    </div>
                    <div class="field-group">
                        <span class="field-name">Địa chỉ giao hàng</span><span class="field-value">@(Model.Item.Address) ,@(Model.Item.PhuongXa) ,@(Model.Item.QuanHuyen) ,@(Model.Item.TinhThanh                        )</span>
                    </div>
                    <div class="field-group">
                        <span class="field-name">Ghi chú đơn hàng</span><span class="field-value">@Model.Item.Note</span>
                    </div>
                    
                </div>
            </div><!--bill-info__customer-->

            <div class="bill-info__paper">
                <div class="top-edge">
                    <svg width="353" height="8" viewBox="0 0 353 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M352.561 0L344.174 5.6L335.779 0L327.393 5.6L319.006 0L310.629 5.6L302.242 0L293.865 5.6L285.478 0L277.101 5.6L268.714 0L260.328 5.6L251.95 0L243.564 5.6L235.186 0L226.8 5.6L218.422 0L210.036 5.6L201.658 0L193.281 5.6L184.903 0L176.525 5.6L168.148 0L159.77 5.6L151.393 0L143.015 5.6L134.637 0L126.251 5.6L117.873 0L109.496 5.6L101.109 0L92.7317 6.4L84.3541 0L75.9765 5.6L67.5901 0L59.2125 5.6L50.8349 0L42.4573 5.6L34.0709 0L25.6933 5.6L17.3157 0L8.93815 5.6L0.560547 0V8H352.561V0Z" fill="#F7F3F2"></path>
                    </svg>

                </div>

                <div class="bill-info__items">
                    <div class="bill-info__items-inner">
                        <h3 class="bill-info__items-head">Thông tin giỏ hàng</h3>
                        <div class="bill-info__items-body">
                            <div class="bill-info__details">
                                @if (Model.ListOrdersProducts != null && Model.ListOrdersProducts.Count() > 0)
                                {
                                    for (int j = 0; j < Model.ListOrdersProducts.Count; j++)
                                    {


                                        <div class="item">
                                            <div class="item-name">@Model.ListOrdersProducts[j].ProductsTitle</div>
                                            <div class="item-foot">
                                                <div class="item-qty">Số lượng <span>x @Model.ListOrdersProducts[j].Quantity</span></div>
                                                <div class="item-amount">@Model.ListOrdersProducts[j].TotalDisplay VNĐ</div>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                        <div class="bill-info__items-foot">
                            <div class="overview">
                                <div class="overview-title">Tổng số</div>
                                <div class="overview-value">@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay(Model.Item.Amount.ToString()) VNĐ</div>
                            </div>

                            <div class="overview">
                                <div class="overview-title">Chiết khấu</div>
                                <div class="overview-value">- @API.Models.MyHelper.StringHelper.ConvertNumberToDisplay(Model.Item.ChietKhau.ToString()) % (@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay((Model.Item.Amount * Model.Item.ChietKhau / 100).ToString()) VNĐ)</div>
                            </div>


                            <div class="overview-total">
                                <div class="overview-title">Tổng tiền thanh toán</div>
                                <div class="overview-value">@API.Models.MyHelper.StringHelper.ConvertNumberToDisplay(Model.Item.Total.ToString()) VNĐ</div>
                            </div>

                        </div>
                    </div>
                </div><!--bill-info__items-->

                <div class="bottom-edge">
                    <svg width="353" height="8" viewBox="0 0 353 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M352.561 8L344.174 2.4L335.779 8L327.393 2.4L319.006 8L310.629 2.4L302.242 8L293.865 2.4L285.478 8L277.101 2.4L268.714 8L260.328 2.4L251.95 8L243.564 2.4L235.186 8L226.8 2.4L218.422 8L210.036 2.4L201.658 8L193.281 2.4L184.903 8L176.525 2.4L168.148 8L159.77 2.4L151.393 8L143.015 2.4L134.637 8L126.251 2.4L117.873 8L109.496 2.4L101.109 8L92.7317 1.6L84.3541 8L75.9765 2.4L67.5901 8L59.2125 2.4L50.8349 8L42.4573 2.4L34.0709 8L25.6933 2.4L17.3157 8L8.93815 2.4L0.560547 8V0H352.561V8Z" fill="#F7F3F2"></path>
                    </svg>

                </div>

            </div>
            <div class="bill-info__footer">
                <a href="/" class="btn-backToHome"><span>quay về trang chủ</span></a>
            </div><!--bill-info__footer-->

        </div>

    </div>
</div>

<link rel="stylesheet" href="~/Templates/Default/css/page-thank.css" />

<!--https://localhost:44395/Products/Thanks/JJR210415044445-->