﻿@model API.Areas.Admin.Models.Banners.BannersModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Banner/Liên Kết";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Banner/Liên Kết";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Item.CatId">Vị trí</label>
                        <select asp-for="Item.CatId" name="CatId" class="form-control" asp-items="Model.ListItemsCategories"></select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Item.Link">Link <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Link" name="Link">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Item.SortOrder">Số Thứ Tự</label>
                        <input type="text" class="form-control" asp-for="Item.SortOrder" name="SortOrder">
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Item.Target">Target</label>
                        <input type="text" class="form-control" asp-for="Item.Target" name="Target">
                    </div>
                </div>
                <div class="col-3">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="row">
                <div class="col-12">
                    <div class="form-group images-main">
                        <label>Hình đại diện</label>
                        <img src="@Model.Item.Image" class="Item_Images_Main_Preview" style="max-height:200px;">
                        <input type="hidden" name="Image" id="Item_Images_Main" class="form-control" asp-for="Item.Image">
                        <a onclick="ShowManagerFile('Item_Images_Main')" class="btn btn-primary">Chọn hình</a>    
                        <a onclick="ViewImageMain('Item_Images_Main')"> <i class="fas fa-eye"></i> Xem ảnh</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Item.Title">Mô tả</label>
                        <textarea asp-for="Item.Description" id="full-textarea" name="Description" class="form-control"></textarea>
                    </div>
                </div>
            </div>

           <div class="row">
               <div class="col-lg-12">
                   <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                       <i class="fas fa-save"></i> Lưu lại
                   </button>
                   <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index" asp-route-catid="@Model.Item.CatId"><i class="fas fa-backward"></i> Hủy</a>
               </div>
           </div>
            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
            <input type="hidden" class="form-control" asp-for="SearchData.IdCoQuan" name="IdCoQuan">

        </form>
    </div>
</div>


<partial name="_PartialTinymce" />
@section Scripts{
    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>    
}