﻿@using Microsoft.AspNetCore.Http;
@model API.Areas.Admin.Models.Recruitment.RecruitmentModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@{
    ViewData["Title"] = "Đăng ký tuyển dụng";
    Layout = "_LayoutNone";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var ItemConfig = API.Areas.Admin.Models.SYSParams.SYSParamsService.GetItemConfigByHome();
}

<section id="contact" class="contact">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title-contact">
            <h2>@ViewData["Title"]</h2>
            <h3><span>@ItemConfig.WebsiteName</span></h3>
            <p>@ItemConfig.AboutUs</p>
        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Địa chỉ</h3>
                    <p>@ItemConfig.Address</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email</h3>
                    <a href="mailto:@ItemConfig.Email">@ItemConfig.Email</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Điện Thoại</h3>
                    <a href="mailto:@ItemConfig.Phone">@ItemConfig.Phone</a>
                </div>
            </div>

        </div>

        <div class="row aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6 ">
                @Html.Raw(ItemConfig.Map)
            </div>

            <div class="col-lg-6">

                <partial name="_PartialMsgInfo" />
                <form asp-controller="@ControllerName" asp-action="Index" method="post" class="php-email-form" id="my-form-contact">
                    <div class="row">
                        <div class="col form-group">
                            <label for="Fullname" class="form-label">Họ Tên (Bắt buộc) <small class="text-danger">*</small></label>
                            <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname" placeholder="Họ Tên">
                        </div>
                        <div class="col form-group">
                            <label for="Email" class="form-label">Thư điện tử (Bắt buộc) <small class="text-danger">*</small></label>
                            <input type="email" class="form-control" asp-for="Item.Email" name="Email" placeholder="Thư điện tử">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="Address" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" asp-for="Item.Address" name="Address" placeholder="Địa chỉ">
                        </div>
                        <div class="col form-group">
                            <label for="Phone" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" asp-for="Item.Phone" name="Phone" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title" class="form-label">Tiêu đề (Bắt buộc) <small class="text-danger">*</small></label>
                        <input type="text" class="form-control" asp-for="Item.Title" name="Title" placeholder="Tiêu đề">
                    </div>
                    <div class="form-group">
                        <label for="Introtext" class="form-label">Mô tả ngắn bản thân <small class="text-danger">*</small></label>
                        <textarea class="form-control" asp-for="Item.Introtext" name="Introtext" placeholder="Mô tả ngắn bản thân"></textarea>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <label for="NamKinhNghiem" class="form-label">Số năm kinh nghiệm</label>
                            <input type="number" class="form-control" asp-for="Item.NamKinhNghiem" name="NamKinhNghiem" placeholder="Số năm kinh nghiệm">
                        </div>
                        <div class="col form-group">
                            <label for="MucLuongMongMuon" class="form-label">Mức lương mong muốn</label>
                            <input type="number" class="form-control" asp-for="Item.MucLuongMongMuon" name="MucLuongMongMuon" placeholder="Mức lương mong muốn">
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="text-center">
                        <a class="btn btn-primary btn-sm" id="contact-saveitem">
                            <i class="icofont-paper-plane"></i> Đăng ký tuyển dụng
                        </a>
                        <a class="btn btn-info text-white btn-sm" asp-controller="Home" asp-action="Index">
                            <i class="icofont-home"></i> Trang Chủ
                        </a>
                    </div>

                    <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                    <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
                    <input type="hidden" class="form-control" asp-for="Item.Token" name="Token">
                </form>
            </div>

        </div>

    </div>
</section>

@section Scripts{

    <script>
        document.getElementById("contact-saveitem").addEventListener("click", function () {
            grecaptcha.ready(function () {
                grecaptcha.execute("@Configuration["RecaptchaSettings:SiteKey"]", { action: 'submit' }).then(function (token) {
                    $("#Item_Token").val(token);
                    document.getElementById("my-form-contact").submit();
                });
            });
        });
    </script>
}

<link rel="stylesheet" href="~/Templates/Default/css/page-contact.css" />