﻿@using Microsoft.AspNetCore.Http;
@{ 
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = this.ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Templates/@Context.Session.GetString("TemplateName")/css/site.css" />
    <partial name="_PartialSEO" />
</head>
<body>
    <header id="header">
        <div class="header-top bg-theme-colored">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="widget no-border">
                            <ul class="header-top-left styled-icons icon-dark icon-circled icon-theme-colored icon-sm sm-text-center mt-sm-15">
                                <li><a href="#"><i class="fab fa-facebook-f text-white"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter text-white"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g text-white"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram text-white"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in text-white"></i></a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="widget no-border">
                            <ul class="header-top-left list-inline float-right flip sm-pull-none sm-text-center">
                                <li class="list-inline-item"><a href="#" class="text-white">Help Desk</a></li>
                                <li class="list-inline-item text-white">|</li>
                                <li class="list-inline-item"><a href="#" class="text-white">Emergency Services </a></li>
                                <li class="list-inline-item text-white">|</li>
                                <li class="list-inline-item"><a href="#" class="text-white">Appointment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-5">
                        <a class="logo float-left">
                            <img src="~/Templates/@Context.Session.GetString("TemplateName")/images/logo.png" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="widget no-border float-right mb-10 mt-10">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fas fa-mobile-alt text-theme-colored" style="font-size:36px"></i></li>
                                <li class="list-inline-item">
                                    <a href="#" class="font-12 text-gray text-uppercase">Call us today!</a>
                                    <h5 class="font-14 m-0"> +(012) 345 6789</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="widget no-border float-right mb-10 mt-10">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fas fa-history text-theme-colored" style="font-size:36px"></i>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="font-12 text-gray text-uppercase">We are open!</a>
                                    <h5 class="font-13 text-black m-0"> Mon-Fri 8:00-16:00</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @if (ActionName == "Index" && ControllerName == "Home")
    {
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <h1>Trang Chủ</h1>
                <h2>Template name: @Context.Session.GetString("TemplateName");</h2>
                <h2>DomainName: @Context.Session.GetString("DomainName");</h2>
                <h2>DomainId: @Context.Session.GetString("DomainId");</h2>
                @RenderBody()
            </main>

        </div>
        <section class="clients bg-theme-colored">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialPartner" />                        
                    </div>
                </div>
            </div>
        </section>

    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Trang Con</h2>
                    <h2>Template name: @Context.Session.GetString("TemplateName");</h2>
                    <h2>DomainName: @Context.Session.GetString("DomainName");</h2>
                    <h2>DomainId: @Context.Session.GetString("DomainId");</h2>
                    @RenderBody()
                </div>
                <div class="col-lg-4">
                    <h2>Col Left</h2>
                </div>
            </div>
        </div>
    }

    <partial name="Templates/@Context.Session.GetString("TemplateName")/_PartialFooter" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $('.clients-logo').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
