﻿<footer id="footer">
    <div class="container pt-90 pb-60">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <img alt="" src="images/logo-wide-white.png">
                    <p class="font-12 mt-10 mb-10">Medikal is a library of health and medical templates with predefined web elements which helps you to build your medical templates best site</p>
                    <a class="btn btn-default btn-transparent btn-xs btn-flat mt-5" href="#">Read more</a>
                    <ul class="styled-icons icon-dark icon-theme-colored icon-circled icon-sm mt-20">
                        <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter "></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g "></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram "></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in "></i></a></li>                        
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom-theme-colored-2">Latest News</h5>
                    <div class="latest-posts">
                        @for (int i = 0; i < 3; i++)
                        {
                            <article class="post media-post clearfix pb-0 mb-10">
                                <a class="post-thumb" href="#"><img src="~/Templates/Default/images/80x55.png" alt=""></a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-5"><a href="#">Sustainable Construction</a></h5>
                                    <p class="post-date mb-0 font-12">Mar 08, 2015</p>
                                </div>
                            </article>
                        }

                    </div>
                </div>
            </div>
            <!--End col 2-->

            <div class="col-sm-6 col-md-3">
                <div class="widget dark">
                    <h5 class="widget-title line-bottom-theme-colored-2">Opening Hours</h5>
                    <div class="opening-hours">
                        <ul class="list list-border">
                            <li class="clearfix">
                                <span><i class="fa fa-clock-o mr-5"></i> Mond - Tuesday :</span>
                                <div class="value pull-right"> 9.00 am - 10.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span class="text-theme-color-2"><i class="fa fa-clock-o mr-5"></i> Wednes - Thurs </span>
                                <div class="value pull-right text-white"> 10.00 am - 8.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span><i class="fa fa-clock-o mr-5"></i> Sat - Monday :</span>
                                <div class="value pull-right"> 9.00 am - 10.00 pm </div>
                            </li>
                            <li class="clearfix">
                                <span><i class="fa fa-clock-o mr-5"></i> Sunday :</span>
                                <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-white">Colsed</span>  </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

        
        <div class="row">
            <div class="col-lg-12 horizontal-contact-widget text-center mt-30 pt-30 text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-4">
                        <div class="each-widget">
                            <i class="fas fa-mobile-alt" style="font-size: 36px;"></i>
                            <h5 class="text-white">Call Us</h5>
                            <p>Phone: <a href="#">+262 695 2601</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-4 mt-sm-50">
                        <div class="each-widget">
                            <i class="fas fa-map-marked-alt" style="font-size: 36px;"></i>
                            <h5 class="text-white">Address</h5>
                            <p>121 King Street, Australia</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-4 mt-sm-50">
                        <div class="each-widget">
                            <i class="fas fa-envelope" style="font-size: 36px;"></i>
                            <h5 class="text-white">Email</h5>
                            <p><a href="#">you@yourdomain.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline styled-icons icon-hover-theme-colored icon-gray icon-circled text-center mt-30 mb-10">
                    <li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter "></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g "></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram "></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in "></i></a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-theme-colored p-20">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="text-white font-11 m-0">Copyright ©2020 Sở Y Tế Đắk Lắk. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>