#tinymce_insert {
  z-index: 9999; }

.child-modal-tinymce {
  z-index: 9999999; }

.modal-max {
  max-width: 95%; }

#tinymce_body {
  padding-top: 0px;
  background: #ECECEC; }
  #tinymce_body ul.breadcrumb {
    margin-bottom: 5px;
    border-radius: 0;
    padding-bottom: 4px;
    padding-top: 6px;
    background: #f0f0f0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-bottom: 1px solid #bbb; }
    #tinymce_body ul.breadcrumb li a {
      color: #000;
      text-decoration: none; }
    #tinymce_body ul.breadcrumb .active {
      color: #999; }
    #tinymce_body ul.breadcrumb .divider {
      padding: 0 5px;
      color: #ccc; }

#tinymce_top {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  background-image: linear-gradient(180deg, #fff, #f2f2f2);
  background-repeat: repeat-x;
  padding-bottom: 3px; }
  #tinymce_top .fas, #tinymce_top .far {
    margin-bottom: 2px;
    padding: 5px;
    margin-top: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    cursor: pointer; }
    #tinymce_top .fas:hover, #tinymce_top .far:hover {
      color: #333;
      text-decoration: none;
      background-position: 0 -15px;
      transition: background-position .1s linear;
      background-color: #e6e6e6; }
  #tinymce_top .filter-input {
    width: 130px;
    height: 23px;
    margin-top: 0px;
    padding: 0 5px;
    background-color: #fff;
    border: 1px solid #ccc; }

.tiny-directory {
  background: #ddd;
  display: block;
  width: 122px;
  margin: auto; }

#tinymce_content {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 10px; }
  #tinymce_content .dir {
    display: inline-block;
    width: 124px;
    height: 119px;
    border: none;
    margin: 4px;
    margin-bottom: 4px;
    margin-bottom: 8px;
    padding: 0;
    vertical-align: top;
    list-style: none; }
  #tinymce_content .acctive {
    border: 1px solid red; }
  #tinymce_content .box {
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    background: #fff;
    width: 122px;
    z-index: 99;
    position: absolute;
    z-index: 1;
    transition: transform .3s; }
    #tinymce_content .box h4 {
      font-size: 13px; }
    #tinymce_content .box a {
      color: #000;
      text-decoration: none; }

.tiny-action {
  text-align: center;
  padding: 2px;
  color: #fff;
  height: 25px;
  width: 122px;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  top: auto;
  box-shadow: inset 0 0 8px 0 rgba(41, 41, 41, 0.5); }
  .tiny-action .fas {
    font-size: 11px;
    padding: 0 10px;
    color: #000;
    cursor: pointer; }
    .tiny-action .fas:hover {
      color: #005cbf; }

.dir:hover .box {
  box-shadow: 0 0 4px 0 rgba(1, 1, 1, 0.5);
  transform: translateY(-26px);
  color: red;
  background-color: yellow; }

#tiny-alert {
  position: absolute;
  width: 100%;
  top: 7px;
  margin: 0 auto; }
  #tiny-alert .alert {
    width: 600px;
    margin: 0 auto; }

/*# sourceMappingURL=tinymce.css.map */
