﻿@model API.Areas.Admin.Models.Ablums.AblumsModel
@using Microsoft.AspNetCore.Http
@{
    string Domain = "";
    if (Context.Request.IsHttps)
    {
        Domain = "https://" + Context.Request.Host;
    }
    else
    {
        Domain = "http://" + Context.Request.Host;
    }

    ViewData["Title"] = (Model.CatItem.Title);
    ViewData["Description"] = (Model.CatItem.Description);
    ViewData["Keywords"] = "";
}
<link rel="stylesheet" href="~/Templates/Default/css/jquery.fancybox.min.css">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white font-italic justify-content-center mb-0 pb-2">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hình ảnh</li>
                </ol>
            </nav>
            <h4 class="title-post" style="text-align: center;">@ViewData["Title"]</h4>
        </div>
    </div>
</div>

<div class="block-content">
    <div class="container">
        <div class="album_box">
            <div class="row">
                @if (Model.ListItems != null && Model.ListItems.Count > 0)
                {
                    for (int i = 0; i < Model.ListItems.Count(); i++)
                    {
                        <div class="col-md-3">
                            <div class="detail-album shadow-sm mb-5">
                                <a href="@Model.ListItems[i].Images" data-fancybox="images" class="item_img" data-caption="@Model.ListItems[i].Title">
                                    <img src="@Model.ListItems[i].Images" class="card-img-top" alt="@Model.ListItems[i].Title" />                                  
                                </a>

                            </div>
                        </div>

                    }
                }

            </div>
        </div>
    </div>


</div>
@section Scripts{

    <script src="~/Templates/Default/js/jquery.fancybox.min.js"></script>
   
}