﻿@model API.Areas.Admin.Models.CategoriesAblums.CategoriesAblumsModel
@{
    ViewData["Title"] = "Hình Ảnh";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();


}

<div class="sec-main-ct">
    <div class="container">
        <div class="sec-main-body">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white font-italic justify-content-center mb-0 pb-2">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                        </ol>
                    </nav>
                    <h4 class="title-post" style="text-align: center;">@ViewData["Title"]</h4>
                </div>
            </div>

            <div class="album_box">
                <div class="row">
                    @for (int i = 0; i < Model.ListItems.Count(); i++)
                    {
                    <div class="col-sm-4 col-6 img-album-item">
                        
                        <a class="img-album-body" asp-controller="Albums" asp-action="Detail" asp-route-id="@Model.ListItems[i].Id" asp-route-alias="@Model.ListItems[i].Alias">
                            <div class="img-album">
                                <img src="@Model.ListItems[i].Images" class="img-thumbnail" style="max-width:235px;max-height:140px;">
                            </div>

                            @if (Model.ListItems[i].Title == null || Model.ListItems[i].Title.Trim() == "")
                            {
                                <h2 class="text-center title-albums">Project</h2>
                            }
                            else
                            {
                                <h2 class="text-center title-albums">@Model.ListItems[i].Title</h2>
                            }

                        </a>
                    </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>