﻿@model API.Areas.Admin.Models.NgaySanXuat.NgaySanXuatModel
@{
    Layout = "_layoutAdmin";
    ViewData["Title"] = "Ngày Sản Xuất";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4><i class="fas fa-table"></i> Ngày Sản Xuất
            <a asp-controller="@ControllerName" asp-action="SaveItem" class=" d-block d-sm-none" style="width: 100px;float: right;text-align: right;color: red;"><i class="fas fa-plus"></i> THÊM MỚI</a>
        </h4>
        
    </div>
    <div class="card-body">
        <partial name="_PartialMsgInfoAdmin" />
        <div class="row">

            <div class="col-lg-12">
                <div class="d-none d-sm-block">
                    <table class="table table-bordered table-striped table-hover  ">
                        <thead>
                            <tr>
                                <th width="50px" class="text-center">STT</th>
                                <th style="width:115px">Ngày Sản Xuất</th>
                                <th style="width:115px">Công suất</th>
                                <th style="width:115px">Sản lượng</th>
                                <th style="width:115px">Mực nước</th>
                                <th width="150px">Tình Trạng</th>
                                <th>Ghi Chú</th>
                                <th width="130px" class="btn-contain">
                                    <a asp-controller="@ControllerName" asp-action="SaveItem" class="btn btn-primary">THÊM MỚI</a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="8" class="text-center">

                                        <label>Không có dữ liệu!</label>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListItems.Count(); i++)
                                {
                                    <tr>
                                        <td width="50px" class="text-center">@Model.ListItems[i].Id</td>
                                        <td>@Model.ListItems[i].NgaySXShow</td>
                                        <td>@Model.ListItems[i].CongXuat</td>
                                        <td>@Model.ListItems[i].SanLuong</td>
                                        <td>@Model.ListItems[i].MucNuocHienTai</td>
                                        <td class="text-center">
                                            @if (@Model.ListItems[i].TinhTrang == 1)
                                            {
                                                <span>Đang hoạt động tốt</span>
                                            }

                                        </td>
                                        <td>@Model.ListItems[i].Description</td>
                                        <td>
                                            <ul class="list-inline action">
                                                <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                                <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>

                    </table>
                    @await Html.PartialAsync("_PartialPagination", Model.Pagination)
                </div>


                <form asp-controller="@ControllerName" asp-action="DeleteItem" id="AjaxDeleteForm"></form>
            </div>
            
            
        </div>

        <div class=" d-block d-sm-none">
            @if (Model.ListItems == null || Model.ListItems.Count() == 0)
            {
                <label>Không có dữ liệu!</label>
            }
            else
            {
                <div class="list-group-mobile">

                    @for (int i = 0; i < Model.ListItems.Count(); i++)
                    {
                        <div class="list-group-mobile-item">
                            <div class="row">
                                <div class="col-9">
                                    <span>@Model.ListItems[i].NgaySXShow</span> <br />
                                    <span><strong>Công Xuất:</strong> @Model.ListItems[i].CongXuat</span>
                                    <span><strong>Sản Lượng:</strong>  @Model.ListItems[i].SanLuong</span> <br />
                                    <span><strong>Mức Nước Hiện Tại:</strong> @Model.ListItems[i].MucNuocHienTai</span>
                                </div>
                                <div class="col-3 p-0">
                                    <ul class="list-inline action">
                                        <li class="list-inline-item"><a asp-controller="@ControllerName" asp-action="SaveItem" asp-route-id="@Model.ListItems[i].Ids"><i class="fa fa-edit"></i>Sửa</a></li>
                                        <li class="list-inline-item"><a data-toggle="modal" data-target="#DeleteModal" data-whatever="@Model.ListItems[i].Title" data-ids="@Model.ListItems[i].Ids"><i class="fa fa-trash"></i>Xóa</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            <div class="mt-2">
                @await Html.PartialAsync("_PartialPagination", Model.PaginationMobile)
            </div>
        </div>

        
    </div>
</div>

@section Scripts{
    <script>
        $("#wrapper .sidebar").addClass("toggled");
    </script>
}
<style>
    .list-group-mobile {
    }

    .list-group-mobile-item {
        border-bottom: 1px solid;
        padding-bottom: 7px;
        padding-top: 7px;
    }
</style>