﻿@model API.Areas.Admin.Models.NgaySanXuat.NgaySanXuatModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Ngày Sản Xuất";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Ngày Sản Xuất";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.IdNhaMay">Nhà Máy <sup class="text-danger"> (*)</sup></label>
                        <select asp-for="Item.IdNhaMay" name="IdNhaMay" class="form-control" asp-items="Model.ListItemsNhaMay"></select>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ngày Sản Xuất <sup class="text-danger"> (*)</sup></label>
                        <div class="input-group date" id="NgaySXShow" data-target-input="nearest">
                            <input type="text" asp-for="Item.NgaySXShow" name="NgaySXShow" class="form-control datetimepicker-input" data-target="#NgaySXShow" id="NgaySXShow" />
                            <div class="input-group-append" data-target="#NgaySXShow" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.TinhTrangThietBi">Tình Trạng</label>
                        <input type="text" class="form-control" asp-for="Item.TinhTrangThietBi" name="TinhTrangThietBi">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.CongXuat">Công suất <sup class="text-danger"> (*)</sup></label>
                        <input type="number" step="0.01" class="form-control" asp-for="Item.CongXuat" name="CongXuat">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.SanLuong">Sản lượng <sup class="text-danger"> (*)</sup></label>
                        <input type="number" step="0.01" class="form-control" asp-for="Item.SanLuong" name="SanLuong">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.MucNuocHienTai">Mực nước hiện tại <sup class="text-danger"> (*)</sup></label>
                        <input type="number" step="0.01" class="form-control" asp-for="Item.MucNuocHienTai" name="MucNuocHienTai">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label asp-for="Item.Title">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Hủy</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">


        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/js/moment.js"></script>
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        $("#wrapper .sidebar").addClass("toggled");
    </script>
    <script>
        $(function () {

            $('#NgaySXShow').datetimepicker({
                format: 'DD/MM/YYYY',
            });
        });
    </script>
}

