﻿@model API.Areas.Admin.Models.USUsers.ChangePassword
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "_LayoutHome";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="wapper-page">
    <div class="container">
        <div class="contain-page shadow-sm p-4">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title-label mb-4">@ViewData["Title"]</h4>
                </div>
                <div class="col-lg-3">
                    @await Html.PartialAsync("_PartialAccountMenu", Model.Item)
                </div>
                <div class="col-lg-9">
                    <div class="card border-0">

                        <div class="card-body p-0">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <partial name="_PartialMsgInfo" />
                            <form asp-controller="@ControllerName" asp-action="ChangePassword" method="post" id="ChangePasswordForm">
                                <div class="form-group">
                                    <label asp-for="OldPassword">Mật khẩu cũ <sup class="text-danger"> (*)</sup></label>
                                    <input type="text" class="form-control" asp-for="OldPassword" name="OldPassword">
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword">Mật khẩu Mới <sup class="text-danger"> (*)</sup></label>
                                    <input type="text" class="form-control" asp-for="NewPassword" name="NewPassword">
                                </div>
                                <div class="form-group">
                                    <label asp-for="RePassword">Nhập lại mật khẩu <sup class="text-danger"> (*)</sup></label>
                                    <input type="text" class="form-control" asp-for="RePassword" name="RePassword">
                                </div>
                                <input type="hidden" class="form-control" asp-for="Id" name="Id">
                                <a class="btn btn-primary" id="btn-changepassword"><i class="fas fa-exchange-alt"></i> Đổi mật khẩu</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/js/account.js"></script>
    <script>
        $("#btn-changepassword").click(function () { document.getElementById("ChangePasswordForm").submit(); });
    </script>

}