﻿@model API.Areas.Admin.Models.USUsers.USUsersModel
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Cập Nhật thông tin - " + Model.Item.FullName;
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="wapper-page">
    <div class="container">
        <div class="contain-page shadow-sm p-4">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title-label mb-4">@ViewData["Title"]</h4>
                </div>
                <div class="col-lg-3">
                    <div class="card border-0">
                        @await Html.PartialAsync("_PartialAccountMenu", Model.Item)
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card border-0">
                       
                        <div class="card-body p-0">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <partial name="_PartialMsgInfo" />
                            <form asp-controller="@ControllerName" asp-action="Info" method="post" id="InfoForm">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.UserName">Tài Khoản <sup class="text-danger"> (*)</sup></label>
                                            <input readonly type="text" class="form-control" asp-for="Item.UserName" name="UserName">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.FullName">Tên</label>
                                            <input asp-for="Item.FullName" name="FullName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.Specialize">Chuyên Môn <sup class="text-danger"> (*)</sup></label>
                                            <input type="text" class="form-control" asp-for="Item.Specialize" name="Specialize">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.IdRegency">Chọn Chức vụ</label>
                                            <select asp-for="Item.IdRegency" name="IdRegency" class="form-control" asp-items="Model.ListDMChucVu"></select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.Email">Email <sup class="text-danger"> (*)</sup></label>
                                            <input readonly="readonly" type="text" class="form-control" asp-for="Item.Email" name="Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Item.Telephone">Điện Thoại</label>
                                            <input asp-for="Item.Telephone" name="Telephone" class="form-control" />
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label asp-for="Item.Description">Mô tả</label>
                                            <textarea asp-for="Item.Description" id="Description" name="Description" class="form-control"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <a class="btn btn-primary" id="SaveItem"><i class="fas fa-save"></i> Lưu</a>
                                <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
                                <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">
                                <input type="hidden" class="form-control" asp-for="Item.IdGroup" name="IdGroup">

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/account.js"></script>
    <script>
        $("#SaveItem").click(function () { document.getElementById("InfoForm").submit(); });
    </script>

}