<div style="background-color: #009307!important;">
	<div style="background: #fff; max-width: 600px; min-width: 320px;padding:20px 50px;margin: 0 auto;">
		<h3 style="font-size:16px;font-weight:bold;color:#02acea;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd;padding-bottom: 7px;">
			Thông tin đơn hàng {{OrderCode}}
			<span style="font-size:13px;color:#777;text-transform:none;font-weight:normal">{{CreatedDate}}</span>
		</h3>
		<!--<div>
		<p>Chào quý khách,</p>
		<p>Vườn quốc gia Ba Vì gửi đến quý khách hóa đơn điện tử cho đơn hàng <strong>{{OrderCode}}</strong>, Quý khách vui lòng kiểm tra hóa đơn và chuyển khoản với nội dung là <strong>Số điện thoại</strong> của quý khách, Mật khẩu tra cứu <strong>{{OrderKey}}</strong></p>
	</div>-->
		<table style="width: 100%;margin-bottom: 15px;">
			<tr>
				<td style="width: 60%">
					<h3 style="padding: 0px 10px 0px 0px;font-family:Arial,Helvetica,sans-serif;font-size: 15px;color:#444;font-weight:bold;text-transform: uppercase;">Thông tin Thanh Toán</h3>
					<ul style="list-style-type: none;margin: 0px;padding: 0px;">
						<li>Tên Khách Hàng: {{FullName}}</li>
						<li>Số Điện Thoại: {{Telephone}}</li>
						<!--<li>Email {{Email}}</li>-->
						<li>Địa chỉ: {{Address}}</li>
					</ul>
				</td>
				<td>
					<h3 style="padding: 0px 10px 0px 0px;font-family:Arial,Helvetica,sans-serif;font-size: 15px;color:#444;font-weight:bold;text-transform: uppercase;">Thông tin khuyến mãi</h3>
					<ul style="list-style-type: none;margin: 0px;padding: 0px;">
						<li>Nhân viên tư vấn: {{TenNV}}</li>
						<li>Số ĐT nhân viên: {{PhoneNV}}</li>
						<li>Mã nhân viên: {{MaNV}}</li>
						<li>Chiết khấu: {{ChietKhau}} %</li>
					</ul>
				</td>
			</tr>
		</table>

		<!--<table style="width: 100%;margin-bottom: 15px;">
		<tr>
			<td>
				<h3 style="padding: 0px 10px 0px 0px;font-family:Arial,Helvetica,sans-serif;font-size: 15px;color:#444;font-weight:bold;text-transform: uppercase;">Thông tin Ngân hàng chuyển khoản</h3>
				<p>
					Tên tài khoản: Trung tâm Giáo dục môi trường và Dịch vụ <br/>
					Số tài khoản: 45110000812442  <br/>
					Ngân hàng BIDV. <br/>
					<h1>Nội dung chuyển khoản là số điện thoại:( <span>{{Telephone}}<span>) của Quý Khách</h1>
				</p>
			</td>
		</tr>
	</table>-->
		<h3 style="padding: 0px 10px 0px 0px;font-family:Arial,Helvetica,sans-serif;font-size: 15px;color:#444;font-weight:bold;text-transform: uppercase;">Thông tin sản phẩm</h3>
		{{ContentProducts}}
	</div>
</div>



