﻿@model API.Areas.Admin.Models.Contacts.ContactsModel
@using Microsoft.AspNetCore.Http;
@{
    
    ViewData["Title"] = "Các câu hỏi đã được trả lời";
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row categoryList">
    @if (Model.ListItems == null || Model.ListItems.Count() == 0)
    {
        <div class="col-lg-12">
            <p class="text-center">Chưa có bài đăng</p>
        </div>

    }
    else
    {
        for (int i = 0; i < Model.ListItems.Count(); i++)
        {
            <div class="col-md-12">
                <div class="hoidap-item">
                    <p><strong>@Model.ListItems[i].Title</strong></p>
                    <p class="date">
                        @Model.ListItems[i].CreatedDateShow  - @Model.ListItems[i].Fullname
                    </p>
                    <p class="question">
                        @Model.ListItems[i].Introtext
                    </p>
                    <button class="btn btn-success" data-bs-toggle="collapse" data-bs-target="#demo@(i)">Xem chi tiết </button>
                    <div id="demo@(i)" class="collapse" style="padding:20px 0; color:#555">
                        <div>
                            <p class="badge bg-success">Trả lời:</p>
                        </div>
                        <div>
                            @Html.Raw(@Model.ListItems[i].Description)
                        </div>

                    </div>
                </div>
            </div>
        }
    }

</div>
<div class="row">
    <div class="col-md-12 mb-3">
        @await Html.PartialAsync("_PartialPagination", Model.Pagination)
    </div>

</div>