﻿@model API.Areas.Admin.Models.Recruitment.RecruitmentModel
@{
    if (Model.Item.Id == 0)
    {
        ViewData["Title"] = "Thêm mới Tuyển Dụng";
    }
    else
    {
        ViewData["Title"] = "Cập nhật Thông tin Tuyển dụng";
    }
    string ControllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link rel="stylesheet" href="~/lib/tinymce/css/tinymce.css" />
<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
    </div>
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="@ControllerName" asp-action="SaveItem" method="post">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Fullname">Họ Tên <sup class="text-danger"> (*)</sup></label>
                        <input type="text" class="form-control" asp-for="Item.Fullname" name="Fullname">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Phone">Điện Thoại</label>
                        <input type="text" class="form-control" asp-for="Item.Phone" name="Phone">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Email">Email</label>
                        <input type="text" class="form-control" asp-for="Item.Email" name="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.Address">Địa Chỉ</label>
                        <input type="text" class="form-control" asp-for="Item.Address" name="Address">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input asp-for="Item.Status" name="Status" class="custom-control-input" />
                            <label class="custom-control-label" asp-for="Item.Status">Trạng Thái</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label asp-for="Item.CreatedDate">Ngày Gửi</label>
                        <input disabled type="text" class="form-control" asp-for="Item.CreatedDate" name="CreatedDate">
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Item.IdLinhVuc">Lĩnh Vực</label>
                        <select asp-for="Item.IdLinhVuc" name="IdLinhVuc" class="form-control" asp-items="Model.ListLinhVuc"></select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="Item.Title">Tiêu đề</label>
                        <input type="text" asp-for="Item.Title" name="Title" class="form-control"/>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label asp-for="Item.Introtext">Câu Hỏi</label>
                <textarea asp-for="Item.Introtext" name="Introtext" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Item.Description">Mô tả</label>
                <textarea asp-for="Item.Description" name="Description" class="form-control"></textarea>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">File Đính kèm</legend>
                        <div class="file-list">

                            @if (Model.Item.ListFile != null && Model.Item.ListFile.Count() > 0)
                            {
                                <input type="hidden" id="maxfile" value="@(Model.Item.ListFile.Count() - 1)">
                                for (int j = 0; j < Model.Item.ListFile.Count(); j++)
                                {
                                    <div class="file-item">
                                        <a onclick="ShowManagerFile('FileName_@j')" class="btn btn-primary">Chọn File</a>
                                        <input type="text" asp-for="@Model.Item.ListFile[j].FilePath" name="ListFile[@j].FilePath" class="FileName" id="FileName_@j">
                                        <span class="text-danger xoafile">Xóa</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <input type="hidden" id="maxfile" value="-1">
                            }
                        </div>
                        <p style="margin:10px 5px; cursor:pointer" class="text-primary" onclick="ThemFile()">
                            <i class="fa fa-plus-square"></i> Thêm file
                        </p>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" name="SaveItem" value="Lưu">
                        <i class="fas fa-save"></i> Lưu lại
                    </button>
                    <a class="btn btn-danger" asp-controller="@ControllerName" asp-action="Index"><i class="fas fa-backward"></i> Quay Lại</a>
                </div>
            </div>

            <input type="hidden" class="form-control" asp-for="Item.Id" name="Id">
            <input type="hidden" class="form-control" asp-for="Item.Ids" name="Ids">

        </form>
    </div>
</div>


<partial name="_PartialTinymce" />
@section Scripts{

    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>
    <script src='/lib/tinymce/js/tinymce_config.js' referrerpolicy="origin"></script>

    <script type="text/javascript">

            function ThemFile() {
                var max = parseInt($("#maxfile").val()) + 1;
                /**/
                $(".file-list").append('<div class="file-item"><a onclick="ShowManagerFile(\'FileName_' + max + '\')"  class="btn btn-primary">Chọn File</a><input type="text" name="ListFile[' + max + '].FilePath" class="FileName" id="FileName_' + max + '">  <span class="text-danger xoafile">Xóa</span></div>');
                /**/
                $("#maxfile").val(max);
            }

            $('.file-list').on('click', '.file-item .xoafile', function (event) {

                $(this).parent().find(".lblFileName").empty();
                $(this).parent().find(".FileName").val("");
            })

    </script>
}

<style>
    .link-article-item {
        margin-top: 10px;
    }
</style>